@{
    @section Title
{
        Dashboard
    }

    ViewBag.Title = "AgencyAdminDashboard";
    Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
}
@section Script{
    <script>
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#spinner').hide();
            $('#li1').addClass("active");
        });
    </script>
}
@section MainContentHolder{
    @{
        Dictionary<string, string> items = ViewBag.agencyadmindashboard as Dictionary<string, string>;
    }
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Dashboard</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="agencybox1">
                <div class="heading_box1"><h3>Staff Statistics</h3></div>
                <div class="inner-con">
                    <div class="row">
                        <div class="wrp-txt">
                            <div class="col-sm-9 col-xs-9"><p>Total Staff</p></div>
                            <div class="col-sm-3 col-xs-3">
                                <p style="text-align:right;">
                                    @if (items["totalstaff"].ToString() != "0")
                                    {
                                        <a href="~/Agency/viewagencystaff/1">@items["totalstaff"]</a>
                                    }
                                    else
                                    {
                                        <a href="#">@items["totalstaff"]</a>
                                    }

                                </p>
                            </div>
                        </div>
                        <div class="wrp-txt">
                            <div class="col-sm-9 col-xs-9"><p>Active Staff</p></div>
                            <div class="col-sm-3 col-xs-3">
                                <p style="text-align:right;">
                                    @if (items["totalactivestaff"].ToString() != "0")
                                    {
                                        <a href="~/Agency/viewagencystaff/2"> @items["totalactivestaff"]</a>
                                    }
                                    else
                                    {
                                        <a href="#"> @items["totalactivestaff"]</a>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="wrp-txt">
                            <div class="col-sm-9 col-xs-9"><p>Inactive Staff</p></div>
                            <div class="col-sm-3 col-xs-3">
                                <p style="text-align:right;">
                                    @if (items["totaldeactivestaff"].ToString() != "0")
                                    {
                                        <a href="~/Agency/viewagencystaff/3">@items["totaldeactivestaff"]</a>
                                    }
                                    else
                                    {
                                        <a href="#">@items["totaldeactivestaff"]</a>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="wrp-txt">
                            <div class="col-sm-9 col-xs-9"><p>Suspended Staff</p></div>
                            <div class="col-sm-3 col-xs-3">
                                <p style="text-align:right;">
                                    @if (items["totalsuspendedstaff"].ToString() != "0")
                                    {
                                        <a href="~/Agency/viewagencystaff/4">@items["totalsuspendedstaff"]</a>
                                    }
                                    else
                                    {
                                        <a href="#">@items["totalsuspendedstaff"]</a>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!---agencybox1-->
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="agencybox1">
                <div class="heading_box1"><h3>User Statistics</h3></div>
                <div class="inner-con">
                    <div class="row">
                        <div class="wrp-txt">
                            <div class="col-sm-9 col-xs-9"><p>Pending Approval</p></div>
                            <div class="col-sm-3 col-xs-3">
                                <p style="text-align:right;">

                                    @if (items["pendingapproval"].ToString() != "0")
                                    {
                                        <a href="~/AgencyAdmin/pendingApproval">@items["pendingapproval"]</a>
                                    }
                                    else
                                    {
                                        <a href="#">@items["pendingapproval"]</a>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="wrp-txt">
                            <div class="col-sm-9 col-xs-9"><p>Pending Verification</p></div>
                            <div class="col-sm-3 col-xs-3">
                                <p style="text-align:right;">
                                    @if (items["pendingverification"].ToString() != "0")
                                    {
                                        <a href="~/AgencyAdmin/pendingVerification">@items["pendingverification"]</a>
                                    }
                                    else
                                    {
                                        <a href="#">@items["pendingverification"]</a>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="wrp-txt">
                            <div class="col-sm-9 col-xs-9"><p>Rejected Request</p></div>
                            <div class="col-sm-3 col-xs-3">
                                <p style="text-align:right;">
                                    @if (items["Rejectedrequest"].ToString() != "0")
                                    {
                                        <a href="~/AgencyUser/rejectedList">@items["Rejectedrequest"]</a>
                                    }
                                    else
                                    {
                                        <a href="#">@items["Rejectedrequest"]</a>
                                    }
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div><!---agencybox1-->
        </div>
    </div>
}


