@model FingerprintsModel.ExecutiveDashBoard
@{
    @section Title{
        Dashboard
    }
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@section Script{
    
}

@section maincontentholder
        {
    
    <link href="~/Content/css/EACDashboard.css" rel="stylesheet" />
    <script src="http://www.jlion.com/js/jquery-1.6.1.js"></script>
    <script src="~/Content/Scripts/jliontherm.js"></script>
    <script src="~/Content/Scripts/jliontherm-hours.js"></script>
    <link href="~/Content/css/jliontherm.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <style>
        .edu-tbl-title h2 {
                font-size: 22px !important;
        }
    </style>
    <div class="row">

        @Html.Partial("~/Views/Partialviews/CenterClosureAlert.cshtml")

        <div class="col-lg-12">
            <h2 class="page-header page-header-change">@ViewBag.RoleName Dashboard</h2>
        </div>
    </div>

    <div class="edu-block-all" style="position:relative;">
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12 tablist-hole">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tab-lists tb-lt" role="tablist">
                                <li role="presentation" class="active"><a href="#Agency" aria-controls="Agency" role="tab" data-toggle="tab">@ViewBag.ViewType View</a></li>
                                <li role="presentation" class=""><a href="/PIR/PIRSummary" aria-controls="Pir" role="tab"  class="tab-pad">PIR</a></li>
                                <li role="presentation" class=""><a href="/AgencyUser/DemographicPercentage" aria-controls="Demo" role="tab" class="tab-pad">Demo</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tb-bd col-xs-12">
                                @if (Session["Roleid"].ToString().Contains("7c2422ba-7bd4-4278-99af-b694dcab7367"))
                                {
                                <div role="tabpanel" class="tab-pane fade  ma-tab active in" id="Agency">
                                    <div class="col-md-3 col-sm-6 col-xs-12 tab-img-al">
                                        <div class="tab-img">
                                            <img src="~/Images/tab-img.png">
                                            <div class="tab-desc">
                                                <h3>ADA</h3>
                                                <p>@Model.ADA%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 tab-img-al slots-board" style="cursor: pointer;">
                                        <div class="tab-img">
                                            <img src="~/Images/tab-img.png">
                                            <div class="tab-desc">
                                                <h3>SLOTS</h3>
                                                <p class="blue-colour">@Model.AvailablePercentage %</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 tab-img-al" >
                                        <div class="tab-img">
                                            <img src="~/Images/tab-img.png">
                                            <div class="tab-desc">
                                                <h3>SEATS</h3>
                                                <p class="yellow-colour">@Model.AvailableSeat</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 tab-img-al seats-board" style="cursor: pointer;">
                                        <div class="tab-img">
                                            <img src="~/Images/tab-img.png">
                                            <div class="tab-desc">
                                                <h3>YESTERDAY</h3>
                                                <p class="red-colour">@Model.YesterDayAttendance</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                else if (Session["Roleid"].ToString().Contains("b4d86d72-0b86-41b2-adc4-5ccce7e9775b") || Session["Roleid"].ToString().Contains("2af7205e-87b4-4ca7-8ca8-95827c08564c"))
                                {
                                    <div class="col-md-4 col-sm-6 col-xs-12 tab-img-al">
                                        <div class="tab-img">
                                            <img src="~/Images/tab-img.png">
                                            <div class="tab-desc">
                                                <h3>ADA</h3>
                                                <p>@Model.ADA%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 tab-img-al">
                                        <div class="tab-img">
                                            <img src="~/Images/tab-img.png">
                                            <div class="tab-desc">
                                                <h3>SEATS</h3>
                                                <p class="yellow-colour">@Model.AvailableSeat</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 tab-img-al seats-board">
                                        <div class="tab-img">
                                            <img src="~/Images/tab-img.png">
                                            <div class="tab-desc">
                                                <h3>YESTERDAY</h3>
                                                <p class="red-colour">@Model.YesterDayAttendance</p>
                                            </div>
                                        </div>
                                    </div>
                                }                               
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 table-block-res">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="col-xs-12 no-padding edu-tbl-all">
                                    <div class="edu-tbl-title">
                                        <h2>Enrolled By Program</h2>
                                        <div class="pin"><img src="~/Images/pin.png"></div>
                                    </div>
                                    <div class="col-xs-12 no-padding" style="height:292px;overflow:auto;">
                                        <table class="edu-table-block  edu-table-enroll col-xs-12 no-padding">

                                            <tr>
                                                <th>Program</th>
                                                <th>Funded</th>
                                                <th>Actual</th>
                                            </tr>
                                            @if (Model.EnrolledProgramList != null)
                                            {
                                                foreach (FingerprintsModel.ExecutiveDashBoard.EnrolledProgram enrollProgram in Model.EnrolledProgramList)
                                                {
                                                    <tr>
                                                        <td>@enrollProgram.ProgramType</td>
                                                        <td class="number-center">@enrollProgram.Total</td>
                                                        <td class="number-center">@enrollProgram.Available</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr><td colspan="3">No Result Found.</td></tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="col-xs-12 no-padding edu-tbl-all edu-tbl-all-blue">
                                    <div class="edu-tbl-title edu-title-blue">
                                        <h2>Missing Screening</h2>
                                        <div class="pin"><img src="~/Images/pin.png"></div>
                                    </div>
                                    <div class="col-xs-12 no-padding" style="height:292px;overflow:auto;">
                                        <table class="edu-table-block edu-table-missing col-xs-12 no-padding">
                                            <tr>
                                                <th>Screen Name</th>
                                                <th>Count</th>
                                            </tr>
                                            @if (Model.MissingScreenList != null)
                                            {
                                                foreach (FingerprintsModel.ExecutiveDashBoard.MissingScreen MissingScreen in Model.MissingScreenList)
                                                {
                                                    <tr>
                                                        <td>@MissingScreen.Name</td>
                                                        <td class="number-center">@MissingScreen.Screen</td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="col-xs-12 no-padding edu-tbl-all edu-tbl-all-red">
                                    <div class="edu-tbl-title edu-title-red">
                                        <h2>Classroom Type</h2>
                                        <div class="pin"><img src="~/Images/pin.png"></div>
                                    </div>
                                    <div class="col-xs-12 no-padding" style="height:292px;overflow:auto;">
                                        <table class="edu-table-block edu-table-class col-xs-12 no-padding">
                                            <tr>
                                                <th>Room Type</th>
                                                <th>Total</th>
                                                <th>Actual</th>
                                            </tr>
                                            @if (Model.ClassRoomTypeList != null)
                                            {
                                                foreach (FingerprintsModel.ExecutiveDashBoard.ClassRoomType classRoomType in Model.ClassRoomTypeList)
                                                {
                                                    <tr>
                                                        <td>@classRoomType.ClassSession</td>
                                                        <td class="number-center">@classRoomType.Total</td>
                                                        <td class="number-center">@classRoomType.Available</td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="col-xs-12 no-padding edu-tbl-all edu-tbl-all-black">
                                    <div class="edu-tbl-title edu-title-black">
                                        <h2>Case Note Analysis</h2>
                                    </div>
                                    <div class="graph-img1">
                                        <div id="chartdiv" style=" height: 350px;margin-left: -26px;margin-top: -25px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="col-xs-12 no-padding edu-tbl-all edu-tbl-graph">
                                    <div class="graph-img">
                                        <div id="thermometer"></div>
                                        <div id="thermometer-hours"></div>

                                        <div id="value">
                                            <input type="text" size="10" id="txtThermHours" value="@Model.ThermHours" style="display:none;" />
                                            <input type="text" size="10" id="txtThermDollars" value="@Model.ThermDollars" style="display:none;" />
                                            <input type="text" size="10" id="txtTotalHours" value="@Model.TotalHours" style="display:none;" />
                                            <input type="text" size="10" id="txtTotalDollars" value="@Model.TotalDollars" style="display:none;" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="col-xs-12 no-padding edu-tbl-all edu-tbl-all-orange">
                                    <div class="edu-tbl-title edu-title-orange">
                                        <h2>Employee Birthday</h2>
                                        <div class="pin"><img src="~/Images/pin.png"></div>
                                    </div>
                                    <div class="col-xs-12 no-padding" style="height:292px;overflow:auto;">

                                        <table class="edu-table-block edu-table-birthday col-xs-12 no-padding">
                                            <tr>
                                                <th>Name</th>
                                                <th>Date</th>
                                            </tr>
                                            @if (Model.EmployeeBirthdayList != null && Model.EmployeeBirthdayList.Count() > 0)
                                            {
                                                foreach (FingerprintsModel.ExecutiveDashBoard.EmployeeBirthday empBirthday in Model.EmployeeBirthdayList)
                                                {
                                                    <tr>
                                                        <td>@empBirthday.Staff</td>
                                                        <td>@empBirthday.DateOfBirth</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr><td colspan="2">No Birthday Found.</td></tr>
                                            }
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 content-block">

                        <div class="col-lg-4 col-sm-6 col-xs-12 tab-img-al">
                            <div class="tab-img">
                                <img src="~/Images/tab-img.png">
                                <div class="tab-desc">
                                    <h3>Disabilities</h3>
                                    <p>@Model.DisabilityPercentage %</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12 tab-img-al">
                            <div class="tab-img">
                                <img src="~/Images/tab-img.png">
                                <div class="tab-desc">
                                    <h3>Over Income</h3>
                                    <p class="blue-colour">@Model.FamilyOverIncome %</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12 tab-img-al">
                            <div class="tab-img">
                                <img src="~/Images/tab-img.png">
                                <div class="tab-desc">
                                    <h3 style="padding-top:0;">Waiting List</h3>
                                    <p class="orange-colour" style="font-size:30px;">@Model.WaitingList %</p>
                                    <p class="orange-colour" style="font-size:24px;color: #2ecc71!important;"><span></span> @Model.WaitingListCount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>

        </div>
        <div class="footer-bg-img-al">
            <div class="footer-bg-img">
                <img src="~/Images/footer-img1.png" class="footer-im1">
                <img src="~/Images/footer-img2.png" class="footer-im2">
            </div>
        </div>
    </div>

   <div class="modal fade" id="myModalSlots" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" name="childid" id="childid" value="">
                <input type="hidden" name="childname" id="childname" value="">
                <label class="alert-dismissible" for="current_password">Slots</label>
            </div>
            <div class="form-group-al">
                <div class="form-group input-container">
                  
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <label class="control-label" for="current_password">Date:</label>
                        </div>
                        <div class='col-xs-12 col-sm-4'>
                            <div class="form-group">
                                <div class='input-group date'>
                                    <input type='text' class="form-control txtslotdate txt-date txt-mandatory"  maxlength="12" placeholder="mm/dd/yyyy" id='slotsDatetimePicker' />
                                    <span class="input-group-addon datepicker-icon slots-icon" style="cursor:pointer;">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            @*<input name="CNotes" style="width: 30%;display:inline-block;" class="form-control txtslotdate txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">*@
                            <button class="btn-slot-submit address-btn btn btn-primary" style="display:inline-block;width:auto;">Submit</button>
                        </div>
                       
                    </div>
                   
                    <div class="err-container" style="height:15px;">
                        <label class="control-label" for="current_password"></label>
                        <span class="error-message slots-message-empty error-message-empty" style="margin-top:10px;display:inline-block;">Date is mandatory</span>
                        <span class="error-message slots-invalid-date error-invalid-date" style="margin-top:10px;display:inline-block;">Invalid Date</span>
                        <span class="error-message slots-future-date error-future-date" style="margin-top:10px;display:inline-block;">Future date is not allowed</span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="current_password">Slots Count:</label>
                        <div style="width:auto;display:inline-block;margin-top:10px;width:auto;margin-left: 15px;" class="col-xs-pull-8">
                            <span class="sp-slots-count">0</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="current_password">Expiring Slots:</label>
                        <div style="width:auto;display:inline-block;margin-top:10px;width:auto;" class="col-xs-8">
                            <span class="sp-expiringslots-count">0</span>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="current_password">Empty Slots:</label>
                        <div style="width:auto;display:inline-block;margin-top:10px;width:auto;" class="col-xs-8">
                            <span class="sp-emptyslots-count">0</span>
                        </div>
                    </div>
                </div>
                </div>
            <div class="modal-footer">
                <button class="btnPassword address-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalSeats" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" name="childid" id="childid" value="">
                <input type="hidden" name="childname" id="childname" value="">
                <label class="alert-dismissible" for="current_password">Attendance</label>
            </div>
            <div class="form-group-al">
                <div class="form-group input-container">

                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <label class="control-label" for="current_password">Date:</label>
                        </div>
                        <div class='col-xs-12 col-sm-4'>
                            <div class="form-group">
                                <div class='input-group date'>
                                    <input type='text' class="form-control txtseatdate txt-date txt-mandatory" maxlength="12" placeholder="mm/dd/yyyy" id='seatsDatetimePicker' />
                                    <span class="input-group-addon datepicker-icon seats-icon" style="cursor:pointer;">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            @*<input name="CNotes" style="width: 30%;display:inline-block;" class="form-control txtslotdate txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">*@
                            <button class="btn-seat-submit address-btn btn btn-primary" style="display:inline-block;width:auto;">Submit</button>
                        </div>

                    </div>

                    @*<label class="control-label" for="current_password" style="width:180px;">Date:</label>
                    <input name="CNotes" style="width: 30%;display:inline-block" class="form-control txtseatdate txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                    <button class="btn-seat-submit address-btn btn btn-primary" style="width:auto;display:inline-block;">Submit</button>*@
                    <div class="err-container" style="height:15px;">
                        <label class="control-label" for="current_password" style="width:180px;"></label>
                        <span class="error-message seats-message-empty error-message-empty" style="margin-top:10px;display:inline-block;">Date is mandatory</span>
                        <span class="error-message seats-invalid-date error-invalid-date" style="margin-top:10px;display:inline-block;">Invalid Date</span>
                        <span class="error-message seats-future-date error-future-date" style="margin-top:10px;display:inline-block;">Future date is not allowed</span>
                    </div>
                </div>
               
                    <div class="form-group" style="margin-top:10px;">
                        <div class="col-xs-12" style="border: 1px solid #9B58B4; width: 80%;left: 10%; right: 10%;background:#9B58B4;">
                            <label style="text-align:center;font-weight:bold;color:#fff;margin:5px;">Center Based - Daily</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 no-padding" for="current_password">Present Count:</label>
                        <div style="width:auto;display:inline-block;margin-top:10px;width:auto;" class="col-xs-8">
                            <span class="engagement-minutes sp-seats-count">0</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4 no-padding" for="current_password">Present Percentage:</label>
                        <div style="width:auto;display:inline-block;margin-top:10px;width:auto;" class="col-xs-8">
                            <span class="engagement-activity sp-seatpercentage-count">0</span>%
                        </div>
                    </div>
                
                <div class="form-group">
                    <div class="col-xs-12" style="border: 1px solid #9B58B4; width: 80%;left: 10%; right: 10%;background:#9B58B4;">
                        <label style="text-align:center;font-weight:bold;color:#fff;margin:5px;">Home Based - Weekly</label>
                    </div>
                </div>
                <div class="form-group">

                    <label class="control-label col-xs-4 no-padding" for="current_password">Present Count:</label>
                    <div style="width:auto;display:inline-block;margin-top:10px;width:auto;" class="col-xs-8">
                        <span class="engagement-minutes sp-seats-home-count">0</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4 no-padding" for="current_password">Present Percentage:</label>
                    <div style="width:auto;display:inline-block;margin-top:10px;width:auto;" class="col-xs-8">
                        <span class="engagement-activity sp-seatpercentage-home-count">0</span>%
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btnPassword address-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" language="javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        function GoogleChart() {
            //PageLoad
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("Barchart")',
                data: '{}',
                success: function (chartsdata) {

                    if (chartsdata == "Error") {
                        alert("Unable to load case not analysis!");
                    }
                    else {
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Month');
                        data.addColumn('number', 'Percentage');

                        for (var i = 0; i < chartsdata.length; i++) {
                            
                            data.addRow([chartsdata[i].Name, chartsdata[i].Value]);
                        }
                  
                        //Apply All charts change in this page ****
                        var chart = new google.visualization.ColumnChart(document.getElementById('chartdiv'));

                        var options = {
                            // title: 'Column Chart Sample',

                            hAxis: {
                                title: '',
                                textStyle: {
                                    fontSize: '11', color: '#919599'
                                }
                            },
                            vAxis: {
                                title: '',
                                textStyle: {
                                    fontSize: '11', color: '#919599'
                                },
                                minValue: 0,
                                maxValue: 100,
                                format: '#\'%\''
                            },
                            lineWidth: 1,
                            legend: { position: 'none' },
                            backgroundColor: { fill: "none" },
                            colors: ['#1d77f2'],
                            is3D: true,
                            position: "top",
                            chartArea: { width: "70%" }
                        };
                        chart.draw(data, options);
                       // console.log(data);
                    }
                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            });

        }
    </script>
<script src="~/Content/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Samplescript/jquery.datetimepicker.min.js"></script>
<script src="~/Content/Scripts/EACDashboard.js"></script>

   
}



