@model FingerprintsModel.TeacherModel

@{
    ViewBag.Title = "CheckInCheckOutDetail";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";

}


@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script src="jquery.signature.js"></script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/south-street/jquery-ui.css" rel="stylesheet">
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/south-street/jquery-ui.css" rel="stylesheet">
<link href="jquery.signature.css" rel="stylesheet">

@section Script{

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <style>
        .kbw-signature {
            width: 400px;
            height: 200px;
        }

        
    </style>
   
  
<script>
    $(document).ready(function () {
        $('input').keypress(function () {
            if ($(this).val() == 'MM/DD/YYYY') {
                $(this).val('');
                // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            }
        });

    });
    function removeclasss() {
        $('#ParentCheckIn').removeClass("active");
        $('#ParentCheckIn').removeClass("in");
        $('#OfficeUse').removeClass("active");
        $('#OfficeUse').removeClass("in");

        if ('' != '') {
            if ('' == '2') {

                removeclasss();
                $('#ParentCheckIn').addClass("in");
                $('#ParentCheckIn').addClass("active");
                $('#OfficeUse').removeClass("active");
                $('#OfficeUse').removeClass("in");
                $('#myTab li:eq(1) a').tab('show');

            }

        }
        else {

            $('#myTab a:first').tab('show');

        }
    }
    $(function () {
        if ('@Model.ParentCheckedIn' == '00000') {
            $('#others').show();
        } else {
            $('#others').hide();
        }
        if ('@Model.OtherNameTeacher' == '') {
            $('#othersTeacher').hide();
        } else {
            $('#othersTeacher').show();
        }
        $('#sig').signature();
        $('#sig').signature('draw', ('@Html.Raw(Model.ParentSig)'));
        $('#sig1').signature();
        var teachersig = '@Html.Raw(Model.TeacherCheckInSig)';
        if (teachersig.length > 0) {
            $('#sig1').signature('draw', ('@Html.Raw(Model.TeacherCheckInSig)'));
        }
        $('#sig2').signature();
        $('#sig2').signature('draw', ('@Html.Raw(Model.ParentSigOut)'));
        $('#sig3').signature();
        $('#sig3').signature('draw', ('@Html.Raw(Model.ParentSig2)'));
        $('#sig4').signature();
        $('#sig4').signature('draw', ('@Html.Raw(Model.ParentSigOut2)'));

        $('#json').click(function() {
            alert($('#sig').signature('toJSON'));
        });
        $('#svg').click(function() {
            alert($('#sig').signature('toSVG'));
        });

        $("input[name=Parent1]").click(function () {

            //alert($("input[name=Parent1]:checked").val());
            if ($("input[name=Parent1]:checked").val() == "00000") {
                $('#others').show();
                plainValidation('#OtherNotes');

            } else {
                $('#others').hide();
            }
            });
        $("input[name=Teacher]").click(function () {

            //alert($("input[name=Parent1]:checked").val());
            if ($("input[name=Teacher]:checked").val() == "00000") {
                $('#othersTeacher').show();
                plainValidation('#OtherNotesTeacher');

            } else {
                $('#othersTeacher').hide();
            }
        });
    });
</script>
   


}


@section MainContentHolder{



    <form method="post" enctype="multipart/form-data">
       
       

    <script>



        $(window).on('popstate', function () {
            var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
            $('a[href=' + anchor + ']').tab('show');
        });


        function SaveSignature() {
            isValid = false;
            var sigToImage = $('#sig').signature('toJSON');
            $('#imageSig').val(sigToImage);
            $('#ConvertedImage').val(1);
            $('#sigtype').val(1);
           return isValid;
        }
        function SaveSignatureTeacher() {
            isValid = false;
            var sigToImage = $('#sig1').signature('toJSON');
            $('#imageSigTeacher').val(sigToImage);
            $('#ConvertedImageTeacher').val(1);
            $('#sigtype').val(2);
            return isValid;
        }
        function ClearSignature() {
            isValid = false;
            $('#clear').click(function () {
                $('#sig').signature('clear');
            });
            $('#clearTeacher').click(function () {
                $('#sig1').signature('clear');
            });
            return isValid;
        }
        function ValidateDataTeacher() {
            isValid = true;
            if ($("input[name=Teacher]:checked").length == 0) {
                customAlert("A Check In name is required. ");
                plainValidation('#Teacher');
                isValid = false;
            }
            if ($('#ConvertedImageTeacher').val() == 0) {
                customAlert("Please sign and accept signature. ");
                plainValidation('#imageSigTeacher');
                isValid = false;
            }
        
            var parentsig = '@Html.Raw(Model.ParentSig))';
           
            if (parentsig == '{"lines":[]})') {
                customAlert("This child must be signed in prior to the Daily Health Check. ");
                plainValidation('#imageSig');
                isValid = false;
            }
            return isValid;
        }
        function ValidateData() {
            isValid = true;

            if ($("input[name=Parent1]:checked").length == 0) {
                customAlert("A Check In name is required. ");
                plainValidation('#Parent1');
                isValid = false;
            }

            if ($('#ConvertedImage').val() == 0) {
                customAlert("Please sign and accept signature. ");
                plainValidation('#imageSig');
                isValid = false;
            }

            return isValid;
        }




    </script>

    <input type="hidden" id="profileindex" name="profileindex" />
    <input type="hidden" id="eduindex" name="eduindex" />
    @using (Html.BeginForm("Roster", "Teacher"))
    {
            <input type="hidden" name="sigtype" id="sigtype">
            <div class="row"  id="ScreeningDiv" style="margin-top:4%;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel with-nav-tabs panel-primary" id="MyProfileTab">
                       

                        <div id="myTabContent" class="tab-content">

                            <div class="tab-pane fade in active" id="ParentCheckIn">
                                <div class="add-useragform">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">

                                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                <h4 class="page-header">

                                                    @Model.CName 's  Attendance Detail <span class="attend-date"><font size="3"><i>for</i></font></span>  @Model.Tdate
                                                   
                                                </h4>

                                            </div>

                                            <!-- /.col-lg-12 -->


                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                <div class="add-useragform student-scroll full-border full-border-margin">

                                                    <h4 class="text-black">Check In/ Check Out Details </h4>
                                                    @if (Model.ParentCheckedIn == Model.Parent1ID)
                                                    {
                                                       <label>@Model.Parent1Name <i><b>Checked In</b></i> @Model.CName at @Model.TimeIn</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                       <div id="sig" class="col-sm-12"></div>
                                                    }
                                                    @if ((@Model.Parent2Name.Length) > 1)
                                                    {
                                                        if (Model.ParentCheckedIn == Model.Parent2ID)
                                                        {
                                                    <label>@Model.Parent2Name  <i><b>Checked</b></i> In @Model.CName at @Model.TimeIn</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                     <div id="sig" class="col-sm-12"></div>
                                                        }
                                                    }
                                                    @if (Model.ParentCheckedIn == "00000")
                                                    {
                                                       
                                                         <label>@Model.OtherName  <i><b>Checked In</b></i> @Model.CName at @Model.TimeIn</label>
                                                        <div class="col-sm-12">
                                                            <label class="divider"> </label>
                                                        </div>
                                                         <div id="sig" class="col-sm-12"></div>
                                                    }
                                                      
                                                </div>
                                                @foreach (var oo in Model.Observationlst)
                                                {
                                                    foreach (var o in Model.ObservationlstChecked)
                                                     {
                                                        var obserchecked = o.ObservationIDChecked;
                                                        if (obserchecked == oo.ObservationID)
                                                        {
                                                            <div class="col-sm-12">
                                                              <label class="text">Teacher's Observation <b>@oo.ObservationDescription</b></label>
                                                             </div>
                                                           break;
                                                        }
                                                    }

                                                }
                                                
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                <div class="add-useragform student-scroll full-border full-border-margin">
                                                    @if (Model.ParentCheckedOut == Model.Parent1ID)
                                                    {
                                                    <label>@Model.Parent1Name <i><b>Checked Out</b></i> @Model.CName at @Model.TimeOut</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                    <div id="sig2" class="col-sm-12"></div>
                                                    }
                                                    @if ((@Model.Parent2Name.Length) > 1)
                                                    {
                                                        if (Model.ParentCheckedOut == Model.Parent2ID)
                                                        {
                                                    <label>@Model.Parent2Name  <i><b>Checked Out</b></i> @Model.CName at @Model.TimeOut</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                    <div id="sig2" class="col-sm-12"></div>
                                                        }
                                                    }
                                                    @if (Model.ParentCheckedOut == "00000")
                                                    {
                                                    <label>@Model.OtherName  <i><b>Checked Out</b></i> @Model.CName at @Model.TimeOut</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                    <div id="sig2" class="col-sm-12"></div>
                                                    }

                                                    @if (Model.ParentCheckedOut == "1")
                                                    {
                                                        <label>@Model.OtherNameOut  <i><b>Checked Out</b></i> @Model.CName at @Model.TimeOut</label>
                                                        <div class="col-sm-12">
                                                            <label class="divider"> </label>
                                                        </div>
                                                        <div id="sig2" class="col-sm-12"></div>
                                                    }
                                             </div>
                                               
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                <div class="add-useragform student-scroll full-border full-border-margin">
                                                    @if (Model.ParentCheckedIn2 == Model.Parent1ID)
                                                    {
                                                    <label>@Model.Parent1Name <i><b>Checked In</b></i> @Model.CName at @Model.TimeIn2</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                    <div id="sig3" class="col-sm-12"></div>
                                                    }
                                                                                                         
                                                    @if ((@Model.Parent2Name.Length) > 1)
                                                    {
                                                        if (Model.ParentCheckedIn2 == Model.Parent2ID)
                                                        {
                                                    <label>@Model.Parent2Name  <i><b>Checked In</b></i> @Model.CName at @Model.TimeIn2</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                    <div id="sig3" class="col-sm-12"></div>
                                                        }
                                                    }
                                                    @if (Model.ParentCheckedIn2 == "00000")
                                                    {
                                                    <label>@Model.OtherNameIn2  <i><b>Checked In</b></i> @Model.CName at @Model.TimeIn2</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                    <div id="sig3" class="col-sm-12"></div>
                                                    }
                                               </div>
                                                
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                <div class="add-useragform student-scroll full-border full-border-margin">
                                                    @if (Model.ParentCheckedOut2 == Model.Parent1ID)
                                                    { 
                                                        <label>@Model.Parent1Name <i><b>Checked Out</b></i> @Model.CName at @Model.TimeOut2</label>
                                                        <div class="col-sm-12">
                                                            <label class="divider"> </label>
                                                        </div>
                                                        <div id="sig4" class="col-sm-12"></div>
                                                    }
                                                    @if ((@Model.Parent2Name.Length) > 1)
                                                    {
                                                        if (Model.ParentCheckedOut2 == Model.Parent2ID)
                                                        {
                                                         <label>@Model.Parent2Name  <i><b>Checked Out</b></i> @Model.CName at @Model.TimeOut2</label>
                                                        <div class="col-sm-12">
                                                            <label class="divider"> </label>
                                                        </div>
                                                        <div id="sig4" class="col-sm-12"></div>
                                                        }
                                                    }
                                                    @if (Model.ParentCheckedOut2 == "00000")
                                                    {
                                                    <label>@Model.OtherNameOut2  <i><b>Checked Out</b></i> @Model.CName at @Model.TimeOut2</label>
                                                    <div class="col-sm-12">
                                                        <label class="divider"> </label>
                                                    </div>
                                                    <div id="sig4" class="col-sm-12"></div>
                                                    }
                                                </div>
                                                
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                <div class="add-useragform student-scroll full-border full-border-margin">
                                                   
                                                    <input type="hidden" id="childid" value="@Model.ClientID" />

                                                    @Html.Hidden("imageSig", "")
                                                    <input type="hidden" id="ConvertedImage" value="0" />
                                                  
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                    <div class="add-useragform student-scroll full-border full-border-margin">
                                                        
                                                        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <h4> </h4>
                                                           <button class="btnPassword" onclick="location.href='@Url.Action("Roster", "Teacher")';return false;">
                                                                Exit
                                                            </button>
                                                            <h4> </h4>
                                                            </div>
                                                        </div>
                                                </div>
                                           </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                   
                        </div>
                    </div>
                </div>
                </div>
            }
</form>

}

<h2>Roster</h2>
