@model FingerprintsModel.TeacherModel
@{
    ViewBag.Title = "ParentCheckIn";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";

}

<script type="text/javascript" src="code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/south-street/jquery-ui.css" rel="stylesheet">
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/south-street/jquery-ui.css" rel="stylesheet">
@section Script{
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        .kbw-signature {
            width: 400px;
            height: 200px;
        }

        .sec-radios span {
    margin-right: 10px;
    float: left;
    color: #fff;
}

        .sec-radios span input {
    margin-right: 5px;
}
        span.sec-radios label {
    margin-top: 0;
    float: right;
}
        .sec-radios span {
    margin-right: 10px;
    /*float: left;*/
    color: #fff;
}
.check-space {
    margin-top: 0px;
    float: left;
    margin-right: 4px;
}
    .hours-div label {
    width: auto !important;
    float: left;
    margin-right: 14px;    font-weight: 300 !important;
    color: #000 !important;
}
    .hours-div input[type="radio"] {
    width: auto !important;
    float: left;
    margin-right: 3px;
}
    div#parent-check-inkind-div label {
    color: #295b8f;
    font-weight: 600;
}#parent-check-inkind-div label span.activity_desc {
    color: #000;
    font-weight: 300;
}
    .table-main-sec {
    margin-top: 20px;
    width: 100%;
    float: left;
}
   
    @@media only screen and (min-width: 768px) and (max-width: 1200px){
        label.witpart {
    width: 100% !important;
}
        input#ActivityDate {
    width: 100% !important;
}
         .parent-info.section .hours-div {
    margin-top: 24px;
}
    }
    </style>


    <script>
        function validatedate(inputTextObject) {
            if ($(inputTextObject).val().trim() != "MM/DD/YYYY" && $(inputTextObject).val().trim() != "") {
                var dateformat = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
                var regex = new RegExp(dateformat);
                if (regex.test($(inputTextObject).val())) {
                    var dob = new Date();
                    var now = new Date();
                    if (Date.parse($(inputTextObject).val()) >= now) {
                        customAlert("Invalid Activity Date. Date must be less than today's date. ");
                        $(inputTextObject).val('');
                        return false;
                    }


                }
                else {
                    customAlert("Invalid Date");
                    $(inputTextObject).val('');
                    return false;
                }

            }

        }
        function removeclasss() {
            $('#ParentCheckIn').removeClass("active");
            $('#ParentCheckIn').removeClass("in");
            $('#OfficeUse').removeClass("active");
            $('#OfficeUse').removeClass("in");

            if ('' != '') {
                if ('' == '2') {

                    removeclasss();
                    $('#ParentCheckIn').addClass("in");
                    $('#ParentCheckIn').addClass("active");
                    $('#OfficeUse').removeClass("active");
                    $('#OfficeUse').removeClass("in");
                    $('#myTab li:eq(1) a').tab('show');

                }

            }
            else {

                $('#myTab a:first').tab('show');

            }
        }

        function getFormattedDate(date) {
            date = new Date(date);
            var year = date.getFullYear();

            var month = (1 + date.getMonth()).toString();
            month = month.length > 1 ? month : '0' + month;

            var day = date.getDate().toString();
            day = day.length > 1 ? day : '0' + day;

            return month + '/' + day + '/' + year;
        }
        $(function () {



            $('#ActivityDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            @*$('#side-menu').hide();
            $('#menu-head').hide();*@
            if ('@ViewBag.message' != '') {
                customAlert('@ViewBag.message');
            }

            var pastlocation = '@Request.UrlReferrer';

            if ('@(ViewData["ActiveTabTeacher"])' != '0') {
                $('#myTab li:eq(1) a').tab('show');
            }
            if (pastlocation.substring(pastlocation.length - 6, pastlocation.length) == "Roster") {
                $('#myTab li:eq(1) a').tab('show');
                $('#Available').val(2);
            }
            if ('@Model.Available' == '0') {
                $('#OfficeUse').hide();
                $('#myTab li:eq(0) a').tab('show');
            }

            $('#side-menu').hide();
            $('#menu-head').hide();
            if ('@Model.ParentCheckedIn' == '00000') {
                $('#others').show();
            } else {
                $('#others').hide();
            }
            if ('@Model.OtherNameTeacher' == '') {
                $('#othersTeacher').hide();
            } else {
                $('#othersTeacher').show();
            }
            $('#sig').signature({ distance: 10 });
            var parentsig = '@Html.Raw(Model.ParentSig)';
            if (parentsig.length > 0) {
                $('#sig').signature('draw', ('@Html.Raw(Model.ParentSig)'));
            }
            $('#sig1').signature({ distance: 10 });
            var teachersig = '@Html.Raw(Model.TeacherCheckInSig)';
            if (teachersig.length > 0) {
                $('#sig1').signature('draw', ('@Html.Raw(Model.TeacherCheckInSig)'));
            }


            $('#json').click(function () {
                alert($('#sig').signature('toJSON'));
            });
            $('#svg').click(function () {
                alert($('#sig').signature('toSVG'));
            });

            $("input[name=Parent1]").click(function () {

                //alert($("input[name=Parent1]:checked").val());
                if ($("input[name=Parent1]:checked").val() == "00000") {
                    $('#others').show();
                    plainValidation('#OtherNotes');
                    $('#parent-check-inkind-div').find('#ActivityDate').val(getFormattedDate(new Date()));
                    $('input[type=checkbox][name=ActivityCode]').prop('checked', false);
                    $('input[name=Hours]').prop('checked', false);
                    $('input[name=Minutes]').prop('checked', false);
                    $('#ActivityNotes').val('');
                    $('#parent-check-inkind-div').hide();

                } else {
                    $('#others').hide();
                    $('#parent-check-inkind-div').show();
                }
            });
            $("input[name=Teacher]").click(function () {

                //alert($("input[name=Parent1]:checked").val());
                if ($("input[name=Teacher]:checked").val() == "00000") {
                    $('#othersTeacher').show();
                    plainValidation('#OtherNotesTeacher');

                } else {
                    $('#othersTeacher').hide();
                }
            });

            $('input[type=checkbox][name=ActivityCode]').click(function () {
                var activDesc = '';
                $('input[type=checkbox][name=ActivityCode]:checked').each(function () {

                    activDesc += $(this).siblings('.activity_desc').text() + ',';
                });
                activDesc = activDesc[activDesc.length - 1] == ',' ? activDesc.slice(0, -1) : activDesc;
                $('#ActivityNotes').val(activDesc);


                if ($('#ActivityDate').val() == 0) {
                    customAlert("When selecting an activity, the Activity Date must be filled out.");
                    plainValidation('#ActivityDate');
                }
                else
                {
                   
                }
            });



            $('#ActivityDate').datetimepicker({
                timepicker: false,
                format: 'm/d/Y',
                validateOnBlur: false,
                value: getFormattedDate(new Date()),
                maxDate: new Date(),
                autoClose: true
            });

            $('#parentCheckdDatePicker').on('click', function () {

                $('#ActivityDate').datetimepicker('show');
            });
        });
    </script>



}


@section MainContentHolder{



    <form method="post" enctype="multipart/form-data">



        <script>



            $(window).on('popstate', function () {
                var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
                $('a[href=' + anchor + ']').tab('show');
            });


            function SaveSignature() {
                $('#sig').css('background-color', '');
                isValid = false;
                $('#ConvertedImage').val(0);
                var sigToImage = $('#sig').signature('toJSON');
                if (sigToImage == '{"lines":[]}' || sigToImage.length <= 12) {
                    plainValidation('#sig');
                    customAlert('Please enter signature');
                    return isValid;
                }

                else if (sigToImage.length <= 300) {
                    plainValidation('#sig');
                    customAlert('Please enter valid signature');
                    return isValid;
                }
                else {

                    $('#imageSig').val(sigToImage);
                    $('#ConvertedImage').val(1);
                    $('#sigtype').val(1);
                    return isValid;
                }

            }
            function SaveSignatureTeacher() {
                isValid = false;
                $('#sig1').css('background-color', '');

                var sigToImage = $('#sig1').signature('toJSON');
                if (sigToImage == '{"lines":[]}' || sigToImage.length <= 12) {
                    plainValidation('#sig1');
                    customAlert('Please enter signature');
                    return isValid;
                }

                else if (sigToImage.length <= 300) {
                    plainValidation('#sig1');
                    customAlert('Please enter valid signature');
                    return isValid;
                }
                else {
                    $('#imageSigTeacher').val(sigToImage);
                    $('#ConvertedImageTeacher').val(1);
                    $('#sigtype').val(2);
                    $('#OfficeAvailable').val(1);
                    return isValid;
                }

            }

            function ClearSignature(val) {
                isValid = false;
                if (val === 1) {
                    $('#sig').css('background-color', '');
                    $('#sig').signature('clear');
                    $('#ConvertedImage').val(0);
                }
                else {
                    $('#sig1').css('background-color', '');
                    $('#sig1').signature('clear');
                    $('#ConvertedImage').val(0);
                }

                //$('#clear').click(function () {
                //    $('#sig').signature('clear');
                //});
                //$('#clearTeacher').click(function () {
                //    $('#sig1').signature('clear');
                //});
                return isValid;
            }
            function ValidateDataTeacher() {
                isValid = true;
                if ($("input[name=Teacher]:checked").length == 0) {
                    customAlert("A Check In name is required. ");
                    plainValidation('#Teacher');
                    isValid = false;
                }
                if ($('#ConvertedImageTeacher').val() == 0) {
                    customAlert("Please sign and accept signature. ");
                    plainValidation('#imageSigTeacher');
                    isValid = false;
                }

                var parentsig = '@Html.Raw(Model.ParentSig))';

                if (parentsig == '{"lines":[]})') {
                    customAlert("This child must be signed in prior to the Daily Health Check. ");
                    plainValidation('#imageSig');
                    isValid = false;
                }
                return isValid;
            }
            function ValidateData() {
                isValid = true;

                if ($("input[name=Parent1]:checked").length == 0) {
                    customAlert("A Check In name is required. ");
                    plainValidation('#Parent1');
                    isValid = false;
                }

                if ($('#ConvertedImage').val() == 0) {
                    customAlert("Please sign and accept signature. ");
                    plainValidation('#imageSig');
                    isValid = false;
                }


                return isValid;
            }




        </script>

        <input type="hidden" id="profileindex" name="profileindex" />
        <input type="hidden" id="eduindex" name="eduindex" />

        @using (Html.BeginForm("ParentCheckIn", "Teacher", new { @class = "officereturn" }))
        {
            <input type="hidden" name="CenterID" id="CenterID" value="@Model.CenterID" />
            <input type="hidden" name="ClassroomID" id="ClassroomID" value="@Model.ClassID" />
            @Html.Hidden("Available", @Model.Available);
            @Html.Hidden("OfficeAvailable", 0);
            <input type="hidden" name="sigtype" id="sigtype">
            <div class="row" id="ScreeningDiv" style="margin-top:4%;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="panel with-nav-tabs panel-primary" id="MyProfileTab">
                        <div class="panel-heading panelul">


                            <input id="hidtab" name="hidtab" type="hidden" value="#" />
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="#ParentCheckIn" data-toggle="tab">Parent Check In</a></li>
                                <li><a href="#OfficeUse" data-toggle="tab">Office Use</a></li>
                            </ul>

                        </div>

                        <div id="myTabContent" class="tab-content">

                            <div class="tab-pane fade in active" id="ParentCheckIn">
                                <div class="add-useragform">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">

                                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                <h4 class="page-header">
                                                    @Model.CName's  Attendance Detail <span class="attend-date"><font size="3"><i>for</i></font></span>  @Model.Tdate
                                                </h4>

                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                <div class="co-xs-12 parent-info section">
                                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                                        <h4 class="text-black">Child Image:</h4>
                                                        <div style="border:1px solid black;margin-top:34px;width:200px;height:200px;text-align:center; ">

                                                            @if (Model.CImage != null)
                                                            {
                                                                if (Model.CImage.Length != 0)
                                                                {
                                                                    <img style="margin-top: 10px;" src="data:image;base64,@System.Convert.ToBase64String(Model.CIFileData)" alt="image" height="180" width="180" />
                                                                }
                                                                else
                                                                {
                                                                    <img style="margin-top: 10px;" src="~/Images/ic_male.png" alt="image" height="180" width="180" />
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <img style="margin-top: 10px;" src="~/Images/ic_male.png" alt="image" height="180" width="180" />
                                                            }
                                                        </div>


                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-8">
                                                        <div class="add-useragform student-scroll full-border full-border-margin hours-div">

                                                            <h4 class="text-black">Parents/Guardians: </h4>
                                                            @if (Model.ParentCheckedIn == Model.Parent1ID)
                                                            {
                                                                <label style="margin-left:10px;">@Html.RadioButton("Parent1", @Model.Parent1ID, true, new { @class = "Parent1" })@Model.Parent1Name</label>
                                                            }

                                                            else
                                                            {
                                                                <label style="margin-left:10px;">@Html.RadioButton("Parent1", @Model.Parent1ID, false, new { @class = "Parent1" })@Model.Parent1Name</label>

                                                            }
                                                            @if ((@Model.Parent2Name.Length) > 1)
                                                            {
                                                                if (Model.ParentCheckedIn == Model.Parent2ID)
                                                                {
                                                                    <label>@Html.RadioButton("Parent1", @Model.Parent2ID, true, new { @class = "Parent1" })@Model.Parent2Name</label>
                                                                }
                                                                else
                                                                {
                                                                    <label>@Html.RadioButton("Parent1", @Model.Parent2ID, false, new { @class = "Parent1" })@Model.Parent2Name</label>
                                                                }
                                                            }
                                                            @if (Model.ParentCheckedIn == "00000")
                                                            {
                                                                <label>@Html.RadioButton("Parent1", "00000", true, new { @class = "Parent1" })Other</label>
                                                            }
                                                            else
                                                            {
                                                                <label>@Html.RadioButton("Parent1", "00000", false, new { @class = "Parent1" })Other</label>
                                                            }


                                                        </div>



                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                            <div class="add-useragform student-scroll full-border full-border-margin" id="others">
                                                                <h6 class="text-info">Enter Name and Sign Below: </h6>
                                                                <label> @Html.TextBox("OtherNotes", Model.OtherName, new { @class = "text-danger" })</label>


                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                            <div class="add-useragform student-scroll full-border full-border-margin">
                                                                <div id="sig"></div>

                                                                <input type="hidden" id="childid" value="@Model.ClientID" />

                                                                @Html.Hidden("imageSig", "")
                                                                <input type="hidden" id="ConvertedImage" value="0" />
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                                        <div class="add-useragform student-scroll full-border full-border-margin">
                                                                            <h4> </h4>
                                                                            <button class="btnPassword" id="clear" onclick="return ClearSignature(1);">Clear</button>
                                                                            <button class="btnPassword" id="accept" onclick="return SaveSignature();">Accept Signature</button>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-xs-12" id="parent-check-inkind-div">
                                                   
                                                        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <h4 class="page-header">
                                                                                                                                @if (Model.Activitylst.Count() > 0)
                                                                                                                                {
                                                                                                                                    <span> @Model.Activitylst[0].ActivityDescription:</span>
                                                                }
                                                                else
                                                                {

                                                                }

                                                            </h4>

                                                        </div>
                                                        <div class="add-useragform">
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                                    <label class="witpart">Activity Date:</label>
                                                                       <div class="input-group date" id="parentCheckdDatePicker">
                                                                        <input class="form-control" id="ActivityDate" name="ActivityDate" type="text" maxlength="50" onblur="return validatedate(this);" placeholder="MM/DD/YYYY">
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="add-useragform">
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                                                <div class="col-lg-6 col-md-6 col-sm-12">

                                                                    <label class="witpart">Activities: </label>
                                                                    <div class="col-lg-7 row" style="padding:0;">


                                                                        @foreach (var inkindActivity in Model.Activitylst)
                                                                {

                                                                    foreach (var subactivity in inkindActivity.SubActivityList)
                                                                    {
                                                                                <label class="text" style="width:100%;white-space:nowrap;">@Html.CheckBox("ActivityCode", false, new { value = subactivity.ActivityCode, @class = "ActivityCode" })<span class="activity_desc">@subactivity.ActivityDescription</span></label>
                                                                    }

                                                                }
                                                                    </div>


                                                                    <div class="table-main-sec">
                                                                    <label class="witpart">Hours: </label>

                                                                    <div class="col-lg-6 col-md-6 hours-div row">

                                                                        @foreach(var item in Model.Hours)
                                                                        {
                                                                            if(Model.Hours==item.Hours)
                                                                            {
                                                                                <label>@Html.RadioButton("Hours",item.hourID,true,new{ @class="hoursRadio"})@item.hourDes </label>
                                                                            }
                                                                            else
                                                                            {
                                                                                <label>@Html.RadioButton("Hours",item.hourID,false,new {@class="hoursRadio" })@item.hourDes</label >
                                                                            }
                                                                                }
                                                                    </div>
                                                                        </div>
                                                                    <div class="table-main-sec">
                                                                    <label class="witpart">Minutes: </label>

                                                                    <div class="col-lg-6 col-md-6 hours-div row">
                                                                        @foreach(var item in Model.Minutes)
                                                                        {
                                                                            if(Model.Minutes==item.Minutes)
                                                                            {
                                                                                <label>@Html.RadioButton("Minutes",item.minID,true,new { @class="minsRadio"})@item.minDes</label>
                                                                            }
                                                                            else
                                                                            {
                                                                                <label>@Html.RadioButton("Minutes", item.minID, false, new { @class = "minsRadio" })@item.minDes</label>

                                                                            }
                                                                        }
                                                                       
                                                                    </div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="add-useragform">
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                                    <label class="witpart"> Activity Notes:</label>
                                                                    <textarea rows="4" cols="50" id="ActivityNotes" name="ActivityNotes" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                    <div class="add-useragform student-scroll full-border full-border-margin">

                                                        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
                                                            <h4> </h4>
                                                            <button class="btnPassword" id="post" onclick="return ValidateData();">Submit</button>
                                                            <button class="btnPassword" onclick="location.href='@Url.Action("ParentCheckIn_CheckOut", "Teacher", new { available = Model.Available })';return false;">
                                                                Exit
                                                            </button>
                                                            <h4> </h4>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>



                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="OfficeUse">
                                <div class="add-useragform">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                <h4 class="page-header">Daily Health Check:</h4>
                                            </div>

                                            @foreach (var oo in Model.Observationlst)
                                            {
                                                var checkedOb = 0;
                                                foreach (var o in Model.ObservationlstChecked)
                                                {
                                                    var obserchecked = o.ObservationIDChecked;
                                                    if (obserchecked == oo.ObservationID)
                                                    {
                                                        <label class="text">@Html.CheckBox("Observation", true, new { value = oo.ObservationID })@oo.ObservationDescription</label>
                                                        checkedOb = 1;
                                                        break;
                                                    }
                                                }
                                                if (checkedOb != 1)
                                                {
                                                    <label class="text">@Html.CheckBox("Observation", false, new { value = oo.ObservationID })@oo.ObservationDescription</label>
                                                }
                                            }


                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                <h4 class="text-black">Teacher: </h4>
                                                @if (Model.OtherNameTeacher == "")
                                                {
                                                    <label>@Html.RadioButton("Teacher", Model.TeacherName, true, new { @class = "Teacher" })@Model.TeacherName</label>
                                                    <label>@Html.RadioButton("Teacher", "00000", false, new { @class = "Teacher" })Other</label>
                                                }
                                                else
                                                {
                                                    <label>@Html.RadioButton("Teacher", Model.TeacherName, false, new { @class = "Teacher" })@Model.TeacherName</label>
                                                    <label>@Html.RadioButton("Teacher", "00000", true, new { @class = "Teacher" })Other</label>
                                                }


                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" id="othersTeacher">
                                                <h6 class="text-info">Enter Name and Sign Below: </h6>
                                                <label> @Html.TextBox("OtherNotesTeacher", Model.OtherNameTeacher, new { @class = "text-danger" })</label>


                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                <div id="sig1"></div>
                                                @Html.Hidden("imageSigTeacher", "")
                                                <input type="hidden" id="ConvertedImageTeacher" value="0" />
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                        <div class="add-useragform student-scroll full-border full-border-margin">
                                                            <h4> </h4>

                                                            <button class="btnPassword" id="clearTeacher" onclick="return ClearSignature(2);">Clear</button>
                                                            <button class="btnPassword" id="acceptTeacher" onclick="return SaveSignatureTeacher();">Accept Signature</button>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 referrals">
                                                    <div class="add-useragform student-scroll full-border full-border-margin">

                                                        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
                                                            <h4> </h4>
                                                            <button class="btnPassword" id="post" onclick="return ValidateDataTeacher();">Submit</button>
                                                            <button class="btnPassword" onclick="location.href='@Url.Action("ParentCheckIn_CheckOut", "Teacher", new { available = Model.Available })';return false;">
                                                                Exit
                                                            </button>
                                                            <h4> </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </form>
}


