@model FingerprintsModel.TeacherModel


@{
    @section Title
{
        Roster
    }
    ViewBag.Title = "CheckIn";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    string closedString = string.Empty;
    ViewBag.ClosedToday = (Model != null) ? Model.ClosedDetails.ClosedToday : 0;
    Session["NotCheckedCount"] = Model.NotCheckedCount;

}

<h2>CheckIn</h2>

@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>


@section Script{
<script>

    $(document).ready(function () {


        $('#myModal').on('show.bs.modal', function () {

                   // $('#myModal').find('#AbsentType').val(0);

            $('#myModal').find('#divAbsenceReasonList').find('#ReasonList').val('');
            $('#myModal').find('#divAbsenceReasonList').hide();
            // do something when the modal is shown
        });


        $("#AbsentType").change(function () {

            if ($(this).val() == 2 || $(this).val() == 4) {

                $('#divAbsenceReasonList').show();
                $('#ReasonList').val("");
            }
            else {
                $('#divAbsenceReasonList').hide();
                $('#divNewReason').hide();
                $('#txtNewReason').val("");
                $('#ReasonList').val("");
            }

        });

        $('#ReasonList').on('change', function () {
            if ($(this).val() == "-1") {
                $('#divNewReason').show();
            }
            else {
                $('#txtNewReason').val("");
                $('#divNewReason').hide();
            }
        });


        $("#myModal").on("hidden.bs.modal", function () {
            $('#divAbsenceReasonList').hide();
            $('#divNewReason').hide();
            $('#divAbsenceNoShow').hide();
            $('#txtNewReason').val("");
            $('#ReasonList').val("");
            $('#AbsentType').val("");


        });

        $('input').keypress(function () {
            if ($(this).val() == 'MM/DD/YYYY') {
                $(this).val('');
                // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            }
        });
        if ('@TempData["message"]' != null && '@TempData["message"]' != '') {
            customAlert('@TempData["message"]');
        }
        @{
                    TempData["message"]=null;

                }



        if (location.hash) {
            $('a[href=' + location.hash + ']').tab('show');
        }
        $(document.body).on("click", "a[data-toggle]", function (event) {
            location.hash = this.getAttribute("href");
        });
        $('body').on('click', '.referral-icon', function () {
            $('#TeacherRoster tr').removeClass('current-child');
            $(this).closest('tr').addClass('current-child');
            var ClientId = $(this).find('.child-id').val();
            var CenterId = $(this).find('.child-center-id').val();
            var Template = '<div class="form-group classroom-panel cls-teachername development-team-list" style="text-align:left;margin-left: 0px;"><input type="checkbox" class="member-option" style="position:relative;top:2px;margin-right:4px;"/><input type="hidden" name="childid" id="user" class="user-id" value="##USERID##"/><span class="closed-request-teachername" style="font-size:14px;">##MEMBER##</span></div>';
            $.ajax({
                type: "POST",
                url: "/Teacher/GetChildDevelopmentTeamByChildId",
                data: { 'ClientId': ClientId, 'CenterId': CenterId },
                success: function (data) {
                    var input = "";
                    var JsonData = JSON.parse(data);

                    if (JSON.parse(data).length > 1) {
                        $.each(JSON.parse(data), function (i, val) {
                            input += Template.replace("##USERID##", val["UserId"]).replace("##MEMBER##", val["Name"]);
                        });
                    }
                    else {
                        input += Template.replace("##USERID##", JsonData[0].UserId).replace("##MEMBER##", JsonData[0].Name);
                    }
                    $('.development-team-container').empty();
                    $('.development-team-container').append(input);
                },
                error: function (data) {
                    console.log('Error');
                }
            });
            $('#myModalApprovalForClassRoomOpenCloseRequest').modal('show');
        });
    });
    var YakkrDetails = [];
    $('body').on('click', '.btn-send', function () {
        // $('.btn-send').click(function () {
        var ClientId = $('.current-child').find('.child-id').val();
        var CenterId = $('.current-child').find('.child-center-id').val();
        $('.development-team-list').each(function () {
            if ($(this).find('.member-option').is(':checked')) {
                var yakkrdetails = {};

                yakkrdetails.CenterId = CenterId;
                yakkrdetails.ClientId = ClientId;
                yakkrdetails.ToSataffId = $(this).find('.user-id').val();
                yakkrdetails.RouteCode = "98";
                yakkrdetails.Message = $('#CNotes').val();
                YakkrDetails.push(yakkrdetails);
            }
        });

        if (YakkrDetails.length > 0) {
            YakkrDetails = JSON.stringify({ 'yakkrdetails': YakkrDetails });
            $.ajax(
                        {
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: "POST",
                            async: false,
                            url: "/Teacher/AddChildReferealNotes",
                            data: YakkrDetails,
                            success: function (data) {
                                // window.location.href = "/Home/TeacherDashBoard";
                            },
                            error: function (data) {

                            }
                        });
        }
        $('#myModalApprovalForClassRoomOpenCloseRequest').modal('hide');
        $('#TeacherRoster tr').removeClass('current-child');
        return false;
    });
    $(window).on('popstate', function () {
        var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
        $('a[href=' + anchor + ']').tab('show');
    });

    $(document).on("click", ".open-myModal", function () {

        // $('.clear-popup').val(0);

        var childnameID = $(this).data('id');
        var l = childnameID.length;
        var n = childnameID.indexOf("-");
        var CID = childnameID.substring(0, n);
        var CN = childnameID.substring(n + 1, l);

        $(".modal-header #childname").val(CN);
        $(".modal-header #childid").val(CID);
        $(".modal-header #childlbl").text(CN);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

    $(document).on("click", ".open-myModalStudent", function () {
        var childnameID = $(this).data('id');
        var l = childnameID.length;
        var n = childnameID.indexOf("-");
        var CID = childnameID.substring(0, n);
        var CN = childnameID.substring(n + 1, l) + "'s Attendance Detail";
        var parent1 = $(this).data('Parent1Name');
        var parent2 = $(this).data('Parent2Name');

        $(".modal-header #childname").text(CN);
        $(".modal-header #childid").val(CID);
        $(".modal-header #childlbl").text(CN);
        $(".form-group #Parent1").text(parent1);
        $(".form-group #Parent2").text(parent2);

        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });



            function isValidInfo() {
                cleanValidation();
                isValid = true;
                if ($("#AbsentType").val() == "") {
                  //  plainValidation('#AbsentType');
                    isValid = false;
                    customAlert("Please choose an Attendance  Type")
                }
                if ($("#AbsentType").val() == 2 || $("#AbsentType").val() == 4)
                {
                    if ($("#ReasonList").val() == 0 || $("#ReasonList").val() == "") {
                       // plainValidation('#ReasonList');
                        isValid = false;
                        customAlert("Please choose an Absent Reason");
                    }
                    if ($("#ReasonList").val() == -1) {
                        if ($("#txtNewReason").val() == "")
                        {
                           // plainValidation('#txtNewReason');
                            isValid = false;
                            customAlert("Please Enter Other Reason");
                        }

            }
        }

        return isValid;
    }

    function getProfilePicture(pic) {

        // $('.tooltiptext').css({ 'visibility': 'hidden' });

        var enc_id = $(pic).attr('EClientId');
        var position = $(pic).position();
        var topalignment = position.top;
        $.ajax({
            url: '/Teacher/GetChildrenImage',
            dataType: 'json',
            type: 'post',
            data: { enc_clientId: enc_id },
            success: function (data) {

                var image = '';
                if (data.Text == "" && data.Value == "2") {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/ic_female.png" />';
                }
                else if (data.Text == "" && data.Value == "1") {
                    image = '<img class="roundimage" width="100" height="100"   src="/Content/img/ic_male.png" />';
                }
                else if (data.Text == "" && ata.Text == "3") {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/ic_male_default.png" />';
                }
                else if (data.Text != "") {
                    image = '<img class="roundimage" width="100" height="100"   src="data:image/jpg;base64,' + data.Text + '"/></td>'
                }
                else {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/download.jpg" />';
                }

                $(pic).children('.tooltiptext').html(image).css({ 'top': (topalignment - 30), 'height': '110px', 'width': '120px' });
                // $(pic).parent('td').find('.roundimage').zoomify();

            },
            error: function (data) {

            }
        });
    }


    function showImage(ele) {
        $('#spinner').show();
        var enc_id = $(ele).attr('EClientId');
        $.ajax({
            url: '/Roster/GetChildrenImage',
            dataType: 'json',
            type: 'post',
            data: { enc_clientId: enc_id },
            success: function (data) {

                var image = '';
                if (data.Text == "" && data.Value == "2") {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/ic_female.png" />';
                }
                else if (data.Text == "" && data.Value == "1") {
                    image = '<img class="roundimage" width="50" height="50"   src="/Content/img/ic_male.png" />';
                }
                else if (data.Text == "" && ata.Text == "3") {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/ic_male_default.png" />';
                }
                else if (data.Text != "") {
                    image = '<img class="roundimage" width="50" height="50"   src="data:image/jpg;base64,' + data.Text + '"/></td>'
                }
                else {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/download.jpg" />';
                }

                $(ele).parent('th').append(image);
                $(ele).parent('th').find('.roundimage').zoomify();
                $(ele).remove();
                $('#spinner').hide();
            },
            error: function (data) {
                $('#spinner').hide();
            }
        });
    }

    //function hideProfileImage(pics) {
    //    $(pics).find('.tooltiptext').css({ 'visibility': 'hidden' });
    //}


    function updateNotCheckedIn(count) {
        $('#not-check-a').children('#notCheckIn').text('(' + count + ')');
    }

</script>
}


@section MainContentHolder{

<style>
    .childName .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        /*background-color: rgba(0, 0, 0, 0.18);*/
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        /*top: 28px;*/
        /*left: 128px;*/
        left: 105px;
        line-height: 25px;
        border: 1px solid black;
    }


        .childName .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 100%; /* To the left of the tooltip */
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }

    .childName:hover .tooltiptext {
        visibility: visible;
    }

    .childName:not( :hover ) .tooltiptext {
        visibility: hidden;
    }

       .education-content-desc1 p {
        background: #e74c3c;
        border: 1px solid #c0392b;
        padding: 12px 15px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        margin: 0; /* font-weight: bold; */
    }
</style>

<form method="post" enctype="multipart/form-data">


    <input type="hidden" id="profileindex" name="profileindex" />
    <input type="hidden" id="eduindex" name="eduindex" />

    <div class="modal fade" id="myModalApprovalForClassRoomOpenCloseRequest" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" name="childid" id="childid" value="">
                    <input type="hidden" name="childname" id="childname" value="">
                    <label class="alert-dismissible classroom-header" for="current_password" style="text-transform:capitalize;">Child Development Team</label>
                </div>
                <div class="form-group-al" style="width: 420px;margin: auto;display: block;">
                    <div class="development-team-container">

                    </div>
                    <div class="form-group classroom-open-panel">
                        <label style="float:left;width:auto;margin-left:0;" class="control-label" for="current_password">Notes</label>
                        <textarea style="resize:none;width:65%;height:50px;display:inline-block;margin-left:7px;" class="form-control txt-classroom-notes" id="CNotes" placeholder=""></textarea>
                        <div class="err-container" style="height:20px;margin-bottom:10px;">
                            <label class="control-label"></label>
                            <span class="error-message error-message-classroom" style="display:none;text-align:center;width:100%!important;">Notes is mandatory</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btnPassword address-btn btn-send" style="width: 18% !important;">Send Note</button>
                    <button class="btnPassword address-btn btn-classroom-cancel" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        @Html.Partial("~/Views/Partialviews/CenterClosureAlert.cshtml")

        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <h2 class="page-header">
                Classroom Roster <span class="attend-date"><font size="3"><i>for</i></font></span>  @Model.Tdate
                <span><font size="3"><i>@(Convert.ToBoolean(ViewBag.NotChecked) ? "(Not-Checked In)" : "")</i></font></span>

                <span class="view-btn backto_listspan" id="BackToList">
                    <span style="font: bold; font-size: 17px; color: #285b8f;">Roster Count : </span>
                    <span style="font: bold; font-size: 17px;  color: #285b8f;" id="rosterCountLbl">@Model.RosterCount</span>
                </span>
            </h2>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 add-useragform">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 adddivspace">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                    <div class="table-responsive">
                        <table class="table table_size" id="TeacherRoster">
                            <thead class="cursor:pointer">
                                <tr style="background-color:#285B90;color:#ffffff">
                                    <th align="left">Child's Name</th>
                                    <th>DOB</th>
                                    <th>Child's Picture</th>
                                    <th>Class Start Date</th>
                                    <th>Check-In Status</th>
                                    <th>Daily Health Check</th>
                                    <th>% Absent</th>
                                    <th>Enrollment Days</th>
                                    <th>Obervation Note</th>
                                    <th>Manual Attendance</th>
                                    <th>Referrals</th>
                                    <th>Disabilities</th>
                                </tr>

                            </thead>
                            <tbody>


                                @foreach (var j in Model.Itemlst)
                                {
                                <tr>

                                    <th EClientId="@j.Enc_ClientId" class="childName">@j.CName</th>
                                    <th>@j.CDOB</th>
                                   
                                    <th><a href="javascript:void(0)" onclick="showImage(this);" EClientId='@j.Enc_ClientId'>View</a></th>

                                    <th>@j.Dateofclassstartdate</th>

                                    @if (j.AttendanceType == "Not Checked In" && (j.IsLateArrival || j.IsCaseNoteEntered != 0))
                                    {
                                    <th style="font-family:Arial;color:blueviolet;">Marked as Late Arrival<br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></th>
                                    }
                                    else
                                    {
                                    if (j.AttendanceType == "Not Checked In")
                                    {

                                    <th style="font-family:Arial;color:red;">@j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></th>

                                    }

                                    else if (j.AttendanceType == "Present")
                                    {
                                    <th style="font-family:Arial;color:rebeccapurple;">



                                                        @*<a href="@Url.Action("CheckInCheckOutDetail", "Teacher", new { clientid = @j.ClientID, accesstype = 1 }, null)" title="Details" class="links">*@
                                                        <a href="~/Teacher/CheckInCheckOutDetail?clientid=@j.ClientID&accesstype=1" title="Details" class="links">
                                                            @j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i>

                                            </a>
                                    </th>

                                    }
                                    else if(j.AttendanceType == "Absent Excused")
                                    {
                                    <th style="font-family:Arial;color:#9c27b0;">@j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></th>
                                        }
                                        else if (j.AttendanceType == "Present Other")
                                        {
                                            <th style="font-family:Arial;color:#ff5722;">@j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></th>
                                        }
                                        else
                                        {
                                            <th style="font-family:Arial;color:red;">@j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></th>

                                        }

                                    }

                                    @if (j.ObservationChecked)
                                    {
                                    <th><img src="~/Images/whiteCheck.jpg" /> </th>
                                    }
                                    else if (j.AttendanceType == "Present")
                                    {
                                    <th>


                                        <a href="@Url.Action(" ParentCheckIn", "Teacher" , new { clientid=@j.ClientID, accesstype=1, available="1" })" class="office">

                                            <img alt="List View" src="@Url.Content("~/Images/whiteX.gif")" />
                                        </a>
                                    </th>
                                    }
                                    else
                                    {

                                    <th><img src="~/Images/whiteX.gif" /> </th>

                                    }


                                    <th>@j.PercentAbsent %</th>
                                    <th>@j.EnrollmentDays</th>
                                    <th>



                                        <a style="text-decoration:underline;cursor:pointer;" title="Click here for Observation Notes" href="~/Teacher/DomainObservationResults?ChildId=@FingerprintsModel.EncryptDecrypt.Encrypt64(@j.ClientID)&ChildName=@FingerprintsModel.EncryptDecrypt.Encrypt64(@j.CName)"><img src="~/Images/referral.png" /> </a>

                                    </th>



                                    <th>
                                        @if (Model.ClosedDetails.ClosedToday > 0)
                                        {
                                        <a href="#" class="open-myModal" data-id="@j.ClientID-@j.CName" style="pointer-events:none;"> <i class="fa fa-arrow-up"></i></a>

                                        }
                                        else
                                        {
                                        <a href="#myModal" data-toggle="modal" class="open-myModal" data-id="@j.ClientID-@j.CName"> <i class="fa fa-arrow-up"></i></a>

                                        }


                                    </th>
                                    <th class="referral-icon"><input type="hidden" class="child-id" value="@j.ClientID" /><input type="hidden" class="child-center-id" value="@j.CenterID" /><img src="~/Images/referral.png" /></th>
                                    @if (j.Disability == "1")
                                    {
                                    <th>
                                        <img src="~/Images/whiteCheck.jpg" title="@j.DisabilityDescription" />
                                    </th>
                                    }
                                    else
                                    {
                                    <th><img src="~/Images/whiteX.gif" title="No Disability Recorded" /></th>
                                    }
                                </tr>

                                }

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    @using (Html.BeginForm("CheckIn", "Teacher"))
    {
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<input type="hidden" name="childid" id="childid" value="" />
                    <input type="hidden" name="childname" id="childname" value="" />*@
                    <h3>Attendance for <label id="childlbl" text="" /> </h3>
                </div>

                        <div class="form-group">
                            <label class="control-label" for="current_password">Attendance Type <span style="color:red;">*</span> </label>
                            @*<select name="AbsentType" id="AbsentType" class="form-control clear-popup" style="width:45%;" placeholder="Select" required>
                                <option value="0">Choose...</option>
                                <option value="1">Present</option>
                                <option value="2">Absent Excused</option>
                                <option value="3">Absent No Show</option>
                                <option value="4">Present Other</option>

                            </select>*@
                            @Html.DropDownListFor(m => m.AttendanceTypeId, Model.AttendanceTypeList, "Select Type", new { id = "AbsentType", Name = "AbsentType", style = "width: 45%;", @class = "form-control clear-popup" })


                        </div>
                        <div class="form-group" id="divAbsenceReasonList" style="display:none;">
                            <label class="control-label">Absent Reason <span style="color:red;">*</span> </label>
                            @Html.DropDownListFor(m => m.AbsenceReasonId, Model.AbsenceReasonList, "Select Reason", new { id = "ReasonList", Name = "ReasonList", style = "width: 45%;", @class = "form-control clear-popup" })
                        </div>
                        <div class="form-group" id="divNewReason" style="display:none;">
                            <label class="control-label">Other Reason <span style="color:red;">*</span></label>
                            <input type="text" name="txtNewReason" id="txtNewReason" class="form-control" style="width:45%;"/>
                        </div>
                        @*<div class="form-group" id="divNewReason" style="display:none;">
                            <label class="control-label">Other Reason <span style="color:red;">*</span></label>
                            <input type="text" name="txtNewReason" class="form-control" style="width: 45%;" id="txtNewReason" required="" />

                        </div>*@
                        <div class="modal-footer">


                    <button class="btnPassword" id="submit" type="submit" value="Submit" onclick="return isValidInfo();">Submit</button>

                    <button class="btnPassword" id="btnCancelPassword" type="button" data-dismiss="modal">Exit</button>



                </div>
            </div>
        </div>
    </div>
    }

</form>

}
