@model FingerprintsModel.FPA

@{
  
  
    Layout = null;
                //if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("94cdf8a2-8d81-4b80-a2c6-cdbdc5894b6d")))
                //{
                //    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
                //}
                //if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("e4c80fc2-8b64-447a-99b4-95d1510b01e9")))
                //{
                //    Layout = "~/Views/Shared/HomeVisitorLayout.cshtml";
                //}
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Family Partnership Agreement </title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link id="Link1" rel="shortcut icon" href="~/Content/img/faviicon.jpg" type="image/x-icon" />
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/testcss/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Samplescript/jquery.min.js"></script>
    <script src="~/Scripts/Samplescript/jquery-ui.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/SiteScript.js"></script>
    <script src="~/Scripts/Samplescript/index.js"></script>
    <script src="~/Scripts/Samplescript/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Scripts/Samplescript/jquery.datetimepicker.min.js"></script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Content/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/startmin.js"></script>
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrapmodal.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.6-dist/js/Boostrapmodalbox.js"></script>
    <script src="~/Scripts/USmobilevalidation.js"></script>
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <link href="~/Content/style_latest.css" rel="stylesheet" />
    <link href="~/Content/jquery.tagsinput.css" rel="stylesheet" />
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
    <script src="~/Scripts/jquery.tagsinput.js"></script>
    <script src="~/Content/jquery.zoomcrop.js"></script>
    <link href="~/Content/jquery.zoomcrop.css" rel="stylesheet" />
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/kuma-gauge.jquery.js"></script>

    <style>
    </style>

    <style>
        .btnmy {
            color: #fff;
            background-color: #295b8f;
            border-color: #295b8f;
        }
        /* Styles for signature plugin v1.1.2. */
        .kbw-signature {
            display: inline-block;
            border: 1px solid #a0a0a0;
            -ms-touch-action: none;
        }
    </style>
    <script type="text/javascript">
        function updatecomplitionDate(i) {
            var date = new Date();
            var dt = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
            $('input[name="GoalSteps[' + i + '].ActualCompletionDate"]').val(dt);
            isvalid = true;
            $('.Steps').each(function (i) {
                if ($('select[name="GoalSteps[' + i + '].Status"]').val() == 0) {
                    $('input[name="GoalSteps[' + i + '].ActualCompletionDate"]').val('');
                    $('input[name="GoalSteps[' + i + '].ActualCompletionDate"]').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
                    isvalid = false;
                }
            });
            if (isvalid) {
                var date = new Date();
                var dt = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
                $('#ActualGoalCompletionDate').val(dt);
                $('select[name="GoalStatus"]').val("1");
            }
            else {
                $('#ActualGoalCompletionDate').val('');
                $('select[name="GoalStatus"]').val("0");

            }
        }
        function updateGoalComplitiondate() {
           
        }
    </script>
   
</head>

<body>
    <div id="wrapper">
        <div class="header-top">
            <nav class="navbar navbar-inverse navbar-fixed-top header_ge" role="navigation">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-place">
                    <div class="navbar-header logo-ge">
                        <a class="navbar-brand" href="~/Login/Loginagency">
                            <img class="img-responsive" src="~/content/img/ge_logo_banner_left2.png" style="max-width: 250px" /></a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 menu-place">
                </div>
                <div class="navbar-default sidebar" role="navigation" style="border: none !important;">
                    <div class="sidebar-nav navbar-collapse" aria-expanded="false">
                    </div>
                </div>
            </nav>
        </div>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Family Partnership Agreement (FPA)
                    </h2>
                    <div style="color: green; font-size: 13px; font-weight: bold; right: 15px; line-height: normal; word-wrap: break-word;">@ViewBag.message</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                    <div class="add-useragform">
                        <form method="post" role="form" id="form1" autocomplete="off">
                            <div class="">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                    <div class="add-useragform">

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="email">Goal </label>
                                                    @Html.TextBoxFor(m => m.Goal, new { placeholder = "Goal",  ReadOnly = "true", id = "Goal", maxlength = "50", autocomplete = "off", spellcheck = "true", @class = "form-control", tabIndex = "2" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="email" title="Family Engagements Outcome">FEO</label>
                                                    @{
                                                        List<SelectListItem> cate = new List<SelectListItem>();
                                                        foreach (var item in ViewBag.CateList)
                                                        {
                                                            cate.Add(new SelectListItem() { Text = item.Name, Value = item.Id });
                                                        }
                                                    }
                                                    @Html.DropDownListFor(m => m.Category, new SelectList(cate, "Value", "Text"), new { id = "DdlCateList", ReadOnly = "true", Name = "DdlCateList", @class = "form-control", tabIndex = "6" })
                                                    @*<select id="Category" style="height:38px !important;" class="form-control"></select>*@
                                                    @*@Html.DropDownListFor(m => m.Category, new { @class = "form-control",new SelectList(Model.Category, "TimZoneId", "TimZoneName", Model.TimeZoneID), tabIndex = "3" })*@
                                                    @*@Html.TextBoxFor(m => m.Category, new { placeholder = "Category", id = "Category", maxlength = "50", autocomplete = "off", @class = "form-control", tabIndex = "2" })*@
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label for="pwd">Date of Goal</label>
                                                    @Html.TextBoxFor(m => m.GoalDate, new {  ReadOnly = "true", @class = "form-control", placeholder = "MM/DD/YYYY", id = "GoalDate", maxlength = "50", autocomplete = "off", tabIndex = "3" })

                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12" id="contactForm">
                                                <div class="form-group">
                                                    <label for="email">Status</label>
                                                    <select class="form-control" id="GoalStatus"  onchange="updateGoalComplitiondate()" name="GoalStatus">
                                                    @if (Model.GoalStatus == 0)
                                                    {
                                                        <option value="0" selected="selected">Open</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="0">Open</option>
                                                    }
                                                    @if (Model.GoalStatus == 1)
                                                    {
                                                        <option value="1" selected="selected">Complete</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="1">Complete</option>
                                                    }
                                                    @if (Model.GoalStatus == 2)
                                                    {
                                                        <option value="2" selected="selected">Abandoned</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="2">Abandoned</option>
                                                    }
                                      @if (Model.GoalStatus == 3)
                                                    {
                                                        <option value="3" selected="selected">Refused to do a FPA</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="3">Refused to do a FPA</option>
                                                    }


                                                </select>
                               @* @{
                                    List<SelectListItem> StatusList = new List<SelectListItem>();
                                    //  AccessTypeList.Add(new SelectListItem() { Text = "Select", Value = "-1" });
                                    StatusList.Add(new SelectListItem() { Text = "Open", Value = "0" });
                                    StatusList.Add(new SelectListItem() { Text = "Complete", Value = "1" });
                                    StatusList.Add(new SelectListItem() { Text = "Abandoned", Value = "2" });
                                    StatusList.Add(new SelectListItem() { Text = "Refused to do a FPA", Value = "3" });
                                }
                                @Html.DropDownListFor(m => m.Status, new SelectList(StatusList, "Value", "Text"), new { id = "DdlStatusList", Name = "DdlStatusList", @class = "form-control", tabIndex = "19" })*@

                                                    @Html.HiddenFor(m => m.ClientId)
                                                    @Html.HiddenFor(m => m.FPAID)


                                                    @*@Html.TextBoxFor(m => m.Status, new { @class = "form-control", placeholder = "Status", id = "Status", maxlength = "15", autocomplete = "off", tabIndex = "4" })*@
                                                    @*@Html.HiddenFor(m => m.superadminId)*@
                                                </div>
                                            </div>

                                            @* commented after client request*@
                                            @* https://trello.com/c/NuxrQrrQ/137-family-partnership-agreement*@
                                            @*<div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="pwd">Domain</label>

                                    @{
                                        List<SelectListItem> dom = new List<SelectListItem>();
                                        foreach (var item in ViewBag.DomList)
                                        {
                                            dom.Add(new SelectListItem() { Text = item.Name, Value = item.Id });
                                        }
                                    }
                                    @Html.DropDownListFor(m => m.Domain, new SelectList(dom, "Value", "Text"), new { id = "DdlDomList", Name = "DdlDomList", @class = "form-control", tabIndex = "6", onchange = "FillElementList(this);" })
                                    @*<select id="Domain" style="height:38px !important;" class="form-control"></select>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="pwd">Element</label>
                                    <select id="Element" name="Element" style="height: 38px !important;" class="form-control">
                                        @if (ViewBag.mode == 0)
                                        {
                                            <option value="@Model.Element">@Model.ElemDesc</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.Element" selected="selected">@Model.ElemDesc</option>
                                        }
                                    </select>*@
                                            @*@Html.TextBoxFor(m => m.Domain, new { @class = "form-control", placeholder = "Domain", id = "Domain", maxlength = "50", autocomplete = "off", tabIndex = "3" })*@
                                            @*
                                </div>
                            </div>*@


                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Completion Date </label>
                                                    
                                                            @Html.TextBoxFor(m => m.CompletionDate, new { @class = "form-control", ReadOnly = "true", placeholder = "CompletionDate",  id = "CompletionDate",  maxlength = "15", autocomplete = "off", tabIndex = "4" })
                                                            @Html.HiddenFor(m => m.EncyrptedClientId)
                                                       
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Actual Completion Date </label>
                                                    
                                                            @Html.TextBoxFor(m => m.ActualGoalCompletionDate, new { @class = "form-control", ReadOnly = "true", placeholder = "MM/DD/YYYY",  id = "ActualGoalCompletionDate", maxlength = "15", autocomplete = "off", tabIndex = "4" })
                                                            @Html.HiddenFor(m => m.EncyrptedClientId)
                                                       
                                                </div>
                                            </div>
                                            @if (false)
                                            {
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Goal For </label>
                                                        <div class="cont-sz">
                                                            @Html.HiddenFor(model => model.GoalFor)


                                                            @if (Model.GoalFor == 1 || Model.GoalFor == 3)
                                                            {
                                              
                                                                <label style="width: 100%">
                                                                    <input id="parent1" onchange="setGoalfor(this)" type="checkbox" value="true" checked />@Model.ParentName1</label>
                                                            }
                                                            else
                                                            {
                                                                <label style="width: 100%">
                                                                    <input id="parent11" onchange="setGoalfor(this)" type="checkbox" value="false" />@Model.ParentName1</label>
                                                            }
                                                            @if (Model.GoalFor == 2 || Model.GoalFor == 3)
                                                            {
                                                                <label style="width: 100%">
                                                                    <input id="parent2" onchange="setGoalfor(this)" type="checkbox" value="true" checked />@Model.ParentName2</label>
                                                            }
                                                            else
                                                            {
                                                                <label style="width: 100%">
                                                                    <input id="parent21" onchange="setGoalfor(this)" type="checkbox" value="false" />@Model.ParentName2</label>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                        </div>
                                        <div id="addStepsDiv"></div>
                                        <div id="AddSteps" class="row steps">
                                            @{
                                                if (Model.GoalSteps.Count > 0)
                                                {
                                                <div>
                                                    @{
                                                    int i = 0;
                                                    }
                                                    @if (@ViewBag.mode == 1)
                                                    {
                                                        foreach (var item in Model.GoalSteps)
                                                        {
                                                        <div id="EditDIv_@i" class="Steps">
                                                            <div class="col-lg-12">
                                                                <h5 class="page-header fundservice">Steps
                                                    <span class="view-btn backto_listspan" id="BackToList">
                                                        <a onclick="DeleteStepView(this,'@i','@item.StepID');" style="cursor:pointer;" class="backto_list">Delete</a>
                                                    </span>
                                                                </h5>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="email">Description</label>
                                                                    @* @Html.TextBoxFor(m => m.GoalSteps[@i].Description, new { placeholder = "Description", id = "Description", name = "Description", maxlength = "50", @class = "form-control" })*@
                                                                    <input type="text" name="GoalSteps[@i].Description"  readonly="True" class="form-control" value="@item.Description" id="Description" placeholder="Description" maxlength="50">
                                                                    @Html.HiddenFor(m => m.GoalSteps[@i].StepID)
                                                                </div>
                                                            </div>



                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="pwd">Status <sup>*</sup></label>
                                                                    <select class="form-control" id="Status" onchange="updatecomplitionDate(@i)" name="GoalSteps[@i].Status">
                                                                        @if (@item.Status == 0)
                                                                        {
                                                                            <option value="0" selected="selected">Open</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="0">Open</option>
                                                                        }
                                                                        @if (@item.Status == 1)
                                                                        {
                                                                            <option value="1" selected="selected">Complete</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="1">Complete</option>
                                                                        }
                                                                        @if (@item.Status == 2)
                                                                        {
                                                                            <option value="2" selected="selected">Abandoned</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="2">Abandoned</option>
                                                                        }


                                                                    </select>
                                                                    @* @{
                                                        List<SelectListItem> Status = new List<SelectListItem>();
                                                        Status.Add(new SelectListItem() { Text = "Open", Value = "0" });
                                                        Status.Add(new SelectListItem() { Text = "Complete", Value = "1" });
                                                        Status.Add(new SelectListItem() { Text = "Abandoned", Value = "2" });
                                                        Status.Add(new SelectListItem() { Text = "Abandoned", Value = "3" });


                                                                }
                                                                @Html.DropDownListFor(m => m.GoalSteps[@i].Status, new SelectList(Status, "Value", "Text", Model.GoalSteps[@i].Status), new { id = "Status", Name = "Status", @class = "form-control" })*@


                                                                </div>
                                                            </div>

                                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="email">Completion Date</label>
                                                                    @*@Html.TextBoxFor(m => m.GoalSteps[@i].StepsCompletionDate, new { placeholder = "StepsCompletionDate", id = "StepsCompletionDate", name = "StepsCompletionDate", maxlength = "50", @class = "form-control" })*@
                                                                    <input type="text" name="GoalSteps[@i].StepsCompletionDate" readonly="True" class="form-control" value="@item.StepsCompletionDate" id="StepsCompletionDate" placeholder="MM/DD/YYYY" maxlength="50">
                                                                </div>
                                                            </div>


                                                           
                                                                @*<div class="col-lg-6 col-md-6 col-sm-12">
                                                                    <div class="form-group">
                                                                        <label for="email">Days For Reminder </label>
                                                                         <input  name="GoalSteps[@i].Reminderdays"  readonly="True" value="@item.Reminderdays"  type="number" min="0" class="form-control Description" id="dfReminder" placeholder="Days For Reminder" maxlength="50">
                                                                    </div>
                                                                </div>*@
                                                             <div class="col-lg-6 col-md-6 col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="email">Actual Completion Date</label>
                                                                    @*@Html.TextBoxFor(m => m.GoalSteps[@i].StepsCompletionDate, new { placeholder = "StepsCompletionDate", id = "StepsCompletionDate", name = "StepsCompletionDate", maxlength = "50", @class = "form-control" })*@
                                                                    <input type="text" name="GoalSteps[@i].ActualCompletionDate" readonly="True" class="form-control" value="@item.ActualCompletionDate" id="ActualCompletionDate" placeholder="MM/DD/YYYY" maxlength="50">
                                                                </div>
                                                            </div>
                                                           <div class="col-lg-6 col-md-6 col-sm-12">
                                                                    <div class="form-group">
                                                                        <label for="email">Comments </label>
                                                                        @*@Html.TextBoxFor(m => m.Description, new { placeholder = "Description", id = "Description", maxlength = "50", autocomplete = "off", @class = "form-control", tabIndex = "2" })*@
                                                                        @* @Html.TextBoxFor(m => m.GoalSteps[@i].Reminderdays, new { placeholder = "MM/DD/YYYY", id = "Reminderdays", name = "Reminderdays", maxlength = "50", @class = "form-control" })*@
                                                                        <textarea  name="GoalSteps[@i].Comments"   class="form-control Description" id="Comments" placeholder="Comments" >@item.Comments</textarea>
                                                                    </div>
                                                                </div>
                                                            <div>
                                                                <input type="hidden" id="StepsID" value="@item.StepID" name="GoalStep[@i].StepsID">
                                                            </div>
                                                        </div>
                                                            i++;
                                                        }
                                                    }

                                                </div>
                                                }
                                            }


                                        </div>

                                    </div>
                                    <!--row-->


                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="btnwrp_subcal">

                                                <button id="btnSubmit" style="min-width: 124px !important;" type="submit" class="my-btn" onclick="return isValidagencyInfo();">Submit</button>
                                                <button id="btntopclear" class="my-btn" onclick="clearfields();">Clear</button>

                                                <div class="clear"></div>
                                            </div>
                                            <!--btnwrp_subcal--->
                                        </div>
                                    </div>






                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-one public-page">
            <footer>
                <p class="text-center">
                    <a target="_blank" href="http://www.otssolutions.com">Copyright © 2016 All Rights Reserved.<br />
                        Designed By OTS Solutions Inc.</a>
                </p>
            </footer>
        </div>
        <div class="error-msg">
        <ul class="i-am-new">
            <li id="noty_topRight_layout_container" style="overflow: hidden; display: none; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==&quot;) repeat-x scroll left top #a94442;  color: rgb(255, 255, 255); width: 270px;float:right; cursor: pointer; ">
                <div id="noty_237439575065076060" class="noty_bar">
                    <div style="font-size: 13px; line-height: 16px; text-align: left; padding: 8px 10px 9px; width: auto; position: relative; font-weight: bold;" class="noty_message">
                        <span class="noty_text">.</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</body>
</html>







