@model FingerprintsModel.MatchProviderModel


@{

    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";

}
@section MainContentHolder{

    <style>
        .servies_lst h2 {
            padding: 10px;
            color: #295b8f;
            font-family: arial,sans-serif !important;
            font-size: 30px !important;
            text-transform: capitalize !important;
            font-weight: normal !important;
            margin-top: 33px;
        }

        .check_btn {
            width: 100%;
            float: left;
            margin-bottom: 10px;
            margin-top: 18px;
        }

        a:hover {
            text-decoration: none !important;
        }

        input:focus {
            outline: none !important;
        }

        .check_btn a {
            background: #295b8f;
            padding: 6px;
            margin: 5px;
            color: #fff;
            border-radius: 0;
            /* width: 100px; */
            float: none;
            padding: 8px 12px;
            /* height: 35px; */
            text-align: center;
            /* line-height: 23px; */
            font-family: arial,sans-serif;
        }

        .servies_lst ul {
            list-style-type: none;
            padding-left: 49px;
        }

        .servies_lst h3 {
            margin: 10px 2px;
            text-align: left;
            font-size: 16px;
            float: left;
            width: 100%;
            font-family: arial,sans-serif;
        }

        .servies_lst ul li {
            padding-bottom: 10px;
            color: #000;
            padding-left: 20px;
            font-family: arial,sans-serif;
        }

            .servies_lst ul li input[type="checkbox"] {
                padding: 12px;
                position: relative;
                right: 5px;
                top: 2px;
                font-family: arial,sans-serif;
            }

        .check_btn input[type="button"] {
            background: #295b8f;
            padding: 6px;
            margin: 5px 5px 60px 0px;
            color: #fff;
            border-radius: 0;
            padding: 17px 13px;
            /* width: 120px; */
            float: inherit;
            /* height: 35px; */
            text-align: center;
            /* line-height: 23px; */
            cursor: pointer;
            font-family: arial,sans-serif;
            border: 0px;
        }

        body .footer-one {
            position: fixed !important;
        }



        .serv_prod {
            float: left;
            width: 100%;
        }

            .serv_prod h4 {
                color: #000;
                float: left;
                font-family: arial,sans-serif;
            }

            .serv_prod h5 {
                color: blue;
                float: left;
                font-weight: bold;
                padding: 0 4% 0 2%;
                text-align: left;
                width: 350px;
                font-family: arial,sans-serif;
            }

            .serv_prod button {
                border: 2px solid #fff;
                background: #fff none repeat scroll 0 0;
                color: #333;
                float: left;
                font-weight: bold;
                border-radius: 0;
                height: 33px;
                letter-spacing: 0;
                margin-top: 4px;
                width: 66px;
            }

        .serv_prod_main {
            /*background: #ccc none repeat scroll 0 0;*/
            float: left;
            text-align: center;
            width: 100%;
        }

        .cent_lst {
            display: inline-block;
            float: left;
            margin-bottom: 10px;
        }

        .fam_mem h3 {
            /*color: #333;*/
            color: #295b8f;
            float: left;
            /*font-size: 15px;*/
            font-size: 14px;
            font-weight: bold;
            margin: 0 11px 0 0;
            font-family: arial,sans-serif;
        }

        .fam_mem select {
            float: left;
            height: 31px;
            width: 266px;
        }

        .cent_lst > ul {
            float: left;
            margin-top: 10px;
            padding-left: 133px;
            text-align: left;
            width: 100%;
        }

        .cent_lst li {
            float: left;
            list-style-type: none;
            padding-bottom: 5px;
            width: 100%;
            font-family: arial,sans-serif;
        }

        .cent_lst ul li input[type="checkbox"] {
            margin-right: 9px;
        }

        .servies_lst h2 {
            padding: 10px 0;
            color: #295b8f;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            margin-top: 33px;
            font-weight: bold;
            border-bottom: 1px solid #295b8f;
            font-family: arial,sans-serif;
        }

        .no-padding {
            padding: 0;
        }

        .bdr-btm {
            padding-bottom: 15px;
            border: 1px solid #ddd;
            margin-bottom: 15px;
            background: #fff;
            border-radius: 5px;
            padding: 15px;
        }

        .check-change-btn {
            display: block;
            float: left;
            margin-left: 10px;
            /* background: #333; */
            margin-top: 16px;
            height: 8px;
            border-radius: 0;
            font-size: 16px;
            border-bottom: 1px solid;
            color: #295b8f;
            font-weight: bold;
            font-family: arial,sans-serif;
        }

        .company-name label {
            margin-bottom: 12px;
            font-family: arial,sans-serif;
            font-weight: normal;
            color: #295b8f;
        }

        .company-name span {
            display: block;
            /*line-height: 14px;*/
            line-height: 5px;
            font-family: arial,sans-serif;
            font-weight: normal;
        }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            padding: 12px 8px;
            text-align: center;
        }

        .pad-right {
            padding-right: 0;
        }

        .ui-datepicker {
            z-index: 9999 !important;
        }

        .print_btn .check-change-btn {
            margin-top: 10px;
        }

        .txt_labe label {
            font-weight: normal !important;
        }

        .txt_labe {
            text-align: left;
            padding-left: 0px;
        }

        .modaltable tr td {
            padding-bottom: 3px;
            padding-right: 8px;
        }

        /*.modal-dialog {
            width: 500px;
        }*/
        .refer-modal {
            padding-top: 20px;
        }

        .modal-bdr {
            border: none !important;
            margin: 0 !important;
        }

        .modal-dialog-width {
            width: 780px !important;
        }

        .refer_entry h2 {
            color: #295b8f;
            font-size: 18px;
            font-weight: bold;
            margin-top: 0;
        }

        .refer_entry ul {
            float: left;
            width: 100%;
            padding: 10px;
            margin: 0;
        }

            .refer_entry ul li {
                float: left;
                width: 100%;
                list-style-type: none;
                font-size: 15px;
                color: black;
                padding-bottom: 7px;
            }

                .refer_entry ul li label {
                    float: left;
                    text-align: left;
                    padding-right: 2%;
                    width: 46%;
                }

                .refer_entry ul li span label {
                    width: auto;
                    float: left;
                    text-align: left;
                    margin: 0 !important;
                    padding-right: 10px;
                    margin-bottom: 15px;
                }

        .refer_entry .radio-inline {
            width: 100% !important;
        }

        .refer_entry ul li span textarea {
            height: 90px;
            width: 100%;
        }


        .btn-default {
            color: #fff;
            background-color: #295b8f !important;
            border-color: #295b8f !important;
            border-radius: 0;
        }

        #myModal .modal-dialog {
            margin: 5% auto 0;
        }

        .modal-width-change {
            width: 750px;
        }

        .modal-height-change {
            height: 500px;
            overflow: auto;
        }

        .error {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #a94442 !important;
            background-color: #f2dede;
            border-color: transparent;
            width: 219px;
            padding: 0px;
            position: relative;
        }

            .error:before {
                position: absolute;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                top: 50%;
                left: -7px;
                margin-top: -6px;
                content: "";
                border-width: 6px 6px 6px 0;
                border-right-color: #f2dede;
            }

    </style>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 servies_lst no-padding no-print">
        <h2>Match Providers For  @ViewBag.ParentName</h2>
    </div>

    <input type="hidden" value="@Model.MPMList.Count" id="servicescount" />

    <div class="col-xs-12 no-padding bdr-btm no-print">


        <div class="col-xs-12 serv_prod_main no-padding">

            <div class="cent_lst col-xs-12 no-padding">
                <div class="fam_mem">
                    <div class="col-xs-3 pad-right">
                        <h3> Service Resources: </h3>
                    </div>
                    <div class="col-xs-9">
                        <div class="col-xs-12 txt_labe">

                            @if (Model.MPMList != null && Model.MPMList.Count > 0)
                            {

                                if (Model.MPMList.FirstOrDefault().IsFunction == false)
                                {
                                    if (Model.MPMList.Count > 1)
                                    {

                                        <select id="FSResources">
                                            @if (Model.MPMList != null && Model.MPMList.Count > 0)
                                            {
                                                <option value="0">Select Resources</option>
                                                foreach (var Item in Model.MPMList)
                                                {
                                                    <option value="@Item.ServiceId">@Item.Services </option>
                                                }
                                            }
                                            }
                                        </select>

                                    }
                                    else
                                    {
                                        foreach (var Item in Model.MPMList)
                                        {
                                            <input type="hidden" value="@Item.ServiceId" id="FSResources" /> <label id="servicesName">@Item.Services</label>
                                        }
                                    }



                                }
                                else
                                {
                                    foreach (var Item in Model.MPMList)
                                    {
                                        <input type="hidden" value="@Item.ServiceId" id="FSResources" /> <label id="servicesName">@Item.Services</label>
                                    }
                                }
                            }
                            <span class="error" id="err_resource" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 serv_prod_main no-padding">

            <div class="cent_lst col-xs-12 no-padding">
                <div class="fam_mem">
                    <div class="col-xs-3 pad-right">
                        <h3> Service Organization: </h3>
                    </div>
                    <div class="col-xs-9">
                        <div class="col-xs-12 txt_labe">

                            @if (Model.OrganizationList != null && Model.OrganizationList.Count > 0)
                            {
                                if (Model.MPMList.FirstOrDefault().IsFunction == false)
                                {

                                    if (Model.MPMList.Count > 1)
                                    {

                                        <select id="ddFsOrganization">
                                            <option value="0">Select Organization</option>
                                            @if (Model.OrganizationList != null && Model.OrganizationList.Count > 0)
                                            {
                                                if (Model.MPMList.FirstOrDefault().IsFunction == true)
                                                {
                                                    foreach (var Item in Model.OrganizationList)
                                                    {
                                                        <option value="@Item.Value" selected>@Item.Text </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <input type="hidden" id="OrganizationId" value="" />  <label id="ddFsOrganization"></label>
                                    }
                                }
                                else
                                {
                                    foreach (var Item in Model.OrganizationList)
                                    {
                                        <input type="hidden" id="OrganizationId" value="@Item.Value" />  <label id="ddFsOrganization">@Item.Text</label>
                                    }

                                }
                            }
                            <span class="error" id="err_organization" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                            </span>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 serv_prod_main no-padding">
            <div class="cent_lst col-xs-12 no-padding">
                <div class="fam_mem">
                    <div class="col-xs-3 pad-right">
                        <h3> Referral Date: </h3>
                    </div>
                    <div class="col-xs-9">
                        <p style="float:left;margin-bottom:0;position:relative;">
                            @if (Model.MPMList != null && Model.MPMList.Count > 0)
                            {
                                if (Model.MPMList.FirstOrDefault().IsFunction == false)
                                {
                                    <input type="text" maxlength="10" class="txt-date" id="datepicker" value="@DateTime.Now.ToString("MM/dd/yyy")" style="left:0px;margin-top:7px;margin-bottom:0;width:268px;padding:8px;height:28px;position:relative;z-index:9;background:none;border:1px solid #a9a9a9;cursor:pointer;" />
                                }
                                else
                                {
                                    <input type="text" maxlength="10" class="txt-date" id="datepicker" value="@(Convert.ToDateTime(Model.MPMList[0].ReferralDate).ToString("MM/dd/yyy"))" style="left:0px;margin-top:7px;margin-bottom:0;width:268px;padding:8px;height:28px;position:relative;z-index:9;background:none;border:1px solid #a9a9a9;cursor:pointer;" />
                                }
                            }

                        </p>
                        <span class="error" id="err_date" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                        </span>
                    </div>
                    <span class="error" id="errdate" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                    </span>
                </div>
            </div>
        </div>


        <div class="col-xs-12 serv_prod_main no-padding">

            <div class="cent_lst col-xs-12 no-padding">
                <div class="fam_mem">
                    <div class="col-xs-3 pad-right">
                        <h3> Notes: </h3>
                    </div>
                    <div class="col-xs-9">
                        @if (Model.MPMList != null && Model.MPMList.Count > 0)
                        {
                            if (Model.MPMList.FirstOrDefault().IsFunction == false)
                            {
                                <textarea class="txtarea" id="Description" style="height:30px;height: 50px;line-height: 1em;display: block;width: 268px;white-space: nowrap;" rows="3" name="Text" value=""></textarea>

                            }

                            else
                            {
                                foreach (var Item in Model.MPMList)
                                {
                                    <textarea class="txtarea" id="Description" style="height:30px;height: 50px;line-height: 1em;display: block;width: 268px;white-space: nowrap;" rows="3" name="Text" value="@Item.Notes"> @Item.Notes</textarea>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>

        @if (Model.MPMList != null && Model.MPMList.Count > 0)
        {
            foreach (var Item in Model.MPMList)
            {
            }
            <input type="hidden" id="ReferralClientServiceId" value="@(Model.MPMList[0].ReferralClientServiceId)" />
            <input type="hidden" id="_ClientId" value="@(Model.MPMList[0].ClientId)" />
            <input type="hidden" id="_CommunityId" value="@(Model.MPMList[0].CommunityId)" />
            <input type="hidden" id="_ServiceId" value="@(Model.MPMList[0].ServiceId)" />
            <input type="hidden" id="_AgencyId" value="@(Model.MPMList[0].AgencyId)" />
            <input type="hidden" value="@Model.MPMList.Count" id="mpmlistCount" />
            <input type="hidden" value="@ViewBag.clientName" id="clientName" />
            <input type="hidden" value="@ViewBag.StepId" id="stepId" />
            <input type="hidden" id="isupdate" />
            <input type="hidden" id="encryptId" value="@ViewBag.Id" />
            <input type="hidden" id="clientName" value="@ViewBag.ClientName" />
            <input type="hidden" id="referralClientId" value="@ViewBag.ReferralClientId" />
            @Html.HiddenFor(m => m.AgencyId);
            @Html.HiddenFor(m => m.ClientId);
            @Html.HiddenFor(m => m.CommunityId);
            @Html.HiddenFor(m => m.ServiceId);
            @Html.HiddenFor(m => m.ReferralClientServiceId);

        }
        <div class="col-xs-12 no-padding company-name">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-3 pad-right">
                    <span><label><b>Organization Name:</b></label></span>
                </div>
                <div class="col-xs-9">
                    @if (Model.MPMList[0].CommunityId != 0)
                    {
                        <span><a id="spnOrganizationName" data-toggle="modal" data-target="#myModal" style="display:inline-block;margin-top:10px;cursor:pointer;text-decoration:underline">@Model.MPMList[0].OrganizationName</a></span>
                    }
                    else
                    {

                        <span><a id="spnOrganizationName" data-toggle="modal" data-target="#myModal" style="display:inline-block;margin-top:10px;cursor:pointer;text-decoration:underline"></a></span>
                    }
                    <input type="hidden" id="CommunityId" />
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-3 pad-right">
                    <span><label><b>Address:</b></label> </span>
                </div>

                <div class="col-xs-9">
                    @if (Model.MPMList[0].CommunityId != 0)
                    {
                        <span id="SpnCommunityAddress" style="margin-top:10px;display:inline-block;">@(Model.MPMList[0].Address != null ? Model.MPMList[0].Address + "," : " ")</span>
                        <span id="SpnCommunityCity" style="margin-top:10px;display:inline-block;">@(Model.MPMList[0].City != null ? Model.MPMList[0].City : " ")</span>
                        <span id="SpnCommunityState" style="margin-top:10px;display:inline-block;">@(Model.MPMList[0].State != null ? Model.MPMList[0].State + "," : " ")</span><span id="SpnCommunityZipCode" style="margin-top:10px;display:inline-block;padding-left:5px;">@(Model.MPMList[0].ZipCode != null ? Model.MPMList[0].ZipCode : " ")</span>

                    }
                    else
                    {
                        <span id="SpnCommunityAddress" style="margin-top:10px;display:inline-block;"></span>
                        <span id="SpnCommunityCity" style="margin-top:10px;display:inline-block;"></span>
                        <span id="SpnCommunityState" style="margin-top:10px;display:inline-block;"></span><span style="margin-top:10px;display:inline-block;padding-left:5px;" id="SpnCommunityZipCode"></span>

                    }
                </div>
            </div>

            <div class="col-xs-12 no-padding" style="margin-top:10px;">
                <div class="col-xs-3 pad-right">
                    <span><label><b>Phone Number:</b></label> </span>
                </div>

                <div class="col-xs-9">
                    @if (Model.MPMList[0].CommunityId != 0)
                    {

                        <span id="SpnCommunityPhone">@(Model.MPMList[0].Phone != null ? Model.MPMList[0].Phone : " ")</span>

                    }
                    else
                    {

                        <span id="SpnCommunityPhone"></span>


                    }
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-3 pad-right">
                    <span><label><b>Email:</b></label> </span>
                </div>

                <div class="col-xs-9">
                    @if (Model.MPMList[0].CommunityId != 0)
                    {

                        <span id="SpnCommunityEmail">@(Model.MPMList[0].Email != null ? Model.MPMList[0].Email : "" )</span>

                    }
                    else
                    {
                        <span id="SpnCommunityEmail"></span>


                    }
                </div>

            </div>



        </div>
        <div class="col-xs-12 no-padding">
            <div class="check_btn text-center">

                <a href="#" class="check hidden" id="surveryRef" data-toggle="modal" data-target="#myModal5">Survey</a>
                <a href="#" class="check" id="referralLetterPdf">Referral letters</a>
                <input type="button" id="referralServiceSaveMethod" value="Save" style="float:none;">
                <input type="button" id="Cancel" value="Cancel" style="float:none;" onclick="location.href='@Url.Action("ReferralService","Roster",new {id= ViewBag.Id,clientName=ViewBag.ClientName})'">

            </div>
        </div>
        <div class="col-xs-12" style="margin-bottom:50px;"></div>
    </div>


    <div class="modal fade" id="myModal5" role="dialog">
        <div class="modal-dialog modal-width-change">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Referral Survey</strong></h4>
                </div>
                <div class="modal-body modal-height-change">
                    <div class="form_myfunction">
                        <div class="form-group refer_entry">
                            <h2>Quality of Referral</h2>
                            <ul style="border: 1px solid #ccc;">
                                <li><label>Date of Referral</label><span id="ReferralDate" style="display:inline-block;width:52%;"></span></li>
                                <li><label>Name</label><span id="Name" style="display:inline-block;width:52%;"></span></li>
                                <li><label>Service Resources</label><span id="ServicesName" style="display:inline-block;width:52%;"></span></li>
                                <li><label>Organization Name</label><span id="OrganName" style="display:inline-block;width:52%;"></span></li>
                            </ul>

                        </div>
                        <div class="form-group refer_entry">
                            <h2 style="margin-top:20px;">Questions</h2>
                            <div class="col-xs-12 referal-block" style="padding:0; border: 1px solid #ccc;">

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li>
                                            @*<span id="errquestion1"></span>*@
                                            <label id="question1" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:12%;float:left;">

                                                <label class="radio-inline no-print"><input type="radio" value="Yes" name="answerradio1">Yes</label>
                                                <label class="radio-inline no-print"><input type="radio" value="No" name="answerradio1">No</label>

                                                <label class="print-answer hidden" style="font-weight:normal" id="answer1" />
                                            </span>
                                            <span class="error" id="errquestion1" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>
                                        </li>
                                        <li>
                                            <label>If no, explain</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp1" class="no-print" disabled="disabled"></textarea><label class="print-answer hidden" style="font-weight:normal" id="answerlabel1"></label>
                                                <span class="error" id="errquestion1txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>

                                </div>

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li>
                                            <label id="question2" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:20%;float:left;">
                                                <label class="radio-inline"><input type="radio" value="Yes" name="answerradio2">Yes</label>
                                                <label class="radio-inline"><input type="radio" value="No" name="answerradio2">No</label>
                                                <label class="radio-inline"><input type="radio" value="Not Applicable" name="answerradio2">Not Applicable</label>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answer2" />
                                            </span>
                                            <span class="error" id="errquestion2" style="display:none; width: auto;float: left;padding: 0 8px;margin-left:0px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>

                                        </li>
                                        <li>
                                            <label>If no, explain</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp2" class="no-print" disabled="disabled"></textarea><label class="print-answer hidden" style="font-weight:normal" id="answerlabel2"></label>
                                                <span class="error" id="errquestion2txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li>
                                            <label id="question3" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:20%;float:left;">
                                                <label class="radio-inline"><input type="radio" value="Excellent" name="answerradio3">Excellent</label>
                                                <label class="radio-inline"><input type="radio" value="Good" name="answerradio3">Good</label>
                                                <label class="radio-inline"><input type="radio" value="Fair" name="answerradio3">Fair</label>
                                                <label class="radio-inline"><input type="radio" value="Poor" name="answerradio3">Poor</label>
                                                <label class="radio-inline"><input type="radio" value="Not Applicable" name="answerradio3">Not Applicable</label>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answer3" />
                                            </span>
                                            <span class="error" id="errquestion3" style="display:none; width: auto;float: left;padding: 0 8px;margin-left:0px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>
                                        </li>
                                        <li>
                                            <label>Explain any fair or poor answer</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp3" class="no-print" disabled="disabled"></textarea>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answerlabel3"></label>
                                                <span class="error" id="errquestion3txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>

                                </div>

                                <div class="col-xs-12" style="padding:0px;">
                                    <ul>
                                        <li>
                                            <label id="question4" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:20%;float:left;">
                                                <label class="radio-inline"><input type="radio" value="Excellent" name="answerradio4">Excellent</label>
                                                <label class="radio-inline"><input type="radio" value="Good" name="answerradio4">Good</label>
                                                <label class="radio-inline"><input type="radio" value="Fair" name="answerradio4">Fair</label>
                                                <label class="radio-inline"><input type="radio" value="Poor" name="answerradio4">Poor</label>
                                                <label class="radio-inline"><input type="radio" value="Not Applicable" name="answerradio4">Not Applicable</label>
                                                <label class="print-answer" style="font-weight:normal" id="answer4" />
                                            </span>
                                            <span class="error" id="errquestion4" style="display:none; width: auto;float: left;padding: 0 8px;margin-left:0px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>
                                        </li>
                                        <li>
                                            <label>Explain any fair or poor answer</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp4" class="no-print" disabled="disabled"></textarea>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answerlabel4"></label>
                                                <span class="error" id="errquestion4txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li>
                                            <label id="question5" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:52%;">
                                                <label class="radio-inline"><input type="radio" value="Greatly improved the circumstance" name="answerradio5">Greatly improved the circumstance</label>
                                                <label class="radio-inline"><input type="radio" value="Adequately improved the circumstance" name="answerradio5">Adequately improved the circumstance</label>
                                                <label class="radio-inline"><input type="radio" value="Slightly improved the circumstance" name="answerradio5">Slightly improved the circumstance</label>
                                                <label class="radio-inline"><input type="radio" value="Poor" name="answerradio5">Poor</label>
                                                <label class="radio-inline"><input type="radio" value="Did not improve the circumstance at all" name="answerradio5">Did not improve the circumstance at all</label>
                                                <label class="radio-inline"><input type="radio" value="Not Applicable" name="answerradio5">Not Applicable</label>
                                                <label class="print-answer" style="font-weight:normal" id="answer5" />
                                            </span>
                                            <span class="error" id="errquestion5" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 397px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                            </span>
                                        </li>
                                        <li>
                                            <label>Explain any fair or poor answer</label>
                                            <span style="display:inline-block;width:52%;">
                                                <textarea id="answerexp5" class="no-print" disabled="disabled"></textarea>
                                                <label class="print-answer hidden" style="font-weight:normal" id="answerlabel5"></label>
                                                <span class="error" id="errquestion5txt" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-xs-12" style="padding:0;">
                                    <ul>
                                        <li><label id="question6" data-questionid="" data-answerid=""></label><span style="display:inline-block;width:52%;"><textarea id="answerexp6" class="no-print"></textarea><label class="print-answer hidden" style="font-weight:normal" id="answerlabel6"></label></span></li>
                                    </ul>
                                </div>

                                <div class="col-xs-12" style="padding:0px;">
                                    <ul>
                                        <li>
                                            <label>Date Completed (mm/dd/yyyy)</label><span style="display:inline-block;width:52%;">
                                                <input type="text" class="txt-date no-print" id="datecompleted" maxlength="10" style="width:100%;" />
                                                <label id="datecompletespan" style="font-weight:normal" class="print-answer hidden"></label>
                                                <span class="error" id="errquestion6" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:5px;margin-left:90px;">
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div><div class="check_btn col-xs-12 no-padding text-center">

                                    <input type="button" id="SaveSurvey" value="Save" style="float:none;margin-bottom:20px!important;">
                                    <input type="button" id="Cancel" data-dismiss="modal" value="Cancel" style="float:none;margin-bottom:20px!important;">
                                    <input type="button" id="Matchprovider" value="Print" style="float:none;margin-bottom:20px!important;">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SuccessMatchProviders" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Record saved successfully!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" id="succesMatchClose" class="btn btn-default">Ok</button>
                </div>
            </div>
        </div>
    </div>



    <!-----Modal start-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-width">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-bdr">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Referral Information</strong></h4>
                </div>
                <div class="modal-body col-xs-12">

                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5"><div class="h5"><strong>Organization Name:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="refferedtomodal" class="refer-modal" style="font-weight:bold"></div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5"><div class="h5"><strong>Resource Name:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="resourceNamemodal" class="refer-modal"></div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5"><div class="h5"><strong>Address:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="streetModal" class="refer-modal" style="display: inline-block;"></div><div id="cityModal" class="refer-modal" style="display: inline-block;padding:0 5px;"></div><div id="stateModal" class="refer-modal" style="display: inline-block;"></div>
                        </div>
                        <div class="col-xs-5"></div>
                        <div class="col-xs-7">

                        </div>
                        <div class="col-xs-5"></div>
                        <div class="col-xs-7">

                        </div>

                    </div>

                    <div class="col-xs-12" style="padding-top:20px;">
                        <div class="col-xs-5"><div class="h5"><strong>Phone Number:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="phonenoModal" class="refer-modal"></div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding-top:7px;">
                        <div class="col-xs-5"><div class="h5"><strong>Email:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="emailModal" class="refer-modal"></div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5" style="padding-top:0px;"><div class="h5"><strong>Service Resources:</strong></div></div>
                        <div class="col-xs-7" style="padding-top:0px;">
                            <div id="serviceModal" class="refer-modal"></div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding-top:20px;">
                        <div class="col-xs-5" style="padding-top: 7px;">
                            <strong>Business Hours:</strong>
                        </div>
                        <div class="col-xs-7">

                            <div class="center-block">
                                <table style="margin:0;width:100%;">
                                    <tr>
                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>HOURS</td>

                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>MON</td>

                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>TUE</td>

                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>WED</td>

                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>THU</td>

                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>FRI</td>

                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>SAT</td>

                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>SUN</td>

                                    </tr>
                                    <tr>
                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>FROM</td>
                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="monFrmHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="tueFrmHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="wedFrmHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="thuFrmHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="friFrmHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="satFrmHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="sunFrmHours"></td>
                                    </tr>
                                    <tr>
                                        <td style='border: 1px solid #ddd;color: #f4f8fa;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#337ab7;'>TO</td>
                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="monToHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="tueToHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="wedToHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="thuToHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="friToHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="satToHours"></td>

                                        <td style='border: 1px solid #ddd;color: #333;text-transform: none;font-size: 14px;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: 400;text-align: center;padding: 5px;height:24px;background:#fff;' id="sunToHours"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>



                    </div>

                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5"><div class="h5"><strong>Gender Served:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="genderservedModal" class="refer-modal"></div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5"><div class="h5"><strong>Ages Served:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="ageservedModal" class="refer-modal"></div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5"><div class="h5"><strong>Fees:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="feesModal" class="refer-modal"></div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5"><div class="h5"><strong>Payment Options:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="paymentsModal" class="refer-modal"></div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding-top:10px;">
                        <div class="col-xs-5"><div class="h5"><strong>Do you need an appointment?:</strong></div></div>
                        <div class="col-xs-7">
                            <div id="appointmentModal" class="refer-modal"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 15px;">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!---Modal end-->

    <div class="modal fade" id="surveyAnswerError" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="answererror"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="updateChangeModalAlert" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="updatealert"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="updatealertConfirm">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="updatealertCancel">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Scripts/Referral/MatchProvider.js"></script>

       <script>

        $("body").on('keyup', '.txt-date', function (e) {

            flags = 0;
            if (e.keyCode != 193 && e.keyCode != 111) {
                if (e.keyCode != 8) {
                    if ($(this).val().length == 2) {
                        $(this).val($(this).val() + "/");
                    } else if ($(this).val().length == 5) {
                        $(this).val($(this).val() + "/");
                    }
                } else {
                    var temp = $(this).val();
                    if ($(this).val().length == 5) {
                        $(this).val(temp.substring(0, 4));
                    } else if ($(this).val().length == 2) {
                        $(this).val(temp.substring(0, 1));
                    }
                }
            } else {
                var temp = $(this).val();
                var tam = $(this).val().length;
                $(this).val(temp.substring(0, tam - 1));
            }


        });

        var flags = 0;

        $('body').on("keydown", "#datecompleted,.txt-date", function (e) {
            flags++;
            if (flags > 1) {
                e.preventDefault();
            }

            //var regex = /^[0-9]*(?:\.\d{1,2})?$/;

            
            //if( !regex.test(e.value) ) {
            //    return false;
            //}
     
            var key = e.charCode || e.keyCode || 0;

            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (key == 8 || key == 9 || key == 13 || key == 46 ||  key == 37 || key == 39 ||
                key == 35 || key == 36 || key == 110 || key == 190 || key == 191 ||
               (key >= 96 && key <= 111 || key >= 48 && key <= 57 && !e.shiftKey));
            //(e.which == keyCode.ENTER)


            var owner = this,
          pps = owner.properties,
          charCode = e.which || e.keyCode || e.charCode || 0;

            // hit backspace when last character is delimiter

            if (Util.isAndroid() &&
                e.target.value.length &&
                e.target.value.length === this._lastEventValue.length - 1 &&
                Util.isDelimiter(pps.result.slice(-1), pps.delimiter, pps.delimiters)
            ) {
                e.charCode = 8;
            }
            if (e.charCode === 8 &&
                Util.isDelimiter(pps.result.slice(-1), pps.delimiter, pps.delimiters)) {
                pps.backspace = true;
            }
            else {
                pps.backspace = false;
            }
            this._lastEventValue = e.target.value;

        });


    </script>
}
