@model FingerprintsModel.REF
@{
    ViewBag.Title = "ReferralCategorycompany";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    int count = 1;
    int Des_Count = 1;
}

<h2>ReferralCategorycompany</h2>

@section MainContentHolder{
    <style>
        .servies_lst h2 {
            padding: 10px 0;
            color: #295b8f;
            font-size: 30px !important;
            text-transform: capitalize !important;
            margin-top: 33px;
            font-weight: normal;
            border-bottom: 1px solid #295b8f;
            font-family: arial,sans-serif !important;
        }

        .check_btn {
            width: 100%;
            float: left;
            margin-bottom: 10px;
        }

        a:hover {
            text-decoration: none !important;
        }

        input:focus {
            outline: none !important;
        }

        .check_btn a {
            background: #295b8f;
            padding: 6px;
            margin: 5px;
            color: #fff;
            border-radius: 0;
            float: left;
            padding: 15px 12px;
            text-align: center;
            font-family: arial,sans-serif;
        }

        .servies_lst ul {
            list-style-type: none;
            padding-left: 0px;
        }

        .servies_lst h3 {
            margin: 10px 2px;
            text-align: left;
            font-size: 15px;
            float: left;
            width: 100%;
            color: #295b8f;
            font-weight: bold;
            font-family: arial,sans-serif;
        }

        .servies_lst ul li {
            padding-bottom: 10px;
            color: #295b8f;
            padding-left: 20px;
            font-family: arial,sans-serif;
        }

            .servies_lst ul li input[type="checkbox"] {
                padding: 12px;
                position: relative;
                right: 5px;
                top: 2px;
            }

        .check_btn input[type="button"] {
            background: #295b8f;
            padding: 6px;
            margin: 5px 5px 60px 0px;
            color: #fff;
            border-radius: 0;
            padding: 17px 13px;
            /* width: 120px; */
            float: inherit;
            /* height: 35px; */
            text-align: center;
            /* line-height: 23px; */
            cursor: pointer;
            border: 0px;
        }

        body .footer-one {
            position: fixed !important;
        }

        .name_lst {
            width: 100%;
            margin: auto;
        }

            .name_lst span {
                float: left;
                width: 100%;
                line-height: 26px;
            }

            .name_lst input[type="checkbox"] {
                margin: 0 8px;
            }

        .text-heading {
            font-size: 20px;
            margin-bottom: 10px;
            color: #295b8f;
            font-weight: bold;
            font-family: arial,sans-serif;
        }

        .margin-lft {
            margin-left: 20px;
        }

        .no-padding {
            padding: 0;
        }

        .bdr-btm {
            padding-bottom: 15px;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            background: #fff;
            border-radius: 5px;
            padding: 15px;
        }

        .text-heading-change {
            display: block;
            width: 100%;
            margin-top: 14px;
            margin-bottom: 18px;
            font-family: arial,sans-serif;
        }

        .display-text span {
            width: auto !important;
            display: inline-block;
        }






        .btn_scs {
            width: 100%;
            float: left;
            margin-bottom: 30px;
            text-align: center;
            max-width: 532px;
        }

            .btn_scs input {
                float: none !important;
                margin-right: 20px;
                background: #285b8f;
                border: 0px;
                padding: 16px;
                border-radius: 0;
                color: #fff;
                text-transform: capitalize;
                display: inline-block;
            }

        .refer_type_main {
            float: left;
            width: 100%;
        }

            .refer_type_main ul {
                float: left;
                padding: 0px;
                margin: 0px;
                width: 680px;
                max-width: 100%;
            }

                .refer_type_main ul li {
                    width: 100%;
                    float: left;
                    padding-left: 0px;
                    padding-bottom: 10px;
                }

                    .refer_type_main ul li label {
                        float: left;
                        width: 40%;
                    }

                    .refer_type_main ul li span {
                        float: left;
                        width: 60%;
                        color: #555;
                        line-height: 22px;
                    }

                    .refer_type_main ul li input {
                        width: 100% !important;
                        border: 1px solid #ccc !important;
                        box-shadow: none;
                        height: 30px;
                        color: #555;
                    }

                    .refer_type_main ul li select {
                        width: 100%;
                        float: left;
                        border: 1px solid #ccc !important;
                        color: #555;
                        height: 30px;
                        padding: 6px;
                    }

                    .refer_type_main ul li textarea {
                        width: 100%;
                        float: left;
                        height: 120px;
                        border: 1px solid #ccc !important;
                    }

                    .refer_type_main ul li span p {
                        width: 100%;
                    }

        .pad-equal {
            padding: 0 3px;
        }

        .error {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #a94442 !important;
            background-color: #f2dede;
            border-color: transparent;
            width: 219px;
            padding: 0px;
            position: relative;
        }

            .error:before {
                position: absolute;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                top: 50%;
                left: -7px;
                margin-top: -6px;
                content: "";
                border-width: 6px 6px 6px 0;
                border-right-color: #f2dede;
            }
    </style>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 servies_lst">
        @Html.Hidden("MyURL", Url.Action("ReferralService", "Roster", new { id = ViewBag.Id, clientName = ViewBag.ClientName }));
        <input type="hidden" id="encryptId" value="@ViewBag.Id" />
        <h2>family members and referral Type</h2>
        <div class="col-xs-12 no-padding bdr-btm applyborder">
            <div class="name_lst">
                @{ int i = 0;}
                @if (Model.refListData != null && Model.refListData.Count > 0)
                {

                    <span class="text-heading" style="display:inline-block;width:auto;float:left;">
                        Family Members
                    </span>
                    <span class="error" id="errshow" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                    </span>
                        <div class="col-xs-12 no-padding">
                            <label class="col-lg-1 no-padding" style="color:#295b8f;">Parent:</label>
                            <span class="col-lg-11 no-padding" style="width:auto;">
                                @foreach (var item in Model.refListData)
                                {
                                    if (i == 0)
                                    {
                                        <input type="hidden" value="@item.HouseHoldId" id="HouseHoldId" />
                                        <input type="hidden" id="AgencyId_" value="@item.AgencyID" name="" />
                                        <input type="hidden" id="ReferralClientServiceId" value="@item.ReferralClientServiceId" />
                                        i++;
                                    }
                                    if (item.Status == true)
                                    {
                                        if (item.IsFamily == true || item.IsChild == false)
                                        {
                                            <span>
                                                <input type="checkbox" parentname="@item.ParentName" class="CheckClient" value="@item.ClientID" id="ClientID" style="margin-left:0;" />@item.ParentName
                                                <input type="hidden" id="clientId_" value="@item.ClientID" name="" />

                                            </span>

                                        }
                                    }

                                }
                            </span>
                        </div>
                        <div class="col-xs-12 no-padding">
                            <label class="col-lg-1 no-padding" style="color:#295b8f;">Child:</label>
                            <span class="col-lg-11 no-padding" style="width:auto;">
                                @foreach (var Item in Model.refListData)
                                {
                                    if (Item.Status == true)
                                    {
                                        if (Item.IsFamily == false && Item.IsChild == true)
                                        {
                                            <span>
                                                <input type="checkbox" parentname="@Item.ParentName" class="CheckClient" value="@Item.ClientID" id="ClientID" style="margin-left:0;" />@Item.ParentName
                                            </span>
                                        }
                                    }
                                }
                            </span>
                        </div>
                }
            </div>
        </div>


        <div class="col-xs-12 no-padding bdr-btm">
            <div class="refer_type_main">
                <ul>
                    <li>
                        <label>Organization Name:</label>
                        <span>
                            <input class="form-control ui-autocomplete-input validtest" id="txtSearch" maxlength="30" name="Organization" placeholder="Search Organization" style="width:230px!important;display:inline-block;float:left;" value="" autocomplete="off" type="text">

                            <span class="error" id="errspan" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                            </span>
                            
                        </span>
                    </li>
                    <span><input type="hidden" id="communityId" /></span>
                    <li>
                        <label> Referral Type: </label><span>
                            <select id="FFReferralSelect" style="width:230px!important;display:inline-block;">
                                <option value="0">Select Referral Type</option>
                            </select>
                            <span class="error" style="display:none;width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;" id="errnewspan">
                                Please select referral type
                            </span>

                            <label id="FFReferral" style="font-weight: normal" class="addresssection"></label>
                        </span>
                    </li>
                    <li>
                        <label> Referral Date: </label><span>
                            <p style="float:left;margin-bottom:0;position:relative;">


                                <input class="txt-date" id="datepicker" maxlength="10" value="" style="left:0px;margin-top:7px;margin-bottom:0;width:230px!important;padding:8px;height:28px;position:relative;z-index:9;background:none;border:1px solid #a9a9a9;cursor:pointer;float:left;" type="text">
                                <span class="error" id="errdate" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                                </span>
                            </p>
                        </span>


                    </li>
                    <li><label> Notes: </label><span><textarea class="txtarea" id="Description" style="height: 50px;line-height: 1em;display: block;width:230px!important;white-space: nowrap;" rows="3" name="Text" value=""></textarea></span></li>
                    <li><label>Organization Name:</label><span id="spnOrganizationName" class="addresssection"></span></li>
                    <li>
                        <label>Address:</label><span>
                            <p id="refcomma" class="display-text col-xs-12 no-padding" style="">
                                <span id="SpnCommunityAddress" class="addresssection"></span>
                            </p>
                        </span>
                    </li>
                    <li>
                        <label>Phone Number:</label><span>
                            <p id="refcomma" class="display-text col-xs-12 no-padding" style="">
                                <span id="SpnCommunityPhone" class="addresssection"></span>
                            </p>
                        </span>
                    </li>
                    <li>
                        <label>Email:</label><span>
                            <p id="refcomma" class="display-text col-xs-12 no-padding" style="">
                                <span id="SpnCommunityEmail" class="addresssection"></span>
                            </p>
                        </span>
                    </li>
                </ul><div class="btn_scs" style="max-width:initial;">
                    <input id="btnpdf" value="Referral Letters" name="pdf" style="float: left;padding: 16px;background: #285b8f;color: #fff;text-transform: none;border: 0px;margin-left: 10px;" type="submit">
                    <input id="referralServiceSaveMethod" value="Save" style="float:none;" type="button">
                    <input id="Cancel" value="Cancel" style="float:none;" onclick="location.href='@Url.Action("ReferralService","Roster",new {id=ViewBag.Id,clientName=ViewBag.ClientName })'" type="button">
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="referralCompanyModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="referralError"></h4>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Scripts/Referral/ReferralCategoryCompany.js"></script>
  
}


