@{
    @section Title
{
        Roster
    }
    ViewBag.Title = "Roster";
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("94cdf8a2-8d81-4b80-a2c6-cdbdc5894b6d")))
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("e4c80fc2-8b64-447a-99b4-95d1510b01e9")))
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("c352f959-cfd5-4902-a529-71de1f4824cc")))
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }
}

@section Script{
    <script type="text/javascript">
        var EnrolledObject = null;
        var sortOrder = '';
        var sortDirection = '';
        var imgID = '';
        var direction = '';
        var pageSize = 50;
        var requestedPage = 0;
        var pageLoadedFirst = true;
        var totalRecords = 0;
        var numOfPages = 0;
        var StartIndex = 0;
        var LastIndex = 0;
        var search = '';
        var listAgency = null;
        var roleid = '@Session["Roleid"].ToString()';
        $(window).load(function () {
            console.log(HostedDir);
        });
        $(document).ready(function () {
            console.log(EnrolledObject);
            $('input').keypress(function () {
                if ($(this).val() == 'MM/DD/YYYY') {
                    $(this).val('');
                    // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
                }
            });


            if ('@ViewBag.message' != '')
                customAlert('@ViewBag.message');
            if ('@TempData["message"]' != null && '@TempData["message"]' != '') {
                customAlertforlongtime('@TempData["message"]');
            }
            $('#DashboardHV').removeClass("active");
            drawgrid();
            $('#GridRoster > thead > tr > th').click(function () {
                sortOrder = this.id;
                if (sortOrder == "thSN")
                    return false;
                if (sortOrder == "thRN")
                    return false;
                imgID = $("#" + this.id).find('img').attr('id');
                $('#GridRoster > thead > tr > th > img').css("visibility", "hidden");
                direction = $("#" + imgID).siblings('input').val();
                if (direction == "Asc") {
                    $("#" + imgID).siblings('input').val("Desc");
                    sortDirection = $("#" + imgID).siblings('input').val();
                } else {
                    $("#" + imgID).siblings('input').val("Asc");
                    sortDirection = $("#" + imgID).siblings('input').val();
                }
                getList();
                bindGridUser(listAgency, $("#GridRoster").find('tr')[0].cells.length);
            });
            $("#txtsearch").on('change keypress paste', function (e) {
                var key = e.which;
                if (key == 13) {
                    drawgrid();

                }
            });
            $('#ddlpaging').change(function () {
                getListafterupdation();
            });

        });
        function Showreason(object) {

            cleanValidation();
            if ($(object).val() == "0")
                $('#Divreason').show();
            else
                $('#Divreason').hide();
        }
        function isValidChangestatus() {
            cleanValidation();
            $('#rblwaitinglist').removeAttr('style');
            if ($('#ddlreason').val() == "" || $('#ddlreason').val() == null) {
                isValid = false;
                customAlert("Reason is required.");
                plainValidation('#ddlreason');
                return isValid;
            }
            else if ($('#ddlreason').val() == 0 && $('#txtreason').val() == "") {
                isValid = false;
                customAlert("Other reason is required.");
                plainValidation('#txtreason');
                return isValid;
            }
            else if( $('#Divwaitinglist').is(':visible') && $("input:radio[name='waitinglist']:checked").val() == undefined)
            {
                isValid = false;
                customAlert("Waiting list is required.");
                plainValidation('#rblwaitinglist');
                return isValid;
            }

            else {

                BootstrapDialog.confirm("Client status will be changed. Do you want to continue?", function (result) {
                    if (result) {
                        if (EnrolledObject != null) {
                            $.ajax({
                                url: HostedDir + "/AgencyUser/DropClient",
                                type: "POST",
                                data: {
                                    ClientId: $(EnrolledObject).attr("clientid"),
                                    HouseholdId:  $(EnrolledObject).attr("householdid") ,
                                    Status: $(EnrolledObject).attr("accesskey"),
                                    StatusText: $('#lblNewStatus').text(),
                                    Reason: $('#txtreason').val(),
                                    ddlreason: $('#ddlreason').val(),
                                    ddlreasontext: $('#ddlreason').find("option:selected").text(),
                                    IsWaiting: $("input:radio[name='waitinglist']:checked").val()
                                },
                                dataType: "json",
                                secureuri: false,
                                async: false,
                                success: function (response) {
                                    if (response == 0) {
                                       customAlert("Error occurred please try again.");
                                    }
                                    if (response == 1) {
                                        customAlert("Client status changed successfully.");
                                        setTimeout(function () {
                                            //window.location.href = HostedDir + "/AgencyUser/FamilySummary/" + $(EnrolledObject).attr("householdid") + "";
                                            window.location.href = HostedDir + "/Roster/Roster";
                                        }, 300);
                                    }
                                    if (response == 2) {
                                        customAlert("Client status already changed.");
                                        setTimeout(function () {
                                            window.location.href = HostedDir + "/AgencyUser/FamilySummary/" + $(EnrolledObject).attr("householdid") + "";
                                        }, 300);
                                    }
                                }
                                , error: function (response) {
                                    customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
                                }
                            });
                        }
                    }
                });

            }
        }
        function getListafterupdation() {

            pageSize = $('#ddlpagetodisplay').val();
            requestedPage = $('#ddlpaging').val();
            StartIndex = (pageSize * (requestedPage - 1)) + 1;
            LastIndex = parseInt(pageSize * requestedPage) - parseInt(pageSize);
            $('#GridRoster > thead > tr > th > img').css("visibility", "hidden");
            if (imgID != '' && imgID != 'undefined' && imgID != null) {
                direction = $("#" + imgID).siblings('input').val();
            }
            if (direction == "Asc") {
                sortDirection = $("#" + imgID).siblings('input').val();
            } else if (direction == "Desc") {
                sortDirection = $("#" + imgID).siblings('input').val();
            }
            getList();
            //var totalRecord = getTotalRecord();
            if (requestedPage == 1) {
                $('#First').attr('disabled', true);
                $('#Back').attr('disabled', true);
                $('#Next').attr('disabled', false);
                $('#Last').attr('disabled', false);
            }
            else if (requestedPage == numOfPages) {
                $('#First').attr('disabled', false);
                $('#Back').attr('disabled', false);
                $('#Next').attr('disabled', true);
                $('#Last').attr('disabled', true);
            }
            else {
                $('#First').attr('disabled', false);
                $('#Back').attr('disabled', false);
                $('#Next').attr('disabled', false);
                $('#Last').attr('disabled', false);
            }
            bindGridUser(listAgency, $("#GridRoster").find('tr')[0].cells.length);
            $("#ddlpaging").val(requestedPage);
        }
        function getList() {
            $.ajax({
                url: HostedDir + "/Roster/GetPregnantList",
                type: "POST",
                data: {
                    sortOrder: sortOrder,
                    sortDirection: sortDirection,
                    Center: $("#Centers").val(),
                    Classroom: $("#Classroom").val(),
                    pageSize: $('#ddlpagetodisplay').val(),
                    requestedPage: requestedPage
                },
                dataType: "json",
                secureuri: false,
                async: false,
                success: function (data) {
                    getData(data);
                    getTotalRecord(data.totalrecord)
                }
                , error: function (response) {
                    customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
                }
            });
        }
        function getData(dataAgency) {
            listAgency = dataAgency;
        }
        function GoToNextPage(requestedPage, pageSize) {
            $('#GridRoster > thead > tr > th > img').css("visibility", "hidden");
            if (imgID != '' && imgID != 'undefined' && imgID != null) {
                direction = $("#" + imgID).siblings('input').val();
            }
            if (direction == "Asc") {
                sortDirection = $("#" + imgID).siblings('input').val();

            } else if (direction == "Desc") {
                sortDirection = $("#" + imgID).siblings('input').val();
            }
            getList();
            bindGridUser(listAgency, $("#GridRoster").find('tr')[0].cells.length);
        }
        function getlistafterstatuschanged() {
            getList();
            bindGridUser(listAgency, $("#GridRoster").find('tr')[0].cells.length);

        }
        function drawgrid() {
            requestedPage = 1;
            getList();
            bindGridUser(listAgency, $("#GridRoster").find('tr')[0].cells.length);
            LastIndex = 0;
            $('#First').attr('disabled', true);
            $('#Back').attr('disabled', true);
        }
        function cleargrid() {

            sortOrder = '';
            sortDirection = '';
            $("#Centers").val('');
            $("#Classroom").val('');
            $('#Classroom').find('option').remove();

            drawgrid();

        }
        function fnChangePage(val) {
            pageLoadedFirst = false;
            pageSize = $('#ddlpagetodisplay').val();
            if (val == 'First') {
                StartIndex = 0;
                LastIndex = parseInt(pageSize) + parseInt(LastIndex * requestedPage);
                requestedPage = ((StartIndex / 10) + 1);
                GoToNextPage(requestedPage, pageSize);
                $('#First').attr('disabled', true);
                $('#Back').attr('disabled', true);
                $('#Next').attr('disabled', false);
                $('#Last').attr('disabled', false);
                LastIndex = 0;
            }
            else if (val == 'Last') {
                StartIndex = parseInt((totalRecords - 1) / pageSize) * pageSize;
                LastIndex = totalRecords;
                requestedPage = numOfPages;
                GoToNextPage(requestedPage, pageSize)
                $('#First').attr('disabled', false);
                $('#Back').attr('disabled', false);
                $('#Next').attr('disabled', true);
                $('#Last').attr('disabled', true);
            }
            else if (val == 'Next') {
                LastIndex = parseInt(pageSize) + parseInt(LastIndex);
                requestedPage = (parseInt(LastIndex / pageSize) + 1);
                GoToNextPage(requestedPage, pageSize);
                $('#First').attr('disabled', false);
                $('#Back').attr('disabled', false);
                if (parseInt(LastIndex) + parseInt(pageSize) >= totalRecords) {
                    $('#Next').attr('disabled', true);
                    $('#Last').attr('disabled', true);
                }
                else if (parseInt(LastIndex) - parseInt(pageSize) < totalRecords) {
                    $('#Next').attr('disabled', false);
                    $('#Last').attr('disabled', false);
                }
            }
            else if (val == 'Back') {
                requestedPage = requestedPage - 1;
                LastIndex = parseInt(LastIndex) - parseInt(pageSize);
                GoToNextPage(requestedPage, pageSize)
                if (parseInt(LastIndex) + parseInt(pageSize) > totalRecords) {
                    $('#Next').attr('disabled', true);
                    $('#Last').attr('disabled', true);
                }
                else if (parseInt(LastIndex) - parseInt(pageSize) < totalRecords) {
                    $('#Next').attr('disabled', false);
                    $('#Last').attr('disabled', false);
                }
                if (requestedPage == 1) {
                    $('#First').attr('disabled', true);
                    $('#Back').attr('disabled', true);
                }
            }
            else {
            }
        }
        function getTotalRecord(data) {
            $('#First').attr('disabled', false);
            $('#Back').attr('disabled', false);
            $('#Next').attr('disabled', false);
            $('#Last').attr('disabled', false);
            pageSize = $('#ddlpagetodisplay').val();
            if (data > 0) {
                totalRecords = parseInt(data);
                if (totalRecords <= pageSize) {
                    $('#First').attr('disabled', true);
                    $('#Back').attr('disabled', true);
                    $('#Next').attr('disabled', true);
                    $('#Last').attr('disabled', true);
                }
                numOfPages = parseInt(totalRecords / pageSize) + ((totalRecords % pageSize == 0) ? 0 : 1);
                $("#ddlpaging").empty()
                for (i = 1; i <= numOfPages; i++) {
                    var newOption = "<option value='" + i + "'>" + i + "</option>";
                    $("#ddlpaging").append(newOption);
                }
                $("#ddlpaging").val(requestedPage);
            }
            else {
                $('#First').attr('disabled', true);
                $('#Back').attr('disabled', true);
                $('#Next').attr('disabled', true);
                $('#Last').attr('disabled', true);
            }
        }

        function openAgencyUserFamilySummaryById(value) {
            $('#spinner').show();
            var EHouseholid = $(value).attr("EHouseholid");
            var url = HostedDir + '/AgencyUser/FamilySummary/' + EHouseholid;
            window.location.href = url;
            //$('#spinner').hide();
        }
        function bindGridUser(data, num_cols) {
            console.log(data);
            $('#GridRoster > tbody > tr').remove();

            if (data.list.Rosters == null) {
                $('#div1').show();
            }
            else {
                $('#div1').hide();
                $('#divPaging').show();
                var tbody = $('#GridRoster > tbody');

                for (var i = 0; i < data.list.Rosters.length; i++) {
                    var tr = "";
                    tr += "<tr>";
                    tr += '<td height="70" class="child_name"><a EHouseholid="' + data.list.Rosters[i].EHouseholid + '" EClientId="' + data.list.Rosters[i].Eclientid + '" onclick="openAgencyUserFamilySummaryById(this);" onmouseover="getProfilePicture(this);"  href="#">' + data.list.Rosters[i].Name + '</a><span class="tooltiptext"></span></td>';

                    //tr += '<td height="70"><a href="' + HostedDir + '/AgencyUser/FamilySummary/' + data.list.Rosters[i].EHouseholid + '">' + data.list.Rosters[i].Name + '</a></td>';
                    if (roleid == '94cdf8a2-8d81-4b80-a2c6-cdbdc5894b6d' || roleid == 'c352f959-cfd5-4902-a529-71de1f4824cc') {
                        tr += '<td height="70" style="text-align:center;">';
                        if (data.list.Rosters[i].IsPresent == "1") {
                            tr += "<i style='color:#3c763d;' title='Present' class='fa fa-check'></i>";
                        }
                        else if (data.list.Rosters[i].IsPresent == "2") {
                            tr += "<i style='color:#ff2222;' title='Absent' class='fa fa-times'></i>";
                        }
                        else if (data.list.Rosters[i].IsPresent == "3") {
                            tr += "<i style='color:#ff5722;' title='Left Earlier' class='fa fa-times'></i>";
                        }
                        else {
                            tr += "<i style='color:#ff2222;' title='Absent' class='fa fa-times'></i>";//Changes on 3jan2016
                        }
                        tr += '</td>';
                    }
                    //End
                    //Picture//

                    //tr += '<td height="70" style="text-align:center;width:11%;">';
                    //if (data.list.Rosters[i].Picture == "" && data.list.Rosters[i].Gender == "2") {
                    //    tr += '<img class="roundimage"  width="50" height="50"  src="' + HostedDir + '/Content/img/ic_female.png" />';
                    //}
                    //else if (data.list.Rosters[i].Picture == "" && data.list.Rosters[i].Gender == "1") {
                    //    tr += '<img class="roundimage" width="50" height="50"   src="' + HostedDir + '/Content/img/ic_male.png" />';
                    //}
                    //else if (data.list.Rosters[i].Picture == "" && data.list.Rosters[i].Gender == "3") {
                    //    tr += '<img class="roundimage"  width="50" height="50"  src="' + HostedDir + '/Content/img/ic_male_default.png" />';
                    //}
                    //else if (data.list.Rosters[i].Picture != "") {
                    //    tr += '<img class="roundimage" width="50" height="50"   src="data:image/jpg;base64,' + data.list.Rosters[i].Picture + '"/>';
                    //}
                    //else {
                    //    tr += '<img class="roundimage"  width="50" height="50"  src="' + HostedDir + '/Content/img/download.jpg" />';
                    //}
                    //tr += '</td>';

                    //Picture End//
                    if (roleid == '94cdf8a2-8d81-4b80-a2c6-cdbdc5894b6d' || roleid == 'c352f959-cfd5-4902-a529-71de1f4824cc') {
                        tr += '<td height="70" style="width:13%;"></td>';
                    }
                    tr += '<td height="70" style="text-align:center;">' + data.list.Rosters[i].CenterName + '</td>';
                    tr += '<td height="70" style="text-align:center;">' + data.list.Rosters[i].ClassroomName + '</td>';
                    tr += '<td height="70" style="width:26%;">';
                    tr += '<a style="text-decoration:underline;cursor:pointer;" title="Transition" href="' + HostedDir + '/Roster/ChildEarlyHeadStartTransition/?Id=' + data.list.Rosters[i].Eclientid + '&ProgramId=' + data.list.Rosters[i].ProgramId + '">Transition </a>  &nbsp';
                   
                    $('#GridRoster > tbody').append(tr);

                }
                //$('#GridRoster img').zoomify();


            }

            if (data.list.Centers != null && data.list.Centers.length > 0) {
                var option = "";

                if ($('#Centers').find('option').length < 1) {
                    for (var i = 0; i < data.list.Centers.length; i++) {
                        option = option + '<option value="' + data.list.Centers[i].CenterId + '">' + data.list.Centers[i].Name + '</option>';
                    }
                    $('#Centers').find('option').remove().end().append(option);
                    $('#Centers').val('');
                }

            }
        }

        function Loadchangestatusmodel(object) {
            cleanValidation();
            $('#Divwaitinglist').hide();
            if ($(object).attr("accesskey") == "5") {
                BindReason(object);
                EnrolledObject = object;
                $('#lblCurrentStatus').text("Enrolled");
                //  $('#lblNewStatus').text("Withdrawn");
                $('#lblNewStatus').text("Dropped");
                $('#Divwaitinglist').show();
                $('#ddlreason').val('');
                $('#ClientNameAll').text($(object).attr("name"));
                $('#ChangeclientStatus').modal('show');
            }
            if ($(object).attr("accesskey") == "6") {
                BindReason(object);
                EnrolledObject = object;
                $('#lblCurrentStatus').text("Dropped");
                $('#lblNewStatus').text("Re-enrolled");
                $('#ddlreason').val('');
                $('#ClientNameAll').text($(object).attr("name"));
                $('#ChangeclientStatus').modal('show');
            }
            if ($(object).attr("accesskey") == "7") {
                BindReason(object);
                EnrolledObject = object;
                $('#lblCurrentStatus').text("Withdrawn");
                $('#lblNewStatus').text("Re-enrolled");
                $('#ddlreason').val('');
                $('#ClientNameAll').text($(object).attr("name"));
                $('#ChangeclientStatus').modal('show');
            }




            if ($(object).attr("accesskey") == "8" || $(object).attr("accesskey") == "9") {
                BindReason(object);
                EnrolledObject = object;
                if ($(object).attr("accesskey") == "8") {
                    $('#lblCurrentStatus').text("Enrollmentservices");
                    $('#lblNewStatus').text("Withdrawn");
                }
                if ($(object).attr("accesskey") == "9") {
                    $('#lblCurrentStatus').text("Re-enrolled");
                    $('#lblNewStatus').text("Withdrawn");
                }
                $('#ddlreason').val('');
                $('#ClientNameAll').text($(object).attr("name"));
                $('#ChangeclientStatus').modal('show');
            }




        }
        function BindReason(object) {

            $.ajax({
                url: HostedDir + "/Agencyuser/GetEnrollReason",
                type: "POST",
                data: {
                    Status: $(object).attr("accesskey")
                },
                dataType: "json",
                secureuri: false,
                async: false,
                success: function (response) {
                    if (response.length > 0) {
                        var option = "";
                        for (var i = 0; i < response.length; i++) {
                            option = option + '<option value="' + response[i].ReasonID + '">' + response[i].ReasonText + '</option>';
                        }
                        $('#ddlreason').find('option').remove().end().append(option);
                        $('#ddlreason').val('');
                    }
                    else {
                        $('#ddlreason').find('option').remove();
                    }
                }
                , error: function (response) {
                    customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
                }
            });

        }
        function GetClassrooms(Select) {

            $.ajax({
                url: HostedDir + "/Roster/Getclassrooms",
                type: "POST",
                data: {
                    Centerid: $(Select).val()
                },
                dataType: "json",
                secureuri: false,
                async: false,
                success: function (response) {
                    if (response.length > 0) {
                        var option = "";
                        for (var i = 0; i < response.length; i++) {
                            option = option + '<option value="' + response[i].ClassroomID + '">' + response[i].ClassName + '</option>';
                        }
                        $('#Classroom').find('option').remove().end().append(option);
                        $('#Classroom').val('');
                    }
                    else {
                        $('#Classroom').find('option').remove();
                    }
                }
                   , error: function (response) {
                       customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
                   }
            });
        }

        function getProfilePicture(pic)
        {

            //$('.tooltiptext').css({ 'visibility': 'hidden' });

            var enc_id = $(pic).attr('EClientId');
            var position = $(pic).position();
            var topalignment = position.top;
            $.ajax({
                url: '/Roster/GetChildrenImage',
                dataType: 'json',
                type: 'post',
                data: { enc_clientId: enc_id },
                success: function (data) {

                    var image = '';
                    if (data.Text == "" && data.Value == "2") {
                        image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/ic_female.png" />';
                    }
                    else if (data.Text == "" && data.Value == "1") {
                        image = '<img class="roundimage" width="100" height="100"   src="/Content/img/ic_male.png" />';
                    }
                    else if (data.Text == "" && ata.Text == "3") {
                        image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/ic_male_default.png" />';
                    }
                    else if (data.Text != "") {
                        image = '<img class="roundimage" width="100" height="100"   src="data:image/jpg;base64,' + data.Text + '"/></td>'
                    }
                    else {
                        image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/download.jpg" />';
                    }

                    $(pic).parent('td').find('.tooltiptext').html(image).css({ 'top': (topalignment - 30), 'height': '110px', 'width': '120px' });
                    $(pic).parent('td').find('.roundimage').zoomify();

                },
                error: function (data) {

                }
            });
        }

        //function hideProfileImage(pics)
        //{
        //    $(pics).find('.tooltiptext').css({ 'visibility': 'hidden' });
        //}

    </script>
}

@section MainContentHolder{
    <style>
        .child_name .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            /*background-color: rgba(0, 0, 0, 0.18);*/
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            /*top: 28px;*/
            left: 178px;
            line-height: 25px;
            border: 1px solid black;
        }


            .child_name .tooltiptext::after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 100%; /* To the left of the tooltip */
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
            }

        .child_name:hover .tooltiptext {
            visibility: visible;
        }

        .child_name:not( :hover ) .tooltiptext {
            visibility: hidden;
        }
    </style>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Roster</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 add-useragform">
            <div class="col-sm-3">
                <label>Center</label>
            </div>
            <div class="col-sm-3">
                <label>Classroom</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 adddivspace">
            <div class="col-sm-3">
                <select id="Centers" onchange="GetClassrooms(this);" style="height:38px !important;" class="form-control"></select>
            </div>
            <div class="col-sm-3">
                <select id="Classroom" style="height:38px !important;" class="form-control"></select>
            </div>
            <div class="col-sm-3">
                <button id="btnsearch" class="my-btn" onclick="drawgrid();">Search</button>
                <button id="btnclear" class="my-btn" onclick="cleargrid();">Clear</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
            <div class="table-responsive">
                <table class="table table_size" id="GridRoster">
                    <thead style="cursor:pointer;">
                        <tr>
                            <th id="thIN">Child Name<img id="imgthIN" style="visibility:hidden" /> <input type="hidden" id="directionNA" value="Desc" /></th>
                            @if (Session["Roleid"] != null && ((Session["Roleid"].ToString().Contains("94cdf8a2-8d81-4b80-a2c6-cdbdc5894b6d")) || (Session["Roleid"].ToString().Contains("c352f959-cfd5-4902-a529-71de1f4824cc"))))
                            {
                                <th><img id="imgthIN" style="visibility:hidden" /> <input type="hidden" id="directionNA" value="Desc" /></th>
                            }

                            @*<th id="thCust">Child's Picture<img id="imgthCust" style="visibility:hidden" /> <input type="hidden" id="directionUN" value="Desc" /></th>*@

                            @if (Session["Roleid"] != null && ((Session["Roleid"].ToString().Contains("94cdf8a2-8d81-4b80-a2c6-cdbdc5894b6d")) || (Session["Roleid"].ToString().Contains("c352f959-cfd5-4902-a529-71de1f4824cc"))))
                            {
                                <th id="thRN">Attendance Issue<img id="imgthRN" style="visibility:hidden" /> <input type="hidden" id="directionRN" /></th>
                            }
                            <th id="thMN">Center<img id="imgthCN" style="visibility:hidden" /><input type="hidden" id="directionCN" value="Desc" /></th>
                            <th id="thAN">Classroom<img id="imgthCN" style="visibility:hidden" /><input type="hidden" id="directionCN" value="Desc" /></th>
                            <th id="thSN" style="width: 24%;">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="div1" style="text-align:center;display:none;">
                    <label>No result found.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
            <div class="pages_display">
                <ul>
                    <li>Display</li>
                    <li>
                        <select id="ddlpagetodisplay" onchange="drawgrid();">
                            <option value="10" selected="selected">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </li>
                    <li>Records Per Page</li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="divPaging" class="pagination_wrp">
                <ul id="ulPaging" class="pagination">
                    <li><input id='First' type='image' src="~/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('First'); return false;" /></li>
                    <li title="Back"><input id='Back' type='image' src="~/Images/prevarrow.png" style='cursor:pointer;' onclick="fnChangePage('Back'); return false;" /></li>
                    <li title="Select">
                        <select class="select_cl" id="ddlpaging"></select>
                    </li>
                    <li title="Next"><input id='Next' type='image' src="~/Images/nextarrow1.png" style='cursor:pointer;' onclick="fnChangePage('Next'); return false;" /></li>
                    <li title="Last"><input id='Last' type='image' src="~/Images/nextarrow.png" style='cursor:pointer;' onclick="fnChangePage('Last'); return false;" /></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ChangeclientStatus" role="dialog">
        <div class="modal-dialog income-popup width-auto">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-center">Change Status<span class="extra-title muted"></span></h3>
                </div>
                <div class="control-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main*">
                            <div class="add-useragform">

                                <div class="col-sm-12">
                                    <fieldset style="border: 1px solid #295b8f; ">
                                        <legend class="legend1"></legend>
                                        <div class="col-sm-9">
                                            <div class="col-sm-3">
                                                <label style="width:100%;">Name</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <label style="width: 100%; font-size: 15px; color: #337ab7;" id="ClientNameAll"></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="col-sm-3">
                                                <label style="width:100%;">Current Status<sup>*</sup></label>
                                            </div>
                                            <div class="col-sm-5">
                                                <label style="width: 100%; font-size: 15px; color: #337ab7;" id="lblCurrentStatus"></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="col-sm-3">
                                                <label style="width:100%;">New Status<sup>*</sup></label>
                                            </div>
                                            <div class="col-sm-5">
                                                <label style="width: 100%; font-size: 15px; color: #337ab7;" id="lblNewStatus"></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-9" style="margin-bottom:1%;">
                                            <div class="col-sm-3">
                                                <label style="width:100%;">Reason<sup>*</sup></label>
                                            </div>
                                            <div class="col-sm-5">
                                                <select id="ddlreason" style="width:100%;" onchange="Showreason(this);" class="form-control">
                                                    <option>Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-9" style="margin-bottom:1%;display:none;" id="Divreason">
                                            <div class="col-sm-3">
                                                <label style="width:100%;"></label>
                                            </div>
                                            <div class="col-sm-5">
                                                <textarea id="txtreason" placeholder="Reason" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-9" style="margin-bottom:1%;display:none;" id="Divwaitinglist">
                                            <div class="col-sm-3">
                                                <label style="width:100%;">Place on Waiting List<sup>*</sup></label>
                                            </div>
                                            <div class="col-sm-5" id="rblwaitinglist">
                                                <div>
                                                    <label class="radio-inline">
                                                        <input data-val="true" id="rdWaintingList" name="waitinglist" tabindex="22" type="radio" value="1">                                                            <span>Yes</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <label class="radio-inline">
                                                        <input id="rdWaintingList" name="waitinglist" tabindex="23" type="radio" value="0">
                                                        <span>No  </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="btnwrp_subcal">
                                <button type="button" class="my-btn" onclick="return isValidChangestatus();">Submit</button>
                                <button tabindex="17" class="my-btn" data-dismiss="modal" type="button">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}






