@model  FingerprintsModel.FamilyHousehold

<div class="table-responsive">
    <table class="table table_size" id="gridView">
        <thead style="cursor:pointer;">
            <tr style="text-align:center;">
                <th>File Name</th>
                <th>Description</th>
                <th>Added On</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            @if (@ViewBag.tabName == "Household")
            {
                foreach (var row in Model.getList)
                {
                    <tr>
                        <td>@row.HFileName</td>
                        <td>@row.DocumentDesc</td>
                        <td>@row.CreatedOn</td>
                        <td><a target="_blank" title="Click here to download" href="~/Agencyuser/getpdfimage1/@row.FamilyHouseholdID,@ViewBag.tabName,@row.AmountNo"><i class="fa fa-download"></i></a></td>
                    </tr>
                }
            }

            else if (@ViewBag.tabName == "Child ")
            {
                foreach (var row in Model.getList)
                {
                    <tr>
                        <td>@row.HFileName</td>
                        <td>@row.DocumentDesc</td>
                        <td>@row.CreatedOn</td>
                        <td><a target="_blank" title="Click here to download" href="~/Agencyuser/getpdfimage1/@row.FamilyHouseholdID,@ViewBag.tabName,@row.AmountNo"><i class="fa fa-download"></i></a></td>
                    </tr>
                }
            }


            else
            {
                foreach (var row in Model.getList)
                {
                    <tr>
                        <td>@row.HFileName</td>
                        <td>@row.DocumentDesc</td>
                        <td>@row.CreatedOn</td>
                        <td><a target="_blank" title="Click here to download" href="~/Agencyuser/getpdfimage1/@row.FamilyHouseholdID,@ViewBag.tabName,@row.AmountNo"><i class="fa fa-download"></i></a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

    



























