@{
    @section Title
{

        Yakkr List

    }
    ViewBag.Title = "Yakkrlist";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@section Script{

}
@section MainContentHolder{
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                @if (ViewBag.userlist != null)
                {
                    foreach (FingerprintsModel.Fswuserapproval Centername in ViewBag.userlist)
                    {
                        @Centername.CenterName
                        break;
                    }
                }

            <span class="view-btn backto_listspan" id="BackToList">
                <a href="~/Home/AgencystaffDashboard" class="backto_list">Back to list</a>
            </span>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
        <div class="table-responsive">
            <table class="table table_size" id="Yakkr">
                <thead style="cursor:pointer;">
                    <tr>
                        <th>Code</th>
                        <th>Child Name</th>
                        @*<th>Description</th>*@
                        <th>Date</th>
                        <th>Center</th>
                     
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.userlist != null)
                    {

                        foreach (FingerprintsModel.Fswuserapproval user in ViewBag.userlist)
                        {
                            <tr>
                                <td title="@user.routecode"><a href="">@user.Status</a></td>@*@user.routecode*@
                                <td>@user.ClientName</td>
                                @*<td>@user.Status</td>*@
                                <td>@user.Date</td>
                                <td>@user.CenterName</td>
                               
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
}