@model FingerprintsModel.Login
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login </title>
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/Samplescript/index.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Content/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/Samplescript/index.js"></script>*@
    <script src="~/Scripts/SiteScript.js"></script>
    <link id="Link1" rel="shortcut icon" href="~/Content/img/faviicon.jpg" type="image/x-icon" />
    <script type="text/javascript">

        $(document).ready(function () {
            $('input').keypress(function () {
                if ($(this).val() == 'MM/DD/YYYY') {
                    $(this).val('');
                    // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
                }
            });
            if ('@ViewBag.message' != '')
                customAlert('@ViewBag.message');
            //Changes on 28Dec2016
            if ('@TempData["message"]' != null && '@TempData["message"]' != '') {
                customAlertforlongtime('@TempData["message"]');
            }
            //End
            $('#btnLogin').click(function () {
                var isValid = true;
                cleanValidation();
                if ($("#Emailid")[0].value.trim() == "") {
                    customAlert("Please enter email id.");
                    plainValidation('#Emailid');
                    isValid = false;
                }
                else if ($("#Password")[0].value.trim() == "") {
                    customAlert("Please enter password.");
                    plainValidation('#Password');
                    isValid = false;
                }
                else if ($("#AgencyCode")[0] != undefined) {
                    if ($("#AgencyCode")[0].value.trim() == "") {
                        customAlert("Please enter agency code.");
                        plainValidation('#AgencyCode');
                        isValid = false;
                    }
                }
                return isValid;
            });
            $('#btncancel').click(function () {
                $('#Emailid')[0].value = "";
                $('#Password')[0].value = "";
                $('#AgencyCode')[0].value = "";
            });
        });
        if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
            var viewportmeta = document.querySelector('meta[name="viewport"]');
            if (viewportmeta) {
                viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
                document.body.addEventListener('gesturestart', function () {
                    viewportmeta.content = 'width=device-width, minimum-scale=0.25, maximum-scale=1.6';
                }, false);
            }
        }

    </script>

    <style>
        body {
            background: url(../Content/img/login-bg.png) repeat;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="login-form">
                    <form method="post">
                        <div class="top">
                            <img class="icon" alt="icon" src="~/Content/img/ge_logo_banner_left2.png">

                        </div>
                        <div class="form-area" style="padding-bottom:15px;">
                            <div class="group">
                                @Html.TextBoxFor(m => m.Emailid, new { @class = "form-control", placeholder = "Email", maxlength = "50" })
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="group">
                                @if (Model != null)
                                {
                                    if (Model.Password != null)
                                    {
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", maxlength = "50", value = Model.Password })
                                    }
                                    else
                                    {
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", maxlength = "50" })
                                    }
                                }
                                else
                                {

                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", maxlength = "50" })
                                }
                                <i class="fa fa-key"></i>
                            </div>
                            @*<div class="group">
                                    @Html.TextBoxFor(m => m.AgencyCode, new { @class = "form-control", placeholder = "Agency Code", maxlength = "50" })
                                    <i class="fa fa-user"></i>
                                </div>*@



                            <div class="checkbox checkbox-primary rem_chekbox">

                                @if (HttpContext.Current.Request.Cookies["Emailid"] != null)
                                {
                                    @Html.CheckBox("chkRememberMe", true)
                                }
                                else
                                {
                                    @Html.CheckBox("chkRememberMe", false)
                                }

                                <label for="checkbox101"> Remember Me</label>
                                <label for="checkbox101" class="text-right inp-forpass" style="float:right; margin-right:0px;"> <a href="~/Login/ForgetPasswordagency">Forgot Password?</a> </label>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="btn_logcl">
                                        <button class="btn btn-default" type="submit" id="btnLogin">Login</button>
                                        <a href="~/AgencyUser/staffRegistration"><button class="btn btn-default" type="button" id="btncancel">Sign Up</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="line-height:normal; text-align:center;">
                            By accessing this site, you agree to
                            <br />
                            GEFingerPrints <a target="_blank" href="~/TempAttachment/Termsandconditions.pdf">Terms and Conditions</a>.
                        </p>
                    </form>




                </div><!--login-form-->
            </div>
        </div>
    </div><!--container-->
    <div class="clear"></div>
    <div class="footer-one my-foot fix-foot" style="bottom:0;">
        <footer>
            <p class="text-center">
                @*By accessing this site, you agree to
                    <br />
                    GEFingerPrint's Terms and Conditions.*@
                Copyright © 2016 All Rights Reserved.
                <br />Application Link Inc
            </p>
        </footer>
    </div>
    <div>
        <ul style="top: 20px; right: 20px; position: fixed; width: 270px;float:right; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 10000000;" class="i-am-new">

            <li id="noty_topRight_layout_container" style="overflow: hidden; display: none; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==&quot;) repeat-x scroll left top #a94442; border: 1px solid darkred; color: rgb(255, 255, 255); width: 270px;float:right; cursor: pointer;">
                <div id="noty_237439575065076060" class="noty_bar">
                    <div style="font-size: 13px; line-height: 16px; text-align: left; padding: 8px 10px 9px; width: auto; position: relative; font-weight: bold;" class="noty_message">
                        <span class="noty_text">.</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
