@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AgencyHrLayout</title>
    </head>
    <body>
        <div>

        </div>
    </body>
    </html>*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title", false)</title>
    <noscript>
        <meta http-equiv="refresh" content="0;url=/StaffRegistrationbeta/Home/DisableJavascript" />
    </noscript>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link id="Link1" rel="shortcut icon" href="~/Content/img/faviicon.jpg" type="image/x-icon" />  
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/testcss/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Samplescript/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.0.min.js"></script>
    <script src="~/Scripts/SiteScript.js"></script>
    <script src="~/Scripts/Samplescript/index.js"></script>
    <script src="~/Scripts/Samplescript/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Scripts/Samplescript/jquery.datetimepicker.min.js"></script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Content/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/startmin.js"></script>
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrapmodal.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.6-dist/js/Boostrapmodalbox.js"></script>
    <script src="~/Scripts/USmobilevalidation.js"></script>
    <link href="~/Content/style_latest.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("img").error(function () {
                $(this).hide();
            });
            $('#changePassword').click(function (e) {
                $('#currentPassword')[0].value = "";
                $('#newPassword')[0].value = "";
                $('#retypePassword')[0].value = "";
                //$('#Change_Pass').lightbox_me({ centered: true, onLoad: function () { } });
                e.preventDefault();
            });
            try {
                $("#searchAgencystaff").autocomplete({

                    minLength: 1,
                    source: function (request, response) {
                        $.ajax({
                            url: HostedDir + "/AgencyAdmin/AutoCompleteAgencystaff",
                            type: "POST",
                            dataType: "json",
                            data: { term: request.term },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.FirstName, id: item.AgencyStaffId };
                                }))
                            }

                        })
                    },
                    select: function (event, ui) {
                        window.location.href = HostedDir + '/AgencyUser/editStaff/' + ui.item.id;
                        return false;
                    },
                    messages: {
                        noResults: "", results: ""
                    }

                })

            }
            catch (err) {
            }
        });
        function Checkrole(object) {
            BootstrapDialog.confirm($(object).text() + ' role will be active. Do you want to continuue.', function (result) {
                if (result) {
                    if (object != null)
                        window.location.href = HostedDir + '/MyProfile/ChangeRole/' + $(object).attr("accesskey");
                }
            });
        }
    </script>
    <style>
        .ui-autocomplete {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            display: none;
            min-width: 160px;
            _width: 160px;
            padding: 4px 0;
            margin: 2px 0 0 0;
            list-style: none;
            background-color: #ffffff;
            border-color: #ccc;
            border-color: rgba(0, 0, 0, 0.2);
            border-style: solid;
            border-width: 1px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            *border-right-width: 2px;
            *border-bottom-width: 2px;
        }

        .ui-menu-item > a.ui-corner-all {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            color: #555555;
            white-space: nowrap;
        }

        &.ui-state-hover, &.ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-image: none;
        }

        .ui-menu-item {
            cursor: pointer;
        }
    </style>


    @RenderSection(name: "Script", required: false)
</head>
<body>
    <div class="header-top">
        <nav class="navbar navbar-inverse navbar-fixed-top header_ge" role="navigation">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-place">

                <div class="navbar-header logo-ge">
                    <a class="navbar-brand" href="~/Home/AgencyHRDashboard"><img class="img-responsive" src="~/content/img/ge_logo_banner_left2.png" style="max-width:250px" /></a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 menu-place">
                <div class="menu-head">
                    <ul class="nav navbar-right navbar-top-links log_outwrp">
                        <li>
                            <form class="searchform">
                                <div class="search-box">
                                    <input type="text" placeholder="Search Staff" id="searchAgencystaff" class="searchbox">
                                    <span class="searchbutton"><i class="fa fa-search"></i></span>
                                </div>
                            </form>
                        </li>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> @Session["FullName"] <b class="caret"></b> </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="~/MyProfile/editProfile/@Session["UserID"]"><i class="fa fa-user fa-fw"></i> My Profile</a></li>
                                <li><a id="changePassword" data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-gear fa-fw"></i> Change Password</a></li>
                                <li class="li-relative">
                                    <a href="#"><i class="fa fa-user fa-fw"></i> Roles</a>
                                    <ul class="roles-sub-menu">
                                        @if (Session["RoleList"] != null && ((List<FingerprintsModel.Role>)Session["RoleList"]).Count > 0)
                                        {
                                            foreach (var item in ((List<FingerprintsModel.Role>)Session["RoleList"]))
                                            {
                                                <li><a onclick="Checkrole(this);" accesskey="@item.RoleId" href="#"><i class="fa fa-user fa-fw"></i> @item.RoleName</a></li>
                                            }
                                        }
                                    </ul>
                                </li>


                                <li><a href="~/Login/LogoutAgency"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="error-msg">
                    <ul class="i-am-new">
                        <li id="noty_topRight_layout_container" style="overflow: hidden; display: none; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==&quot;) repeat-x scroll left top #a94442;  color: rgb(255, 255, 255); width: 270px;float:right; cursor: pointer; ">
                            <div id="noty_237439575065076060" class="noty_bar">
                                <div style="font-size: 13px; line-height: 16px; text-align: left; padding: 8px 10px 9px; width: auto; position: relative; font-weight: bold;" class="noty_message">
                                    <span class="noty_text">.</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
                    <ul id="side-menu" class="nav in">

                        <li> <a id="li1" href="~/Home/AgencyHRDashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a> </li>
                        <li><a id="li5" href="~/AgencyAdmin/pendingVerification"><i class="fa fa-bar-chart-o fa-fw"></i> Pending Verification</a></li>
                        <li><a id="li6" href="~/Agency/viewagencystaff"><i class="fa fa-users"></i> Staff List</a></li>
                        
                        <li><a id="li7" href="~/AgencyUser/staffReport"><i class="fa fa-bar-chart-o fa-fw"></i> Staff Report</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="page-wrapper">
        @RenderSection(name: "MainContentHolder", required: false)
    </div>
    <div class="footer-one">
        <footer>
            <p class="text-center">Copyright © 2016 All Rights Reserved.<br />Application Link Inc.</p>
        </footer>
    </div>
    @{Html.RenderAction("ChangePassword", "Login", new { area = "" });}
</body>
@*<body>
        <div class="header-top">

            <nav class="navbar navbar-inverse navbar-fixed-top header_ge" role="navigation">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-place
                    <div class="navbar-header logo-ge">
                        <a class="navbar-brand" href="~/Home/AgencyHRDashboard"><img class="img-responsive" src="~/content/img/ge_logo_banner_left2.png" /></a>
                        <div class="clear"></div>
                    </div>
                </div>



                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <ul class="nav navbar-right navbar-top-links log_outwrp">
                    <form class="searchform">
                        <input type="text" placeholder="Search Agency" id="searchbox" class="searchbox">
                        <span class="searchbutton"><i class="fa fa-search"></i></span>
                    </form>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> @Session["FullName"] <b class="caret"></b> </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a id="changePassword" data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-gear fa-fw"></i> Change Password</a></li>

                            <li><a href="~/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
                        <ul id="side-menu" class="nav in">
                            <li> <a href="~/Home/AgencyHRDashboard" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a> </li>
                            <li><a href="~/AgencyAdmin/pendingVerification"><i class="fa fa-bar-chart-o fa-fw"></i>Pending Verification</a></li>
                            <li><a href="~/Agency/viewagencystaff"><i class="fa fa-bar-chart-o fa-fw"></i>Staff List</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="page-wrapper">
            @RenderSection(name: "MainContentHolder", required: false)
        </div>
        <div class="footer-one">
            <footer>
                <p class="text-center"><a target="_blank" href="http://www.otssolutions.com">Copyright © 2016 All Rights Reserved.<br />Designed By OTS Solutions Inc.</a></p>
            </footer>
        </div>
        <div>
            <ul style="top: 8.5%; right: 0px; position: fixed; width: 310px; height: auto; margin: 0px; padding: 0px; list-style-type: none; z-index: 10000000;" class="i-am-new">
                <li id="noty_topRight_layout_container" style="overflow: hidden; display: none; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==&quot;) repeat-x scroll left top #295b8f; border: 1px solid darkred; color: rgb(255, 255, 255); width: 310px; cursor: pointer; ">
                    <div id="noty_237439575065076060" class="noty_bar">
                        <div style="font-size: 13px; line-height: 16px; text-align: left; padding: 8px 10px 9px; width: auto; position: relative; font-weight: bold;" class="noty_message">
                            <span class="noty_text">.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        @{Html.RenderAction("ChangePassword", "Login", new { area = "" });}
    </body>*@

</html>
