@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/css/style_parent_layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Content/Scripts/jquery.js"></script>

    <script src="~/Scripts/Samplescript/jquery-ui.min.js"></script>
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/jquery.signature.js"></script>
    <link href="~/Scripts/jquery.signature.css" rel="stylesheet" />
    <style>
        .modal-parent-2 {
            border-top: 1px solid #e5e5e5;
        }

        .error-message {
            display: none;
            font-size: 12px;
            color: red;
        }

        .err-container {
            height: 10px;
        }

        .table-change thead tr {
            background: #163b69;
            color: #fff;
            text-align: center;
        }

            .table-change thead tr th {
                text-align: center;
            }

        .table-change > thead > tr > th, .table-change > tbody > tr > th, .table-change > tfoot > tr > th, .table-change > thead > tr > td, .table-change > tbody > tr > td, .table-change > tfoot > tr > td {
            border: 1px solid #cfcfcf;
        }

        body {
            background: url('../images/body-bg.jpg') center no-repeat;
        }

        .error-msg {
            position: fixed;
            z-index: 99;
            right: 0;
            top: 68px;
        }
        .sidearea-icc {
    background-color: #fff;
}
            .sidearea-icc .logo-section .menu-logo img {
            width: 130px;
    height: 110px;
            }
        .sidearea-icc .logo-section {
    height: 100px;
    margin: 15px 0; 
}
    </style>
</head>

<body class="dashboard">
    <div class="copyrights col-xs-12">
        <div class="col-xs-12">
            <p class="text-center">Copyright © 2016 All Rights Reserved.Application Link Inc.</p>
        </div>
    </div>
    <div class="error-msg">
        <ul class="i-am-new">
            <li id="noty_topRight_layout_container" style="overflow: hidden; display:none; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==&quot;) repeat-x scroll left top #a94442;  color: rgb(255, 255, 255); width: 270px;float:right; cursor: pointer; ">
                <div id="noty_237439575065076060" class="noty_bar">
                    <div style="font-size: 13px; line-height: 16px; text-align: left; padding: 8px 10px 9px; width: auto; position: relative; font-weight: bold;" class="noty_message">
                        <span class="noty_text">.</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="left-side-container left-menu">
                <div class="col-xs-12 logo-section-background sidearea-icc">
                    <div class="logo-section">
                        <a href="#" class="menu-logo"><img src="~/Images/logo_parent.png" alt="logo" title="logo"></a>
                        <a href="#" class="resize-logo"><img src="~/Images/logo_parent.png" alt="login-logo" title="logo"></a>
                    </div>
                </div>
                <div class="col-xs-12 no-padding">
                    <div class="dashboard-menu color-active">
                        <ul class="accordianMenu menu added-menu">

                            @if (Session["ChildDetails"] != null)
                            {
                                foreach (FingerprintsModel.BillingReview objBill in Session["ChildDetails"] as List<FingerprintsModel.BillingReview>)
                                {
                                    <li class='li-child'><a href='/Parent/ParentInfo?ClientId=@objBill.ClientId'><span class='dash-icon'><img src='/Images/1.1.png'></span><span class='dash-icon1'><img src='/Images/1.2.png'></span><span clientid='@objBill.ClientId' class='ChidName'>@objBill.ClientName</span></a></li>
                                }
                            }
                           
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 no-padding dashboard-menu1">
                    <div class="dashboard-menu">
                        <ul class="accordianMenu menu">
                            <li onclick="ShowAddressChange();"><a href="javascript:void(0);"><span class="dash-icon"><img src="~/Images/2.1.png"></span><span class="dash-icon1"><img src="~/Images/2.2.png"></span>Address Change</a></li>
                            <li><a class="BillingAttchment"><span class="dash-icon"><img src="~/Images/2.1.png"></span><span class="dash-icon1"><img src="~/Images/2.2.png"></span>Billing Attachments</a></li>
                            <li><a href="/Events/ParentEventSelection" style="white-space:nowrap;"><span class="dash-icon"><img src="~/Images/3.1.png"></span><span class="dash-icon1"><img src="~/Images/3.2.png"></span>Upcoming Events</a></li>
                            <li><a href="/InKind/ParentParticipation"  style="white-space:nowrap;"><span class="dash-icon"><img src="~/Images/5.1.png"></span><span class="dash-icon1"><img src="~/Images/5.2.png"></span>Parent Participation</a></li>
                            <li><a href="javascript:void(0);" onclick="openSchoolCalendar();" id="schoolCalendar"><span class="dash-icon"><img src="~/Images/4.1.png"></span><span class="dash-icon1"><img src="~/Images/4.2.png"></span>School Calendar</a></li>
                            <li onclick="ShowEmploymentStatus();"><a href="javascript:void(0);"  style="white-space:nowrap;"><span class="dash-icon"><img src="~/Images/5.1.png"></span><span class="dash-icon1"><img src="~/Images/5.2.png"></span>Employment Status</a></li>
                            <li onclick="ShowMilitaryStatus();"><a href="javascript:void(0);  style="white-space:nowrap;""><span class="dash-icon"><img src="~/Images/6.1.png"></span><span class="dash-icon1"><img src="~/Images/6.2.png"></span>Military Status</a></li>
                            <li onclick="HomelessStatus();"><a href="javascript:void(0);"  style="white-space:nowrap;"><span class="dash-icon"><img src="~/Images/7.1.png"></span><span class="dash-icon1"><img src="~/Images/7.2.png"></span>Homeless Status</a></li>
                            <li onclick="ShowEducationStatus();"><a href="javascript:void(0);"  style="white-space:nowrap;"><span class="dash-icon"><img src="~/Images/7.1.png"></span><span class="dash-icon1"><img src="~/Images/7.2.png"></span>Education Status</a></li>
                            <li onclick="ShowVolunteer();"><a href="javascript:void(0);"  style="white-space:nowrap;"><span class="dash-icon"><img src="~/Images/8.1.png"></span><span class="dash-icon1"><img src="~/Images/8.2.png"></span>Volunteer</a></li>
                            @if (Convert.ToBoolean(Session["IsDemographic"].ToString()))
                            {
                                <li><a id="IsDemographic" href="~/AgencyUser/DemographicPercentage"><i class="fa fa-android fa-fw"></i>Demographic Seciton</a></li>
                            }
                            <li><a class="Library"  style="white-space:nowrap;"><span class="dash-icon"><img src="~/Images/10.1.png"></span><span class="dash-icon1"><img src="~/Images/10.2.png"></span>My Library</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="right-side-container parental_right_container">
                <div class="col-xs-12 top-header-background no-padding">
                    <div class="top-header">
                        <div class="nav-icon1">
                            <img src="images/nav-bar.png">
                        </div>
                        <div class="col-lg-9 col-md-8 col-xs-12 no-padding">
                            <div class="top-header-title">
                                <h1 style="text-transform:none;">Child Development Center of America</h1>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-4  col-xs-12">
                            <div class="right-top-info">
                                <div class="education-profile1">
                                    <img src="@Session["ProfilePic"]">
                                </div>
                                <div class="education-profile-content1">
                                    <p>Welcome !</p>
                                    <div class="navbar navbar-change" id="click">
                                        <ul class="nav nav-change">
                                            <li class="dropdown dropdown-change">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="sp-parentname">@Session["ParentName"].ToString()</span> <i class="caret"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-change">
                                                    <li class="dropdown-submenu"><a href="" class="dropdown-toggle" data-toggle="dropdown">Profile</a>                                                        </li>
                                                    <li><a href="/Login/LogoutAgency"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 dashboard-content-pad dashboard-content-pad-scroll">
                    <div class="dashboard-content col-xs-12 no-padding">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>



        <!-- Addres Change Model-->
        <div class="modal fade" id="myModalAddress" role="dialog" style="display: none;">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="hidden" name="childid" id="childid" value="">
                        <input type="hidden" name="childname" id="childname" value="">
                        <label class="alert-dismissible" for="current_password" style="font-size:13px;">Your current Address is:<span class="parent-address"></span> </label>
                    </div>
                    <div class="form-group-al">
                        <div class="form-group input-container">
                            <label class="control-label" for="current_password">Date of Change </label>
                            <input name="CNotes" class="form-control txtAddressChangeDate txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message error-message-empty">Date is mandatory</span>
                                <span class="error-message error-invalid-date">Invalid Date</span>
                                <span class="error-message error-future-date">Enter only future date</span>
                            </div>
                        </div>
                        <div class="form-group input-container">
                            <label class="control-label" for="current_password">Address </label>
                            <input name="CNotes" class="form-control txtAddress txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="Address" value="">
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message">Address is mandatory</span>
                            </div>
                        </div>
                        <div class="form-group input-container">
                            <label class="control-label" for="current_password">City </label>
                            <input name="CNotes" class="form-control txtAddressCity txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="City" value="">
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message">City is mandatory</span>
                            </div>
                        </div>
                        <div class="form-group input-container">
                            <label class="control-label" for="current_password">State </label>
                            @Html.DropDownList("ddlState", Fingerprints.Utilities.Helper.states(), new { @class = "form-control ddlState mandatory ddl-mandatory" })
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message">State is mandatory</span>
                            </div>
                        </div>
                        <div class="form-group input-container">
                            <label class="control-label" for="current_password">Zip Code</label>
                            <input name="CNotes" class="form-control txtZipCode txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="Zip Code" value="">
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message">Zip Code is mandatory</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button class="btnPassword address-btn btn-change-address">Change Address</button>
                        <button class="btnPassword address-btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Employment Status-->
        <div class="modal fade in" id="myModalEmployment" role="dialog" style="display: none; padding-right: 17px;">
            <div class="modal-dialog">
                <!-- Modal content-->



                <div class="modal-content col-xs-12 no-padding">
                    <div class="col-xs-12 no-padding modal-height">
                        <div class="modal-header">
                            <input type="hidden" name="childid" id="childid" value="">
                            <input type="hidden" name="childname" id="childname" value="">
                            <label class="alert-dismissible" for="current_password"><span class="parent1-name">Parent 1</span> current Employment status is: <span class="employment-status">Seasonal</span> </label>
                        </div>

                        <div class="form-group-al modal-parent-1">
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Employment Status</label>
                                <select name="AbsentType" class="ddl-employee-status ddl-mandatory" id="AbsentType" placeholder="Select" required="">
                                    <option value="0">Choose...</option>
                                    <option value="1">Working</option>
                                    <option value="2">Not Working</option>
                                </select>
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message">Employment Status is mandatory</span>
                                </div>
                            </div>
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Date of Change </label>
                                <input name="CNotes" class="form-control txt-employee-date txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message error-message-empty">Date is mandatory</span>
                                    <span class="error-message error-invalid-date">Invalid Date</span>
                                    <span class="error-message error-future-date">Enter only future date</span>
                                </div>
                            </div>
                            <div class="form-group input-container">
                                <label style="float:left;" class="control-label" for="current_password">Status Change Notes</label>
                                <textarea style="resize:none;width:56%;height:60px;display:inline-block;margin-left:7px;" class="form-control txt-employee-notes" id="CNotes" placeholder="Employment Status notes"></textarea>
                            </div>
                        </div>
                        <div class="modal-header modal-parent-2">
                            <input type="hidden" name="childid" id="childid" value="">
                            <input type="hidden" name="childname" id="childname" value="">
                            <label class="alert-dismissible" for="current_password"><span class="parent2-name">Parent 2</span> current Employment status is: <span class="employment-status-2">Seasonal</span> </label>

                        </div>
                        <div class="form-group-al modal-parent-2">
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Employment Status</label>
                                <select name="AbsentType" class="ddl-employee-status-2 ddl-mandatory" id="AbsentType" placeholder="Select" required="">
                                    <option value="0">Choose...</option>
                                    <option value="1">Working</option>
                                    <option value="2">Not Working</option>
                                </select>
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message">Employment Status is mandatory</span>
                                </div>
                            </div>
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Date of Change </label>
                                <input name="CNotes" class="form-control txt-employee-date-2 txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message error-message-empty">Date is mandatory</span>
                                    <span class="error-message error-invalid-date">Invalid Date</span>
                                    <span class="error-message error-future-date">Enter only future date</span>
                                </div>
                            </div>
                            <div class="form-group input-container">
                                <label style="float:left;" class="control-label" for="current_password">Status Change Notes</label>
                                <textarea style="resize:none;width:56%;height:60px;display:inline-block;margin-left:7px;" class="form-control txt-employee-notes-2" id="CNotes" placeholder="Employment Status notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer col-xs-12">

                        <button class="btnPassword address-btn btn-employement-status">Change Status</button>
                        <button class="btnPassword address-btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Military Status-->
        <div class="modal fade" id="myModalMilitary" role="dialog" style="display: none;">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content col-xs-12 no-padding">
                    <div class="col-xs-12 no-padding modal-height">
                        <div class="modal-header">
                            <input type="hidden" name="childid" id="childid" value="">
                            <input type="hidden" name="childname" id="childname" value="">
                            <label class="alert-dismissible" for="current_password"><span class="parent1-name">Parent 1</span> current Military Status is:<span class="military-status"></span> </label>
                        </div>
                        <div class="form-group-al modal-parent-1">
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Military Status</label>
                                <select name="AbsentType" class="ddl-military-status ddl-mandatory" id="AbsentType" placeholder="Select" required="">
                                    <option value="0">Choose...</option>
                                    <option value="1">None</option>
                                    <option value="2">Active</option>
                                    <option value="3">Veteran</option>
                                </select>
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message">Military Status is mandatory</span>
                                </div>
                            </div>
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Date of Change </label>
                                <input name="CNotes" class="form-control txt-military-date txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message error-message-empty">Date is mandatory</span>
                                    <span class="error-message error-invalid-date">Invalid Date</span>
                                    <span class="error-message error-future-date">Enter only future date</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="float:left;" class="control-label" for="current_password">Status Change Notes </label>
                                <textarea style="resize:none;width:56%;height:60px;display:inline-block;margin-left:7px;" class="form-control txt-military-notes" id="CNotes" placeholder="Military Status Change"></textarea>
                            </div>
                        </div>
                        <div class="modal-header modal-parent-2">
                            <input type="hidden" name="childid" id="childid" value="">
                            <input type="hidden" name="childname" id="childname" value="">
                            <label class="alert-dismissible" for="current_password"><span class="parent2-name">Parent 2</span> current Military Status is:<span class="military-status-2"></span> </label>
                        </div>
                        <div class="form-group-al modal-parent-2 input-container">
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Military Status</label>
                                <select name="AbsentType" class="ddl-military-status-2 ddl-mandatory" id="AbsentType" placeholder="Select" required="">
                                    <option value="0">Choose...</option>
                                    <option value="1">None</option>
                                    <option value="2">Active</option>
                                    <option value="3">Veteran</option>
                                </select>
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message">Military Status is mandatory</span>
                                </div>
                            </div>
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Date of Change </label>
                                <input name="CNotes" class="form-control txt-military-date-2 txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message error-message-empty">Date is mandatory</span>
                                    <span class="error-message error-invalid-date">Invalid Date</span>
                                    <span class="error-message error-future-date">Enter only future date</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="float:left;" class="control-label" for="current_password">Status Change Notes </label>
                                <textarea style="resize:none;width:56%;height:60px;display:inline-block;margin-left:7px;" class="form-control txt-military-notes-2" id="CNotes" placeholder="Military Status Change"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer col-xs-12">

                        <button class="btnPassword address-btn btn-military-status">Change Status</button>
                        <button class="btnPassword address-btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education Status-->
        <div class="modal fade" id="myModalEducation" role="dialog" style="display: none;">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content col-xs-12 no-padding">
                    <div class="col-xs-12 no-padding modal-height">
                        <div class="modal-header">
                            <input type="hidden" name="childid" id="childid" value="">
                            <input type="hidden" name="childname" id="childname" value="">
                            <label class="alert-dismissible" for="current_password"><span class="parent1-name">Parent 1</span> current Education Status is:<span class="education-status"></span> </label>
                        </div>
                        <div class="form-group-al modal-parent-1">
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Education Status</label>
                                <select name="AbsentType" class="ddl-education-status ddl-mandatory" id="AbsentType" placeholder="Select" required="">
                                    <option value="0">Choose...</option>
                                    <option value="1">Advanced Degree or Baccalaureate</option>
                                    <option value="2">Associate, Vocational, or some College</option>
                                    <option value="3">High School Graduate or GED</option>
                                    <option value="4">Less than High school</option>
                                </select>
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message">Education Status is mandatory</span>
                                </div>
                            </div>
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Date of Change </label>
                                <input name="CNotes" class="form-control txt-education-date txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message error-message-empty">Date is mandatory</span>
                                    <span class="error-message error-invalid-date">Invalid Date</span>
                                    <span class="error-message error-future-date">Enter only future date</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="float:left;" class="control-label" for="current_password">Status Change Notes </label>
                                <textarea style="resize:none;width:56%;height:60px;display:inline-block;margin-left:7px;" class="form-control txt-education-notes" id="CNotes" placeholder="Education Status notes"></textarea>
                            </div>
                        </div>
                        <div class="modal-header modal-parent-2">
                            <input type="hidden" name="childid" id="childid" value="">
                            <input type="hidden" name="childname" id="childname" value="">
                            <label class="alert-dismissible" for="current_password"><span class="parent2-name">Parent 2</span> current Education Status is:<span class="education-status-2"></span> </label>
                        </div>
                        <div class="form-group-al modal-parent-2">
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Education Status </label>
                                <select name="AbsentType" class="ddl-education-status-2 ddl-mandatory" id="AbsentType" placeholder="Select" required="">
                                    <option value="0">Choose...</option>
                                    <option value="1">Advanced Degree or Baccalaureate</option>
                                    <option value="2">Associate, Vocational, or some College</option>
                                    <option value="3">High School Graduate or GED</option>
                                    <option value="4">Less than High school</option>
                                </select>
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message">Education Status is mandatory</span>
                                </div>
                            </div>
                            <div class="form-group input-container">
                                <label class="control-label" for="current_password">Date of Change </label>
                                <input name="CNotes" class="form-control txt-education-date-2 txt-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                                <div class="err-container">
                                    <label class="control-label"></label>
                                    <span class="error-message error-message-empty">Date is mandatory</span>
                                    <span class="error-message error-invalid-date">Invalid Date</span>
                                    <span class="error-message error-future-date">Enter only future date</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="float:left;" class="control-label" for="current_password">Status Change Notes </label>
                                <textarea style="resize:none;width:56%;height:60px;display:inline-block;margin-left:7px;" class="form-control txt-education-notes-2" id="CNotes" placeholder="Education Status Change"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer col-xs-12">
                        <button class="btnPassword address-btn btn-education-status">Change Status</button>
                        <button class="btnPassword address-btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Homeless Status-->
        <div class="modal fade" id="myModalHomeless" role="dialog" style="display: none;">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="hidden" name="childid" id="childid" value="">
                        <input type="hidden" name="childname" id="childname" value="">
                        <label class="alert-dismissible" for="current_password">Your current Homeless status is:<span class="homeless-status"></span> </label>
                    </div>
                    <div class="form-group-al">
                        <div class="form-group input-container">
                            <label class="control-label" for="current_password">Homeless Status</label>
                            <select name="AbsentType" class="ddl-homeless-status ddl-mandatory" id="AbsentType" placeholder="Select" required="">
                                <option value="0">Choose...</option>
                                <option value="1">Found Housing</option>
                                <option value="2">Homeless</option>
                            </select>
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message">Homeless Status is mandatory</span>
                            </div>
                        </div>
                        <div class="form-group input-container">
                            <label class="control-label" for="current_password">Date of Change </label>
                            <input name="CNotes" class="form-control txt-date txt-homeless-date txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="mm/dd/yyyy" value="">
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message error-message-empty">Date is mandatory</span>
                                <span class="error-message error-invalid-date">Invalid Date</span>
                                <span class="error-message error-future-date">Enter only future date</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="float:left;" class="control-label" for="current_password">Status Change Notes</label>
                            <textarea style="resize:none;width:56%;height:60px;display:inline-block;margin-left:7px;" class="form-control txt-homeless-notes" id="CNotes" placeholder="Homeless Status Change"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btnPassword address-btn btn-homeless-status">Change Status</button>
                        <button class="btnPassword address-btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Volunteer Modal-->
        <div class="modal fade" id="myModalVolunteer" role="dialog" style="display: none;">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="hidden" name="childid" id="childid" value="">
                        <input type="hidden" name="childname" id="childname" value="">
                        <label class="alert-dismissible" for="current_password"><span class="popup-child">Volunteer</span></label>
                    </div>
                    <div class="form-group-al">
                        <div class="form-group input-container">
                            <label class="control-label lblVolunteer" for="Volunteer" style="width: 40%;">I would like to volunteer<span style="color:red;width:40%;">*</span> </label>
                            <select name="selVolunteer" class="ddl-volunteer-status ddl-mandatory" id="ddlVolunteer" placeholder="Select" required="">
                                <option value="0">Choose...</option>
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                            </select>
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message">Volunteer Status is mandatory</span>
                            </div>
                        </div>
                        <div class="form-group input-container volunteer-day">
                            <label class="control-label" for="current_password">Day of Volunteer </label>
                            <select name="selVolunteerDay" id="ddlVolunteerDay" class="ddl-volunteer-day" placeholder="Select" required="" multiple style="width:100px!important;">
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wednesday</option>
                                <option value="4">Thursday</option>
                                <option value="5">Friday</option>
                                <option value="6">Saturday</option>
                            </select>
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message err-message-dayofvolunteer">Day of Volunteer is mandatory</span>
                            </div>
                        </div>
                        <div class="form-group input-container volunteer-hour">
                            <label class="control-label" for="current_password">Hours of Volunteer</label>
                            <input name="CNotes" class="form-control ddl-volunteer-hours  txt-volunteer-hours txt-mandatory" id="CNotes" type="text" maxlength="50" placeholder="Hours" value="">
                            <div class="err-container">
                                <label class="control-label"></label>
                                <span class="error-message">Hours of Volunteer is mandatory</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btnPassword address-btn btn-volunteer-status">Save</button>
                        <button class="btnPassword address-btn btn-test-cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
    </div>


    <script src="~/Content/Scripts/bootstrap.js"></script>
    <script src="~/Content/Scripts/script.js"></script>
    <script src="~/Scripts/parentregistration.js"></script>

    <script type="text/javascript">

        function ShowAddressChange() {
            $('#myModalAddress').modal('show');
        }
        function ShowEmploymentStatus() {
            $('#myModalEmployment').modal('show');
        }
        function ShowMilitaryStatus() {
            $('#myModalMilitary').modal('show');
        }

        function ShowEducationStatus() {
            $('#myModalEducation').modal('show');
        }
        function HomelessStatus() {
            $('#myModalHomeless').modal('show');
        }
        function ShowVolunteer() {
            $('#myModalVolunteer').modal('show');
        }
        $(document).ready(function () {
            $('.add_pp').click(function () {
          
                cleanValidation();
                if ($(".add_pp").hasClass("add_pp1")) {
                    $(".add_pp").removeClass("add_pp1");
                    $(".sub").css({ "display": "inline-block" });
                    $(".add").css({ "display": "none" });
                    $(".list_midd_sec ul").css({ "display": "block" });
                }
                else {
                    cleanValidation();

                    $(".add_pp").addClass("add_pp1");
                    $(".sub").css({ "display": "none" });
                    $(".add").css({ "display": "inline-block" });
                    $(".list_midd_sec ul").css({ "display": "none" });
                }
            });


        });

        function customAlert(MessageText) {

            if (MessageText.indexOf("added") != -1 || MessageText.indexOf("updated") != -1 || MessageText.indexOf("successfully") != -1 || MessageText.indexOf("Invatation") != -1) {
                $("#noty_topRight_layout_container").css("background-color", "green");
            }
            else {
                $("#noty_topRight_layout_container").css("background-color", "#a94442");
            }
            $("#noty_topRight_layout_container")[0].children[0].children[0].children[0].innerHTML = MessageText;
            $("#noty_topRight_layout_container").slideToggle();
            setTimeout(function () { $("#noty_topRight_layout_container").slideToggle(); }, 4000);
        }
        function customAlertSuccess(MessageText) {
            $("#noty_topRight_layout_container").css("background-color", "green");
            $("#noty_topRight_layout_container")[0].children[0].children[0].children[0].innerHTML = MessageText;
            $("#noty_topRight_layout_container").slideToggle();
            setTimeout(function () { $("#noty_topRight_layout_container").slideToggle(); }, 4000);
        }
        function customAlertforlongtime(MessageText) {

            if (MessageText.indexOf("added") != -1 || MessageText.indexOf("updated") != -1 || MessageText.indexOf("successfully") != -1) {
                $("#noty_topRight_layout_container").css("background-color", "green");
            }
            else {
                $("#noty_topRight_layout_container").css("background-color", "#a94442");
            }
            $("#noty_topRight_layout_container")[0].children[0].children[0].children[0].innerHTML = MessageText;
            $("#noty_topRight_layout_container").slideToggle();
            setTimeout(function () { $("#noty_topRight_layout_container").slideToggle(); }, 6000);
        }
        function plainValidation(id) {
           
            $(id).focus();
            $(id).css("background-color", "pink");
        }
        function cleanValidation() {

            $('input,textarea,select').each(function () {
               
                $(this).css("background-color", "");
            });
        }

        function eventRegistration(val) {
            var evId = $(this).attr('enc_id');

            location.href = '/Events/ParentEventRegistration?id=' + evId;
        }


        function openSchoolCalendar() {
            localStorage.clear();
            location.href = '/Parent/SchoolCalendar';
        }
    </script>
    <link href="~/Content/multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/multiselect.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[id*=ddlVolunteerDay]').multiselect({
                includeSelectAllOption: true
            });
            $('.btn-test-cancel').click(function () {
                $('[id*=ddlVolunteerDay]').multiselect('clearSelection');
            });

        });
    </script>
    <style>
        li input[type='checkbox'] {
            margin-left: -39px !important;
        }

        .dropdown-toggle {
            width: 223px !important;
        }
    </style>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" />

    <script>


    </script>

    <script src="~/Content/Scripts/ParentInfo.js"></script>
    <script>
        $(document).ready(function () {
            var linkys = document.getElementsByClassName('dropdown-toggle');
            for (var i = 0; i < linkys.length; ++i) {
                linkys[i].onclick = function (e) {
                    this.focus();
                    e.preventDefault();
                };
            }
            $('body').on('click', '.added-menu .li-child', function () {
                //  alert(2);
                $('.head-child-name').text($(this).find('.ChidName').text());
                $('.added-menu .li-child').removeClass('SelectedClient');
                $(this).addClass('SelectedClient');
            });
            $('.added-menu .li-child').eq(0).addClass('SelectedClient');



        });

        function resise() {

            var win = $(window).height();
            var widleft = $(".left-side-container").width();
            var htcpy = $(".copyrights").height();
            var httphdr = $(".top-header").height();
            $(".left-side-container").css({
                height: win
            });
            $(".right-side-container").css({
                height: win - htcpy - 40
            
            });
            $(".dashboard-content-pad").css({
                height: win - httphdr - htcpy - 110

            });
        }
        function resisescroll() {

            var win = $(window).height();


            var htlogo = $(".logo-section-background").height();

            var fnht = win - htlogo;

            var htcpy = $(".copyrights").height();
            var tlht = fnht - htcpy;
            $(".dashboard-menu1").css({
                height: tlht - 170
            });

        }

        $(window).resize(function () {
            resise();
            resisescroll();
        });
        $(window).load(function () {
            resise();
            resisescroll();
        });
    </script>
    <style>
        div#calendar {
            color: #163b69;
            max-width: 943px;
            margin: 0 auto;
            width: 100%;
            margin-top: 36px;
        }

            div#calendar .fc-left h2 {
                color: #fff;
            }

        #calendar .fc-view-container {
            background: #fff;
        }

        #calendar .fc-right button {
            background: #f9c751 !important;
            color: #000 !important;
            z-index: 999;
            text-transform: capitalize;
        }

        th.fc-day-header.fc-widget-header {
            padding: 10px;
            background: #f1f5f8;
        }

        .event_calendar .fc-toolbar.fc-header-toolbar {
            margin-bottom: 0px;
            padding: 12px;
        }

        .event_calendar #calendar .fc-view-container {
            background: #f1f5f8;
            padding: 12px;
        }

        .event_calendar .fc-view.fc-month-view.fc-basic-view {
            background: #fff;
        }

        .event_calendar .fc td, .event_calendar .fc th {
            font-weight: bold;
        }

        .event_calendar .fc th {
            border: 0px;
        }
    </style>
</body>
</html>
