@model FingerprintsModel.Screening
<script type="text/javascript">
    $(document).ready(function () {
        $('input').keypress(function () {
            if ($(this).val() == 'MM/DD/YYYY') {
                $(this).val('');
                // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            }
        });
        $('#h036Date').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
        $('#h039DateR1').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
        $('#h042DateR2').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
        $('#h045ReferralDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
        $('#h048CompleteDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
        if ('@Model.h037Results' == "")
            $('#h037Results').val("");
        if ('@Model.h040ResultsR1' == "")
            $('#h040ResultsR1').val("");
        if ('@Model.h043ResultsR2' == "")
            $('#h043ResultsR2').val("");
        if ('@Model.h046Treatment' == "")
            $('#h046Treatment').val("");
        if ('@Model.h049ExamStatus' == "")
            $('#h049ExamStatus').val("");



    });
</script>


<div class="row add-useragform1" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 add-useragform">

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group datepicker-days">
                    <label>Hearing Screening Date <sup>*</sup> </label>
                    <div class="date custom-time">
                        <input class="form-control" id="h036Date" maxlength="50" name="h036Date" onblur="return validatedate1(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.h036Date" @if (!string.IsNullOrEmpty(Model.h036Date)){ <text> readonly="readonly" </text> } />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Hearing Screening Results</label>

                    <select name="h037Results" class="form-control" id="h037Results">
                        @*<option value="" @if (@Model.h037Results == "") { <text> selected="selected" </text>   }> </option>*@
                        <option value="1" @if (@Model.h037Results == "1") { <text> selected="selected" </text>               }>Pass</option>
                        <option value="2" @if (@Model.h037Results == "2") { <text> selected="selected" </text>               }>Fail</option>
                        <option value="3" @if (@Model.h037Results == "3") { <text> selected="selected" </text>               }>Follow-Up</option>

                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Hearing Exam Comments</label>
                    <div class="date custom-time">
                        <input class="form-control" id="h038Comments" maxlength="100" name="h038Comments" type="text" value="@Model.h038Comments" />
                    </div>
                </div>
            </div>
           
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group datepicker-days">
                    <label>Rescreening Date 1 </label>
                    <div class="date custom-time">
                        <input class="form-control" id="h039DateR1" maxlength="50" name="h039DateR1" onblur="return validatedate1(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.h039DateR1" />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Rescreening Results 1 </label>

                    <select name="h040ResultsR1" class="form-control" id="h040ResultsR1">

                        <option value="1" @if (@Model.h040ResultsR1 == "1") { <text> selected="selected" </text>               }>Pass</option>
                        <option value="2" @if (@Model.h040ResultsR1 == "2") { <text> selected="selected" </text>               }>Follow-Up</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Rescreening Comments 1</label>
                    <div class="date custom-time">
                        <input class="form-control" id="h041CommentsR1" maxlength="100" name="h041CommentsR1" type="text" value="@Model.h041CommentsR1" />
                    </div>
                </div>
            </div>
           
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group datepicker-days">
                    <label>Rescreening Date 2 </label>
                    <div class="date custom-time">
                        <input class="form-control" id="h042DateR2" maxlength="50" name="h042DateR2" onblur="return validatedate1(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.h042DateR2" />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Rescreening Results 2</label>

                    <select name="h043ResultsR2" class="form-control" id="h043ResultsR2">
                        @*<option value="" @if (@Model.h043ResultsR2 == "") { <text> selected="selected" </text>   }></option>*@
                        <option value="1" @if (@Model.h043ResultsR2 == "1") { <text> selected="selected" </text>               }>Pass</option>
                        <option value="2" @if (@Model.h043ResultsR2 == "2") { <text> selected="selected" </text>               }>Follow-Up</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Rescreening Comments 2</label>
                    <div class="date custom-time">
                        <input class="form-control" id="h044CommentsR2" maxlength="100" name="h044CommentsR2" type="text" value="@Model.h044CommentsR2" />
                    </div>
                </div>
            </div>
           
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group datepicker-days">
                    <label>Hearing Referral Date</label>
                    <div class="date custom-time">
                        <input class="form-control" id="h045ReferralDate" maxlength="50" name="h045ReferralDate" onblur="return validatedate1(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.h045ReferralDate" />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Hearing Treatment</label>

                    <select name="h046Treatment" class="form-control" id="h046Treatment">
                        @*<option value="" @if (@Model.h046Treatment == "") { <text> selected="selected" </text>   }></option>*@
                        <option value="1" @if (@Model.h046Treatment == "1") { <text> selected="selected" </text>               }>No Treatment Needed</option>
                        <option value="2" @if (@Model.h046Treatment == "2") { <text> selected="selected" </text>               }>Treatment Needed, Not Received</option>
                        <option value="3" @if (@Model.h046Treatment == "3") { <text> selected="selected" </text>               }>Treatment Needed, Received</option>
                        <option value="4" @if (@Model.h046Treatment == "4") { <text> selected="selected" </text>               }>Treatment Received, Further Treatment Needed</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Hearing Treatment Comments</label>
                    <div class="date custom-time">
                        <input class="form-control" id="h047TreatmentComments" maxlength="100" name="h047TreatmentComments" type="text" value="@Model.h047TreatmentComments" />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group datepicker-days">
                    <label>Hearing Treatment Completion Date</label>
                    <div class="date custom-time">
                        <input class="form-control" id="h048CompleteDate" maxlength="50" name="h048CompleteDate" onblur="return validatedate1(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.h048CompleteDate" />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Hearing Exam Status</label>

                    <select name="h049ExamStatus" class="form-control" id="h049ExamStatus">
                        @*<option value="" @if (@Model.h049ExamStatus == "") { <text> selected="selected" </text>   }></option>*@
                        <option value="1" @if (@Model.h049ExamStatus == "1") { <text> selected="selected" </text>               }>Complete</option>
                        <option value="2" @if (@Model.h049ExamStatus == "2") { <text> selected="selected" </text>               }>Follow-Up</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">



            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-group">
                    <label class="custom-file-upload">
                        <input name="ScreeningDocument" id="ScreeningDocument" class="form-control" onchange="ValidateSingleInputpdf(this)" style="display:none" type="file" value="">
                        <i class="fa fa-cloud-upload"></i> Add new document
                    </label>
                    <label style="margin-top: 8px;margin-left: 6px;" id="documentlabel"></label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                @if (!string.IsNullOrEmpty(Model.PhysicalFileName))
                {
                    if (Model.PhysicalFileExtension == ".pdf")
                    {
                        string url = Path.GetFileNameWithoutExtension(Model.PhysicalFileName) + Guid.NewGuid().ToString() + ".pdf";
                        System.IO.FileStream file = System.IO.File.Create(Server.MapPath("~//TempAttachment//") + url);
                        url = "..\\TempAttachment\\" + url;
                        try
                        {
                            file.Write(Model.PhysicalImageByte, 0, Model.PhysicalImageByte.Length);
                            file.Close();
                        }
                        catch (Exception Ex)
                        {
                            FingerprintsModel.clsError.WriteException(Ex);
                        }
                        finally
                        {
                            file.Close();
                        }
                        <div style="display:none;" id="ScreeninguploadDocument">
                        </div>
                        <iframe class="iframestyle" src="@url" frameborder="0" scrolling="no"></iframe>
                    }
                    else
                    {
                        string imagedata = Convert.ToBase64String(Model.PhysicalImageByte);
                        <div id="ScreeninguploadDocument">
                            <script type="text/javascript">

                                $(document).ready(function () {
                                    $('#ScreeninguploadDocument').ZoomCrop(
                                  {
                                      image: "data:image/png;base64," + '@imagedata',
                                      updated: function (size, crop, position) {
                                          console.log(size, crop, position);
                                      }
                                  });
                                });
                            </script>

                        </div>

                    }
                }
                else
                {
                    <div id="ScreeninguploadDocument">
                        <script type="text/javascript">

                            $(document).ready(function () {
                                $('#ScreeninguploadDocument').ZoomCrop(
                              {
                                  image: HostedDir + "/Content/img/NoImageAvailable.jpg",
                                  updated: function (size, crop, position) {
                                      console.log(size, crop, position);
                                  }
                              });
                            });
                        </script>
                    </div>

                }


            

        </div>
        </div>

    </div>
</div>