<style>
    .education-content-desc1 p {
        background: #e74c3c;
        border: 1px solid #c0392b;
        padding: 12px 15px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        margin: 0; /* font-weight: bold; */
    }
</style>

@{
    List<FingerprintsModel.ClosedInfo> infoList = new List<FingerprintsModel.ClosedInfo>();
    Guid? agencyId = (Session["AgencyId"] != null) ? new Guid(Session["AgencyId"].ToString()) : (Guid?)null;
    Guid userId = new Guid(Session["UserId"].ToString());
    infoList = Fingerprints.Utilities.Helper.CheckForTodayClosure(agencyId, userId);
}


@if (infoList != null && infoList.Count() > 0)
{

    <div class="col-xs-12 no-padding" id="agencyClosedDiv" style="margin-top:25px;margin-bottom:-6px;">
        <div class="col-xs-12 pad-change" style="margin-bottom:20px;">
            <div class="education-content-desc1">


                @foreach (var info in infoList)
                {
                    if (info.ClosedToday > 0)
                    {


                        if (info.ClosedToday == 1)
                        {
                            <p id="agency-closed-info">Agency has been closed today</p>
                            break;
                        }
                        else if (info.ClosedToday == 2)
                        {
                            <p id="agency-closed-info">Center <span>@info.CenterName</span> has been closed today</p>
                        }
                   
                    else
                    {
                        <p id="agency-closed-info">Center @info.CenterName  Classroom - <span>@info.ClassRoomName</span> has been closed today</p>

                        }
                    }
                }
                @*@for
                    if (info.ClosedToday == 1)
                    {
                        <p id="agency-closed-info">Agency has been closed today</p>
                    }
                    else if (info.ClosedToday == 2)
                    {
                        <p id="agency-closed-info">Center <span>@info.CenterName</span> has been closed today</p>
                    }
                    else
                    {
                        <p id="agency-closed-info">Center @info.CenterName  Classroom - <span>@info.ClassRoomName</span> has been closed today</p>
                    }*@
            </div>
        </div>
    </div>
}