<script type="text/javascript">
    var count = 1;
    $(document).ready(function () {
        $('input').keypress(function () {
            if ($(this).val() == 'MM/DD/YYYY') {
                $(this).val('');
                // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            }
        });
        if ('@TempData["message"]' != null && '@TempData["message"]' != '') {
            customAlert('@TempData["message"]');
        }
            @{
                TempData["message"] = null;
            }
        $('#CenterId').val("");
        $('#CaseNoteDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
        $('#casedate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
        $('#CaseNotetags').tagsInput({ width: 'auto', height: '38px', delimiter: [',', ';'] });

        CKEDITOR.replace('Note', {
            language: 'en-gb',
            uiColor: '#295b8f',
            disableNativeSpellChecker: false
        });

    });
    function GetClassrooms(Select) {
        $('#DivclientenrolledList > tbody > tr').remove();
        $('#div1').show();
        $.ajax({
            url: HostedDir + "/Roster/Getclassrooms",
            type: "POST",
            data: {
                Centerid: $(Select).val()
            },
            dataType: "json",
            secureuri: false,
            async: false,
            success: function (response) {
                if (response.length > 0) {
                    var option = "";
                    for (var i = 0; i < response.length; i++) {
                        option = option + '<option value="' + response[i].ClassroomID + '">' + response[i].ClassName + '</option>';
                    }
                    $('#Classroomid').find('option').remove().end().append(option);
                    $('#Classroomid').val('');
                }
                else {
                    $('#Classroomid').find('option').remove();
                }
            }
               , error: function (response) {
                   customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
               }
        });

    }
    function Loadallenrolledclinet(Object) {
        cleanValidation();
        $('#checkboxtable').prop("checked", false);
        if ($('#CenterId').val() == null) {
            customAlert("Center is required.");
            plainValidation('#CenterId');
        }
        else if ($('#Classroomid').val() == null) {
            customAlert("Classroom is required.");
            plainValidation('#Classroomid');
        }
        else {
            $.ajax({
                url: HostedDir + "/Nurse/LoadGroupCaseNoteClient",
                type: "POST",
                data: {
                    Centerid: $('#CenterId').val(),
                    Classroom: $('#Classroomid').val()
                },
                dataType: "json",
                secureuri: false,
                async: false,
                success: function (data) {
                    BindClientenrolled(data);
                }
               , error: function (data) {
                   customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
               }
            });
        }
       
    }
    function BindClientenrolled(data) {
        if (data != null && data.length > 0) {
            $('#showbutton').show();
            $('#div1').hide();
            $('#DivclientenrolledList > tbody > tr').remove();
            for (var i = 0; i < data.length; i++) {
                var tr = "";
                tr += "<tr>";
                tr += '<td><input accesskey="' + data[i].Eclientid + '" class="minimal chkclient" type="checkbox" onchange="checkheadercheckbox(this);"   style="width:auto;" value="true"></td>';
                tr += "<td>" + ((typeof (data[i].Name) != 'undefined') && (data[i].Name != null) ? data[i].Name : '') + "</td>";
                tr += "<td>" + ((typeof (data[i].DOB) != 'undefined') && (data[i].DOB != null) ? data[i].DOB : '') + " </span></td>";
                tr += "<td>" + ((typeof (data[i].Gender) != 'undefined') && (data[i].Gender != null) ? data[i].Gender : '') + " </span></td>";
                tr += "</tr>";
                $('#DivclientenrolledList > tbody').append(tr);
            }
        }
        else {
            $('#DivclientenrolledList > tbody > tr').remove();
            $('#div1').show();
        }
    }
    function Checkdate(value) {
        isValid = true;
        if ($(value).val().trim() != "MM/DD/YYYY" && $(value).val().trim() != "") {
            var dateformat = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
            var regex = new RegExp(dateformat);
            if (!regex.test($(value).val())) {
                customAlert("Invalid date format. ");
                $(value).val('');
                return false;
            }
            else {
                var text = $(value).val();
                var comp = text.split('/');
                var m = parseInt(comp[0], 10);
                var d = parseInt(comp[1], 10);
                var y = parseInt(comp[2], 10);
                var date = new Date(y, m - 1, d);
                if (date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d) {

                } else {
                    customAlert("Invalid date. ");
                    $(value).val('');
                    return false;
                }
            }
        }
        var txtdate = $(value).val();
        var selectedTimestampequal = new Date();
        var year = selectedTimestampequal.getFullYear();
        var month = selectedTimestampequal.getMonth() + 1;
        var day = selectedTimestampequal.getDate();
        today1 = month + '/' + day + '/' + year;
        var newinput = today1.split("/");
        var newday = newinput[1];
        var str = newday.substr(0, 1);
        var newdaynew = ('0' + newday).slice(-2);
        var newmonth = newinput[0];
        var str1 = newmonth.substr(0, 1);
        var newmonthnew = ('0' + newmonth).slice(-2);
        today = newmonthnew + '/' + newdaynew + '/' + year;
        if (today == txtdate) {
            return true;
        }
        var testdatelocalinput = new Date(txtdate);
        var selectedTimestamp = new Date().getTime();
        var testdatelocalinputTS = testdatelocalinput.getTime();
        var timestamp = new Date().getTime() - (30 * 24 * 60 * 60 * 1000)
        if (testdatelocalinputTS > selectedTimestamp) {
            customAlert("Case Note date must be less than or equal to today's date.");
            $(value).val('');
            return false;
        }
        else if (timestamp > testdatelocalinputTS) {
            customAlert("Case Note date cannot be less than 30 days from today's date.");
            $(value).val('');
            return false;
        }
        return true;
    }
    function checkuncheckall(object) {
        if ($(object).prop("checked")) {
            $('#DivclientenrolledList > tbody > tr').each(function () {
                $(this).find('td:eq(0)').find('input[type="checkbox"]').prop("checked", true);
            });
        }
        else {
            $('#DivclientenrolledList > tbody > tr').each(function () {
                $(this).find('td:eq(0)').find('input[type="checkbox"]').prop("checked", false);
            });
        }
    }
    $('#checkbox1').change(function () {
        $('#textbox1').val($(this).is(':checked'));
    });

    function checkheadercheckbox(object) {
        var count = 0;
        $('#DivclientenrolledList > tbody > tr').each(function () {
            if ($(this).find('td:eq(0)').find('input[type="checkbox"]').prop("checked"))
                count = count + 1;
        });
        if (count == $('#DivclientenrolledList > tbody > tr').length) {
            $('#checkboxtable').prop("checked", true);
        }
        else {
            $('#checkboxtable').prop("checked", false);
        }
    }
    function LoadGroupCaseNote() {
        var count = 0;
        cleanValidation();
        $('#DivclientenrolledList > tbody > tr').each(function () {
            if ($(this).find('td:eq(0)').find('input[type="checkbox"]').prop("checked"))
                count = count + 1;
        });
        if ($('#casedate').val().trim() == "") {
            isValid = false;
            customAlert("Date is required.");
            plainValidation('#casedate');
            return isValid;
        }
        else  if (count == 0) {
            customAlert("Clients is required for group case notes.");
        }
        else {
        
            $('#CaseNoteDate').val($('#casedate').val());
            $('#CaseNotetitle').val('');
            $('#CaseNotesNote').val('');
            $('#CaseNoteSecurity').prop("checked", false);
            $('.tag').remove();
            $('#ClientDiv').empty();
            $('#StaffDiv input[type=checkbox]').each(function () {
                $(this).prop("checked", false);
            });
            CKEDITOR.instances['Note'].setData("");
            $('#DivclientenrolledList > tbody > tr').each(function () {
                if ($(this).find('td:eq(0)').find('input[type="checkbox"]').prop("checked"))
                    $('#ClientDiv').append('<div class="col-sm-12"><input type="checkbox" checked="checked" onclick="return false;"  name="ClientIds.IDS" value="' + $(this).find('td:eq(0)').find('input[type="checkbox"]').attr("accesskey") + '" /><span> ' + $(this).find('td:eq(1)').text() + '</span></div>');
            });
            $('#ModalAddCasenote').modal('toggle');
        }
    }
    function Validatecasenote() {
        isValid = true;
        cleanValidation();
        var Clientcount = 0;
        var Tags = '';
        $('#CaseNotetags_tagsinput .tag span').each(function () {
            Tags = Tags + $(this).text().trim() + ',';
        });
        $("#CaseNotetags").val(Tags);

        $('#Note').val(CKEDITOR.instances['Note'].getData());

        $('#ClientDiv input:checked').each(function () {
            if ($(this).prop("checked")) {
                Clientcount = 1;
            }
        });
        Tags = '';
        if ($('#CaseNoteDate').val().trim() == "") {
            isValid = false;
            customAlert("Case note date is required. ");
            plainValidation('#CaseNoteDate');
            return isValid;
        }
        else if ($('#CaseNotetitle').val().trim() == "") {
            isValid = false;
            customAlert("Title is required.");
            plainValidation('#CaseNotetitle');
            return isValid;
        }
        else if (CKEDITOR.instances['Note'].getData() == "") {
            isValid = false;
            customAlert("Note is required.");
            return isValid;
        }
        else if (Clientcount == 0) {
            isValid = false;
            customAlert("Clients name is required.");
            $('#ClientDiv').focus();
            return isValid;
        }
        else if ($('#CaseNotetags').val().trim() == "") {
            isValid = false;
            customAlert("Tags is required.");
            plainValidation('#CaseNotetags');
            return isValid;
        }
        return isValid;

    }
    function AddMore() {
        $('#Attachment').append("<div class='col-sm-12 adddivspace'><div class='col-sm-4' ><label></label>" +
                                 "</div><div class='col-sm-5'> <input type='file'  name='Attachments[" + count + "].file' onchange='ValidateSingleInputpdf2(this)'  class='form-control' /></div></div>");
        count++;
    }
    function ClearAll()
    {

        $('#casedate').val("");
        $('#CenterId').val("");
        $('#Classroomid').val("");
        $('#DivclientenrolledList > tbody > tr').remove();
        $('#div1').show();
        $('#checkboxtable').prop("checked", false);

    }


</script>
<style>

    
/*Add-note-popup*/

.top-header-title-addn {
    background: #f9c751;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.top-header-title-addn h1 {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
.addn-select {
    width: 60%;
    font-size: 19px;
    color: #333;
    padding: 5px;
    resize: none;
    background: #fff;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff!important;
    border-radius: 0px;
    position: relative;
    line-height: 40px;
}
.addn-select::-webkit-input-placeholder { 
    color: #333 !important;
}

.addn-select::-moz-placeholder { 
    color: #333 !important;
}

.addn-select:-ms-input-placeholder {
    color: #333 !important;
}

.addn-select:-moz-placeholder { 
    color: #333 !important;
}
.addn-search-btn{display: inline-block;width: auto;}
.addn-search-btn a {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    width: 120px;
    padding: 8px 9px;
    margin: auto;
    font-weight: bold;
    line-height: 24px;
}
.top-header-title-addn1 h2 {
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    padding: 10px 0px;
    text-align: left;
    display: block;
    margin: 0;
    font-weight: bold;
    margin-top: 5px;
}
.addn-table thead tr {
    background: #3498db!important;
    color: #fff;
    /* padding: 9px 0; */
}
.addn-table thead tr th {
    border-bottom: 0!important;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    padding: 7px 7px;
    line-height: 30px;
}
.addn-content-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 14px 8px;
    color: #163b69;
    text-align: center;
    font-size: 15px;
    margin: 0;
    text-transform: none;
}
.addn-table-head tr td {
    color: #575757!important;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    /* border-top: 1px solid #d2d2d2; */
    background: none!important;
}
.Status-title-addn a{
    font-size: 15px;
    text-transform: capitalize;
    padding: 6px 9px;
    text-align: left;
    display: block;
    margin: 0;
    margin-top: 2px;
    background: #2ecc71;
    color: #fff;
    width: 187px;
    margin: auto;
    vertical-align: top;
}
.serch-addn-block {
    margin-top: 15px;
    margin-bottom: 10px;
}


.modal-dialog-ch {
    width: 60%;
}
#matrix_addn .modal-body {
    position: relative;
}
#matrix_addn .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    /* color: #ffffff; */
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
}
#matrix_addn .modal-body > h2 {
    margin-top: 10px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}
#matrix_addn .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}
/*.popup-addn-scroll {
    height: 500px;
    overflow: auto;
}*/
.max_items_addn{
    background: #f1f5f8 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.addn-poup-div label {
    color: #163b69;
    font-size: 18px;
    text-align: right;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 3px;
    width: 100%;
}
.addn-poup-chk input[type=checkbox]{
    color: #163b69!important;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}
.addn-poup-chk{margin-top: 10px;}
.addn-poup-div input {
    position: relative;
    color: #34495e;
    background:#f6f3f3;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
}
.addn-poup-div input::-webkit-input-placeholder { 
    color: #34495e !important;
}
.addn-poup-div input::-moz-placeholder { 
    color: #34495e !important;
}
.addn-poup-div input:-ms-input-placeholder { 
    color: #34495e !important;
}
.addn-poup-div input:-moz-placeholder { 
    color: #34495e !important;
}
.max_foot_btn {
    float: left;
    margin-top: 23px;
    width: 95%;
}
.lft_btn {
    float: left;
    text-align: center;
    width: 100%;
}
#matrix_addn .modal-body a {
    color: #164978;
    float: left;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.lft_btn a {
    border: 1px solid #ffffff;
    color: #ffffff !important;
    float: none !important;
    margin-right: 10px;
    padding: 7px 13px;
    text-transform: uppercase;
    width: auto !important;
    text-decoration: none;
    display: inline-block;
}
.save {
    background: #2ecc71;
}
.exit {
    background: #e74c3c;
}

.addn-poup-div h4{font-style: italic;color:#787777;font-size: 16px;margin: 0;padding: 0;line-height: 25px;font-weight:400;margin-top: 8px;}
.addn-poup-div h4 span{color:#34495e!important;}
.addn-poup-div p{color:#787777;font-size: 16px;margin: 0;padding: 10px 0;line-height: 25px;font-weight: 400;}
.addn-al{margin-bottom: 10px;}



#matrix_addn2 .modal-body {
    position: relative;
}
#matrix_addn2 .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    /* color: #ffffff; */
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
}
#matrix_addn2 .modal-body > h2 {
    margin-top: 10px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}
#matrix_addn2 .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}
.addn-poup-div1 input,.addn-poup-div1 textarea {
    position: relative;
    color: #333;
    background:#fff;
    border: 1px solid #fff;
    border-radius: 0;
    font-style: italic;
    box-shadow: none;
}
.addn-poup-div1 input::-webkit-input-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 input::-moz-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 input:-ms-input-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 input:-moz-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea::-webkit-input-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea::-moz-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea:-ms-input-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea:-moz-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea{height: 150px;resize: none;}
.addn-select1 {
    width: 150px;
    font-size: 14px;
    color: #163b69;
    padding: 5px;
    resize: none;
    background: #fff;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #fff!important;
    border-radius: 0px;
    position: relative;
    line-height: 40px;
}
.addn-select1::-webkit-input-placeholder { 
    color: #163b69 !important;
}
.addn-select1::-moz-placeholder { 
    color: #163b69 !important;
}
.addn-select1:-ms-input-placeholder { 
    color: #163b69 !important;
}
.addn-select1:-moz-placeholder { 
    color: #163b69 !important;
}
.addn-search-btn1 {
    display: inline-block;
    width: auto;
}
.addn-search-btn1 a {
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    width: 100px;
    padding: 9px 9px;
    margin: auto;
    font-weight: bold;
}
.addn-search-btn1 p{
      font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    display: inline-block;
    color: #959799;
}
.bdr-popup{margin-top: 20px;margin-bottom:20px;width: 100%;height: 1px;background: #c6c3c3;}
.bdr-popup1{margin-top: 10px;margin-bottom:10px;width: 20%;height: 1px;background: #c6c3c3;}



#ModalAddCasenote .modal-body {
    position: relative;
}
#ModalAddCasenote .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    /* color: #ffffff; */
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
}
#ModalAddCasenote .modal-body > h2 {
    margin-top: 10px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}
#ModalAddCasenote .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}

/*Add-note-popup*/






</style>


<form method="post" enctype="multipart/form-data" role="form" id="form2" autocomplete="off">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Group Case Notes
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 add-useragform">
            <div class="col-sm-2">
                <label>Center</label>
            </div>
            <div class="col-sm-2">
                <label>Classroom</label>
            </div>
            <div class="col-sm-2">
                <label>Date</label>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 adddivspace">
            <div class="col-sm-2">
                @{
                    try
                    {
                        if (TempData["GroupCaseNotes"] != null && ((List<SelectListItem>)TempData["GroupCaseNotes"]) != null && ((List<SelectListItem>)TempData["GroupCaseNotes"]).Count > 0)
                        {
                            @Html.DropDownList("CenterId", (List<SelectListItem>)TempData["GroupCaseNotes"], new { @class = "form-control", onchange = "GetClassrooms(this);" })
                        }
                        else
                        {
                            @Html.DropDownList("CenterId")
                        }
                        TempData.Keep();
                    }
                    catch (Exception Ex)
                    {
                        FingerprintsModel.clsError.WriteException(Ex);

                    }
                }
            </div>
            <div class="col-sm-2">
                <select id="Classroomid" style="height:38px !important;" name="Classroomid" class="form-control"></select>
            </div>
            <div class="col-sm-2">
                <input type="text" id="casedate" placeholder="MM/DD/YYYY" onblur="Checkdate(this);" class="form-control" />

            </div>

            <div class="col-sm-3">
                <button class="my-btn" type="button" onclick="Loadallenrolledclinet();">Go</button>
                <button  class="my-btn" type="button" onclick="ClearAll();">Clear</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
            <div class="table-responsive">
                <table class="table table_size" id="DivclientenrolledList">
                    <thead style="cursor:pointer;">
                        <tr>
                            <th width="3%;"><input type="checkbox" onchange="checkuncheckall(this);" id="checkboxtable" /></th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="div1" style="text-align:center;">
                    <label>No result found.</label>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="display:none;" id="showbutton">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="btnwrp_subcal">

                <button type="button" class="my-btn" style="width:138px !important;" onclick="LoadGroupCaseNote();" tabindex="10">Add Case Note</button>
                <button type="button" class="my-btn" tabindex="10">Cancel</button>
                <div class="clear"></div>
            </div>	<!--btnwrp_subcal--->
        </div>
    </div>


    <div class="row qualifierdiv">
        <div class="modal fade scroll-modal" id="ModalAddCasenote" role="dialog">
            <div class="modal-dialog modal-dialog-ch">
                <!-- Modal content-->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/Content/CaseNote/images/close.png"></button>
                    <h2 id="CaseNoteHeading" class="extra-title muted">Add New Group Case Note</h2>
                    <div class="col-sm-12 col-xs-12 pull-right" style="padding-right:0;">
                        <div class="btnwrp_subcal" style="padding:0; margin:0;">
                            <h3 id="CaseNoteTitle" class="text-center pull-left"><span class="extra-title muted"></span></h3>
                           
                            <input type="hidden" name="CaseNoteid" id="CaseNoteid" value="0" />
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="max_items_addn popup-addn-scroll">
                        <div class="col-xs-12 addn-al" style="padding: 0;">
                            <div class="col-sm-4">
                                <div class="addn-poup-div">
                                    <label>Date <sup style="color:red">*</sup></label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="addn-poup-div1">
                                    <input type="text" id="CaseNoteDate" name="CaseNoteDate" onblur="Checkdate(this);" placeholder="MM/DD/YYYY" class="form-control ui-autocomplete-input" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 addn-al" style="padding: 0;">
                            <div class="col-sm-4">
                                <div class="addn-poup-div">
                                    <label>Title <sup style="color:red">*</sup></label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="addn-poup-div1">
                                    <input type="text" maxlength="100" id="CaseNotetitle" name="CaseNotetitle" class="form-control ui-autocomplete-input">                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 addn-al" style="padding: 0;">
                            <div class="col-sm-4">
                                <div class="addn-poup-div">
                                    <label>Note <sup style="color:red">*</sup></label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="addn-poup-div1">
                                    <textarea id="Note" name="Note">  </textarea>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-xs-12 addn-al" style="padding: 0;">
                            <div class="col-sm-4">
                                <div class="addn-poup-div">
                                    <label>Clients  <sup style="color:red">*</sup></label>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding: 0;">
                                <div id="ClientDiv" class="case-note">
                                </div>
                            </div>
                        </div>*@
                        <div class="col-sm-12 adddivspace" style="display:none;">
                            <div class="col-xs-3  col-sm-2">
                                <label>Clients  <sup style="color:red">*</sup></label>
                            </div>
                            <div class="col-xs-9 col-sm-10">
                                <div id="ClientDiv" class="case-note">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 addn-al" style="padding: 0;">
                            <div class="col-sm-4">
                                <div class="addn-poup-div">
                                    <label>Tags <sup style="color:red">*</sup> </label>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding: 0;">
                                <input type="text" id="CaseNotetags" name="CaseNotetags" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 addn-al" style="padding: 0;">
                            <div class="col-sm-4">
                                <div class="addn-poup-div">
                                    <label>Developmental Team</label>
                                </div>
                            </div>
                            <div class="col-sm-8" style="padding: 0;">
                                <div id="StaffDiv" class="case-note">
                                    @if (TempData["UserList"] != null)
                                    {
                                        foreach (var item1 in ((List<FingerprintsModel.RosterNew.User>)TempData["UserList"]))
                                        {
                                            <div class="col-sm-12"><input type="checkbox" name="TeamIds.IDS" value="@item1.Id" /><span> @item1.Name</span></div>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 addn-al" style="padding: 0;">
                            <div class="col-sm-4">
                                <div class="addn-poup-div">
                                    <label>Secure Note Level?</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <input type="checkbox" id="CaseNoteSecurity" value="true" name="CaseNoteSecurity" />
                                <span>Yes</span>
                            </div>
                        </div>
                        @*<div class="col-sm-12 adddivspace">
                            <div class="col-sm-2">
                                <label>Secure Note Level?</label>
                            </div>
                            <div class="col-sm-2" style="margin-left:16px;">
                                <input type="checkbox" id="CaseNoteSecurity" value="true" name="CaseNoteSecurity" />
                                <span>Yes</span>
                            </div>
                        </div>*@
                        <div class="col-xs-12 addn-al" style="padding: 0;">
                            <div id="Attachment">
                                <div class="col-sm-4">

                                    <div class="addn-poup-div">
                                        <label>Attachment</label>
                                    </div>
                                </div>

                                    <div class="col-sm-5">
                                        <input type="file" name="Attachments[0].file" onchange="ValidateSingleInputpdf2(this)" class="form-control" />
                                    </div>
                                    <div class="col-sm-3 adddivspace">
                                        <span>Add Attachment </span>
                                        <a href="javascript:void(0)" title="Add Attachment " onclick="AddMore();"><i class="fa fa-plus-square"></i></a>
                                    </div>
                               
                            </div> 
                                <div id="Attachments" style="display:none;">
                                    <div class="col-sm-4">
                                        <div class="addn-poup-div">
                                            <label>Download Attachment</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8" style="padding: 0;">
                                        <div id="Attach" class="adddivspace">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-12 bdr-popup"></div>
                    <div class="col-xs-12" style="margin-top:10px;margin-bottom:15px;">
                        <div class="btnwrp_subcal" style="padding:0; margin:0;">
                            @*<button type="submit" id="SaveNoteSubmit" onclick="return Validatecasenote();" class="my-btn pull-right" style="background:#2ecc71;">Save</button>
                            <button type="button" class="my-btn pull-right" data-dismiss="modal" style="background:#db4437;">Exit</button>*@
                        
                            <button type="submit" id="SaveNoteSubmit" onclick="return Validatecasenote();" style="background:#2ecc71;" class="my-btn pull-right">Save</button>
                            <button type="button" class="my-btn pull-right" data-dismiss="modal" style="background:#db4437;">Exit</button>
                        
                        </div>
                    </div>
                    </div>



                    @*<div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-center"><span id="CaseNoteHeading" class="extra-title muted">Add New Group Case Note</span></h3>
                         
                        </div>
                        <div class="control-group">
                            <div>
                                <div class="row qualifierdiv add-useragform1">
                                    <div class="row" style="margin-bottom:3%;">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2">
                                                <label>Date <sup style="color:red">*</sup></label>
                                            </div>
                                            <div class="col-sm-10">
                                                <input type="text" id="CaseNoteDate" name="CaseNoteDate" onblur="Checkdate(this);" placeholder="MM/DD/YYYY" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 adddivspace">
                                            <div class="col-sm-2">
                                                <label>Title <sup style="color:red">*</sup></label>
                                            </div>
                                            <div class="col-sm-10">
                                                <input type="text" maxlength="100" id="CaseNotetitle" name="CaseNotetitle" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 adddivspace">
                                            <div class="col-sm-2">
                                                <label>Note <sup style="color:red">*</sup></label>
                                            </div>
                                            <div class="col-sm-10">
                                                <textarea id="Note" name="Note">  </textarea>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 adddivspace" style="display:none;">
                                            <div class="col-xs-3  col-sm-2">
                                                <label>Clients  <sup style="color:red">*</sup></label>
                                            </div>
                                            <div class="col-xs-9 col-sm-10">
                                                <div id="ClientDiv" class="case-note">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 adddivspace">
                                            <div class="col-sm-2">
                                                <label>Tags <sup style="color:red">*</sup> </label>
                                            </div>
                                            <div class="col-sm-10">
                                                <input type="text" id="CaseNotetags" name="CaseNotetags" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 adddivspace">
                                            <div class="col-xs-3 col-sm-2">
                                                <label>Developmental Team</label>
                                            </div>
                                            <div class="col-xs-9 col-sm-10" id="Divstaff">
                                                <div id="StaffDiv" class="case-note">
                                                    @if (TempData["UserList"] != null)
                                                    {
                                                        foreach (var item1 in ((List<FingerprintsModel.RosterNew.User>)TempData["UserList"]))
                                                        {
                                                            <div class="col-sm-12"><input type="checkbox" name="TeamIds.IDS" value="@item1.Id" /><span> @item1.Name</span></div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 adddivspace">
                                            <div class="col-sm-2">
                                                <label>Secure Note Level?</label>
                                            </div>
                                            <div class="col-sm-2" style="margin-left:16px;">
                                                <input type="checkbox" id="CaseNoteSecurity" value="true" name="CaseNoteSecurity" />
                                                <span>Yes</span>
                                            </div>
                                        </div>
                                        <div id="Attachment">
                                            <div class="col-sm-12 adddivspace">
                                                <div class="col-sm-2">
                                                    <label>Attachment</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="file" name="Attachments[0].file" onchange="ValidateSingleInputpdf2(this)" class="form-control" />
                                                </div>
                                                <div class="col-sm-3 adddivspace">
                                                    <span>Add Attachment </span>
                                                    <a href="javascript:void(0)" title="Add Attachment " onclick="AddMore();"><i class="fa fa-plus-square"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Attachments" style="display:none;">
                                            <div class="col-sm-12 adddivspace">
                                                <div class="col-sm-2">
                                                    <label>Download Attachment</label>
                                                </div>
                                                <div id="Attach" class="col-sm-10 adddivspace">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
        </div>

    </div>
</form>