@model   List<FingerprintsModel.FamilyHousehold.calculateincome>

 <div class="modal-dialog income-popup">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Income Calculator Guardian 1<span class="extra-title muted"></span></h3>
            </div>
            <div class="control-group">
                <div>
                    <div class="col-md-3" style="margin-bottom:1%;">
                        <input type="hidden" name="Income1[0].newincomeid" value="@Model[0].newincomeid">
                        @if (Model[0].Income == 1)
                        {
                            <input type="radio" name="Income1[0].Income" checked="checked" id="NoIncome" value="1" onchange="DisableIncone(this);">
                        }
                        else
                        {
                            <input type="radio" name="Income1[0].Income" id="NoIncome" value="1" onchange="DisableIncone(this);">

                        }
                        <span class="incomespan">No Income </span>
                    </div>
                    <div id="Hideshowincome" style="display:none;">
                        @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                        {
                            <div class="col-md-5">
                                @if (Model[0].Income == 1)
                                {
                                    <input type="file" accept="image/*" capture="camera" name="Income1[0].NoIncomeAvatar" disabled="disabled" onchange="ValidateFileinput3(this)" class="form-control">
                                }
                                else
                                {
                                    <input type="file" accept="image/*" capture="camera" name="Income1[0].NoIncomeAvatar" onchange="ValidateFileinput3(this)" class="form-control">
                                }
                            </div>
                        }
                        @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "1" || Session["Docsstorage"].ToString() == "2")
                        {
                            <div class="col-md-5" style="display:none;">
                                @if (Model[0].Income == 1)
                                {
                                    <input type="file" accept="image/*" capture="camera" name="Income1[0].NoIncomeAvatar" disabled="disabled" onchange="ValidateFileinput3(this)" class="form-control">
                                }
                                else
                                {
                                    <input type="file" accept="image/*" capture="camera" name="Income1[0].NoIncomeAvatar" onchange="ValidateFileinput3(this)" class="form-control">
                                }
                            </div>
                        }
                        @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "2")
                        {
                            <div class="col-md-4  cont-sz" style="margin-top: 5px;">
                                @if (Model[0].noincomepaper)
                                {
                                    <input type="checkbox" name="Income1[0].noincomepaper" checked="checked" value="true" class="minimal" />
                                }
                                else
                                {
                                    <input type="checkbox" name="Income1[0].noincomepaper" value="true" disabled="disabled" class="minimal" />
                                }
                                <span style="width:45px;">Paper</span>
                            </div>
                        }
                        @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                        {
                            <div class="col-md-2 attachmentmargintop">
                                @if (!string.IsNullOrEmpty(Model[0].NoIncomeFilename4))
                                {
                                    <a target="_blank" href="~/Agencyuser/getpdfimage/0,@Model[0].newincomeid"><i class="fa fa-download"></i></a>
                                }
                            </div>
                        }
                    </div>
                    <div class="col-md-12" style="margin-bottom:3%;">
                        @if (Model[0].Income == 2)
                        {
                            <input type="radio" checked="checked" name="Income1[0].Income" id="Income" value="2" onchange="EnableIncome(this);">
                        }
                        else
                        {
                            <input type="radio" name="Income1[0].Income" id="Income" value="2" onchange="EnableIncome(this);">
                        }

                        <span class="incomespan">Income Source </span>
                    </div>
                    <div class="clearfix"></div>
                    <div style="margin:0 0 35px;display:none;" id="divisource">
                        <div class="col-xs-5">
                            <span class="incomespan">Income Source Name</span>
                            <input type="text" maxlength="50" class="form-control" id="IncomeSourcecheck" disabled="disabled" style="width:80%; float:left; margin-top:4%;">
                            <span style="float: left; margin: 21px 0 0 10px;">
                                <a id="a1" href="javascript:void(0)" onclick="AddIncomeDiv();"><i class="fa fa-arrow-up"></i></a>
                            </span>
                        </div>
                        @if (string.IsNullOrEmpty(@Model[0].IncomeSource1))
                        {
                            <div class="col-sm-3">
                                <input type="text" id="C1" style="display:none; margin-top:6%;" class="form-control" readonly="readonly" placeholder="Calculated Income" />
                            </div>
                            <div class="col-xs-3 " style="margin-top: 1%;display:none;" id="Divcalculateshow1">
                                <button id="btnSubmitDentist" onclick="CalculateIncome();" class="my-btn" type="button" style="width:100% !important;">Calculate Income</button>
                            </div>

                        }
                        else
                        {
                            <div class="col-sm-3">
                                <input type="text" id="C1" style="margin-top: 6%;" readonly="readonly" class="form-control" placeholder="Calculated Income" />
                            </div>
                            <div class="col-xs-3" style="margin-top: 1%;" id="Divcalculateshow1">
                                <button id="btnSubmitDentist" onclick="CalculateIncome();" class="my-btn" type="button" style="width:100% !important;">Calculate Income</button>
                            </div>
                        }


                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="DivFirst">
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        if (!string.IsNullOrEmpty(@item.IncomeSource1) && @item.Income == 2)
                        {
                            <div class="col-sm-12">
                                <div class="col-sm-12 income-box">
                                    <div class="income-close"><a onclick="DeleteIncomeSource(this);" accesskey="@item.newincomeid" href="#"><i class="fa fa-times"></i></a></div>
                                    <div class="col-md-12 bold_none">
                                        <div class="income-heading"><span class="incomespan">@item.IncomeSource1</span></div>
                                        <div>
                                            <div class="form-group col-md-12 mrBt15">
                                                <div class="col-md-2">
                                                    <label for="exampleInputFile">Amount1($) </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="Income1[@i].AmountVocher1" placeholder="0" maxlength="8" value="@item.AmountVocher1" class="form-control" onkeyup="checkDec(this);" onblur="checkDecimal(this);">
                                                    <input type="hidden" value="@item.IncomeSource1" name="Income1[@i].IncomeSource1" />
                                                    <input type="hidden" style="display:none;" value="@item.newincomeid" name="Income1[@i].newincomeid" />
                                                </div>
                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                                                {
                                                    <div class="col-md-4">
                                                        <input name="Income1[@i].SalaryAvatar1" accept="image/*" capture="camera" accesskey="1" type="file" onchange="ValidateFileinput3(this)" value="@item.SalaryAvatar1" class="form-control">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4" style="display:none;">
                                                        <input name="Income1[@i].SalaryAvatar1" accept="image/*" capture="camera" accesskey="1" type="file" onchange="ValidateFileinput3(this)" value="@item.SalaryAvatar1" class="form-control">
                                                    </div>

                                                }


                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "2")
                                                {
                                                    <div class="col-md-4  cont-sz">
                                                        @if (@item.incomePaper1)
                                                        {
                                                            <input type="checkbox" checked="checked" value="true" name="Income1[@i].incomePaper1" class="minimal" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="true" name="Income1[@i].incomePaper1" class="minimal" />
                                                        }
                                                        <label style="width:45px;">Paper</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4  cont-sz" style="display:none;">
                                                        @if (@item.incomePaper1)
                                                        {
                                                            <input type="checkbox" checked="checked" value="true" name="Income1[@i].incomePaper1" class="minimal" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="true" name="Income1[@i].incomePaper1" class="minimal" />
                                                        }
                                                        <label style="width:45px;">Paper</label>
                                                    </div>


                                                }


                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                                                {
                                                    <div class="col-md-1 attachmentmargintop">
                                                        @if (!string.IsNullOrEmpty(@item.SalaryAvatarFilename1))
                                                        {
                                                            <a target="_blank" title="Click here to download" href="~/Agencyuser/getpdfimage/1,@item.newincomeid"><i class="fa fa-download"></i></a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="form-group col-md-12 mrBt15">
                                                <div class="col-md-2">
                                                    <label for="exampleInputFile">Amount2($) </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="Income1[@i].AmountVocher2" accesskey="1" placeholder="0" maxlength="8" value="@item.AmountVocher2" class="form-control" onkeyup="checkDec(this);" onblur="checkDecimal(this);">
                                                </div>
                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                                                {
                                                    <div class="col-md-4">
                                                        <input name="Income1[@i].SalaryAvatar2" accept="image/*" capture="camera" accesskey="1" type="file" onchange="ValidateFileinput3(this)" value="@item.SalaryAvatar2" class="form-control">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4" style="display:none;">
                                                        <input name="Income1[@i].SalaryAvatar2" accept="image/*" capture="camera" accesskey="1" type="file" onchange="ValidateFileinput3(this)" value="@item.SalaryAvatar2" class="form-control">
                                                    </div>

                                                }
                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "2")
                                                {
                                                    <div class="col-md-4  cont-sz">
                                                        @if (@item.incomePaper2)
                                                        {
                                                            <input type="checkbox" checked="checked" value="true" name="Income1[@i].incomePaper2" class="minimal" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="true" name="Income1[@i].incomePaper2" class="minimal" />
                                                        }
                                                        <label style="width:45px;">Paper</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4  cont-sz" style="display:none;">
                                                        @if (@item.incomePaper2)
                                                        {
                                                            <input type="checkbox" checked="checked" value="true" name="Income1[@i].incomePaper2" class="minimal" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="true" name="Income1[@i].incomePaper2" class="minimal" />
                                                        }
                                                        <label style="width:45px;">Paper</label>
                                                    </div>
                                                }
                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                                                {
                                                    <div class="col-md-1 attachmentmargintop">
                                                        @if (!string.IsNullOrEmpty(@item.SalaryAvatarFilename2))
                                                        {
                                                            <a target="_blank" title="Click here to download" href="~/Agencyuser/getpdfimage/2,@item.newincomeid"><i class="fa fa-download"></i></a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="form-group col-md-12 mrBt15">
                                                <div class="col-md-2">
                                                    <label for="exampleInputFile">Amount3($) </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="Income1[@i].AmountVocher3" accesskey="1" placeholder="0" maxlength="8" value="@item.AmountVocher3" class="form-control" onkeyup="checkDec(this);" onblur="checkDecimal(this);">
                                                </div>
                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                                                {
                                                    <div class="col-md-4">
                                                        <input name="Income1[@i].SalaryAvatar3" accept="image/*" capture="camera" accesskey="1" type="file" onchange="ValidateFileinput3(this)" value="@item.SalaryAvatar3" class="form-control">
                                                    </div>
                                                }
                                                else
                                                {

                                                    <div class="col-md-4" style="display:none;">
                                                        <input name="Income1[@i].SalaryAvatar3" accept="image/*" capture="camera" accesskey="1" type="file" onchange="ValidateFileinput3(this)" value="@item.SalaryAvatar3" class="form-control">
                                                    </div>

                                                }



                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "2")
                                                {
                                                    <div class="col-md-4  cont-sz">
                                                        @if (@item.incomePaper3)
                                                        {
                                                            <input type="checkbox" checked="checked" value="true" name="Income1[@i].incomePaper3" class="minimal" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="true" name="Income1[@i].incomePaper3" class="minimal" />
                                                        }
                                                        <label style="width:45px;">Paper</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4  cont-sz" style="display:none;">
                                                        @if (@item.incomePaper3)
                                                        {
                                                            <input type="checkbox" checked="checked" value="true" name="Income1[@i].incomePaper3" class="minimal" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="true" name="Income1[@i].incomePaper3" class="minimal" />
                                                        }
                                                        <label style="width:45px;">Paper</label>
                                                    </div>
                                                }




                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                                                {
                                                    <div class="col-md-1 attachmentmargintop">
                                                        @if (!string.IsNullOrEmpty(@item.SalaryAvatarFilename3))
                                                        {
                                                            <a target="_blank" title="Click here to download" href="~/Agencyuser/getpdfimage/3,@item.newincomeid"><i class="fa fa-download"></i></a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            <div class="form-group col-md-12 mrBt15">
                                                <div class="col-md-2">
                                                    <label for="exampleInputFile">Amount4($) </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="Income1[@i].AmountVocher4" accesskey="1" placeholder="0" maxlength="8" value="@item.AmountVocher4" class="form-control" onkeyup="checkDec(this);" onblur="checkDecimal(this);">
                                                </div>



                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                                                {
                                                    <div class="col-md-4">
                                                        <input name="Income1[@i].SalaryAvatar4" accept="image/*" capture="camera" accesskey="1" type="file" onchange="ValidateFileinput3(this)" value="@item.SalaryAvatar4" class="form-control">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4" style="display:none;">
                                                        <input name="Income1[@i].SalaryAvatar4" accept="image/*" capture="camera" accesskey="1" type="file" onchange="ValidateFileinput3(this)" value="@item.SalaryAvatar4" class="form-control">
                                                    </div>
                                                }
                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "2")
                                                {
                                                    <div class="col-md-4  cont-sz">
                                                        @if (@item.incomePaper4)
                                                        {
                                                            <input type="checkbox" checked="checked" value="true" name="Income1[@i].incomePaper4" class="minimal" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="true" name="Income1[@i].incomePaper4" class="minimal" />
                                                        }
                                                        <label style="width:45px;">Paper</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4  cont-sz" style="display:none;">
                                                        @if (@item.incomePaper4)
                                                        {
                                                            <input type="checkbox" checked="checked" value="true" name="Income1[@i].incomePaper4" class="minimal" />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="true" name="Income1[@i].incomePaper4" class="minimal" />
                                                        }
                                                        <label style="width:45px;">Paper</label>
                                                    </div>
                                                }


                                                @if (Session["Docsstorage"] != null && Session["Docsstorage"].ToString() == "0")
                                                {
                                                    <div class="col-md-1 attachmentmargintop">
                                                        @if (!string.IsNullOrEmpty(@item.SalaryAvatarFilename4))
                                                        {
                                                            <a target="_blank" title="Click here to download" href="~/Agencyuser/getpdfimage/4,@item.newincomeid"><i class="fa fa-download"></i></a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 mrBt15">
                                            <div class="col-md-2">
                                                <label for="exampleInputFile">Pay Frequency</label>
                                            </div>
                                            <div class="col-md-4">
                                                <select class="form-control" onchange="Setworkingperiod(this)" accesskey="2" name="Income1[@i].Payfrequency">
                                                    @if (@item.Payfrequency == 5)
                                                    {
                                                        <option value="5" selected="selected">Annually</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="5">Annually</option>
                                                    }
                                                    @if (@item.Payfrequency == 1)
                                                    {
                                                        <option value="1" selected="selected">Bi-Monthly</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="1">Bi-Monthly</option>
                                                    }
                                                    @if (@item.Payfrequency == 2)
                                                    {
                                                        <option value="2" selected="selected">Bi-Weekly</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="2">Bi-Weekly</option>
                                                    }
                                                    @if (@item.Payfrequency == 3)
                                                    {
                                                        <option value="3" selected="selected">Monthly</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="3">Monthly</option>
                                                    }
                                                    @if (@item.Payfrequency == 4)
                                                    {
                                                        <option value="4" selected="selected">Weekly</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="4">Weekly</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 mrBt15">
                                            <div class="col-md-2">
                                                <label for="exampleInputFile">Working Period </label>
                                            </div>
                                            <div class="col-md-4">

                                                @if (@item.Payfrequency == 5)
                                                {
                                                    <input name="Income1[@i].Working" type="text" readonly="readonly" accesskey="3" onblur="checkIfNumeric(this);" value="@item.Working" class="form-control">

                                                }
                                                else
                                                {

                                                    <input name="Income1[@i].Working" type="text" accesskey="3" onblur="checkIfNumeric(this);" value="@item.Working" class="form-control">
                                                }


                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 mrBt15">
                                            <div class="col-md-2">
                                                <label for="exampleInputFile">Calculated Income($) </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input name="Income1[@i].IncomeCalculated" accesskey="4" placeholder="0" maxlength="20" type="text" onblur="checkIfNumeric(this);" readonly="true" value="@item.IncomeCalculated" class="form-control">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        i++;
                    }

                </div>

                @if (string.IsNullOrEmpty(@Model[0].IncomeSource1))
                {
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="C2" style="display:none;" class="form-control" readonly="readonly" placeholder="Calculated Income" />
                        </div>
                        <div class="col-sm-3" style="display:none" id="Divcalculateshow2">
                            <button id="btnSubmitDentist" onclick="CalculateIncome();" class="my-btn" type="button" style="width:100% !important;">Calculate Income</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12">

                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="C2" readonly="readonly" class="form-control" placeholder="Calculated Income" />
                        </div>
                        <div class="col-sm-3" id="Divcalculateshow2">
                            <button id="btnSubmitDentist" onclick="CalculateIncome();" class="my-btn" type="button" style="width:100% !important;">Calculate Income</button>
                        </div>
                    </div>
                }

                <div class="col-md-12">
                    <div class="btnwrp_subcal">
                        <button onclick="return AddIncome();" name="Command" class="my-btn" type="button" value="Saveincome">Save</button>
                        <button id="btnCancelPassword" class="my-btn" data-dismiss="modal" type="button">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
