@model FingerprintsModel.BusMonitorAnalysisList
@{
    ViewBag.Title = "Bus Monitor Dashboard";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@section maincontentholder{
    <link href="~/Content/Transportation/transportationanalysis.css" rel="stylesheet" />
    <style>
        #page-wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        select option {
            background: #164273;
        }

        .scroll-thead th {
            border: 1px solid #f1f5f8;
        }

        .scroll-thead {
            display: table;
            width: 100%;
            table-layout: fixed;
            width: calc( 100% - 17px );
        }
        .scroll-tbody tr td, .scroll-tbody1 tr td {
            word-break: break-word;
        }

        .scroll-tbody {
            display: block;
            height: 250px;
            overflow: auto;
            overflow-x: hidden;
        }

            .scroll-tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

        .scroll-tbody1 {
            display: block;
        }

            .scroll-tbody1 tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
    </style>


<div class="container-fluid">
    <div class="row">


        <!-------HTML PAGE-->

        <div class="right-side-container-ch">
            <div class="col-xs-12 no-padding">
                <div class="top-header">
                    <div class="col-xs-12 no-padding">
                        <div class="top-header-title-transportation">
                            <h1>Bus Monitor Transportation Analysis</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 no-padding">
                <div id="no-more-tables-transporation" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                    <div class="col-xs-12" style="border-radius: 10px;background: #f1f5f8;padding: 10px;width: 98%;margin:20px 1%;">
                        <table class="col-md-12 table-striped table-condensed cf table-change transportation-table">
                            <thead class="table-hd">
                                <tr>
                                    <th style="text-align: left!important;" class="analysis-wt">Route Name</th>
                                    @*<th class="analysis-wt1">Riders</th>*@
                                    <th class="analysis-wt1">Pick Up</th>
                                    <th class="analysis-wt1">Drop Off</th>
                                </tr>
                            </thead>
                            <tbody class="transportation-table-head transport_table_body">
                                @if(Model.ListBusMonitor.Count()>0)
                                {
                                    foreach (var item in Model.ListBusMonitor)
                                    {
                                        <tr style="height: 10px;"></tr>
                                            <tr>
                                                <td data-title="Route Name" enc_id="@item.CenterId" RouteType="@item.RouteType">
                                                    <p class="center-name" style="text-align: left;color:#337ab7;">@item.RouteName</p>
                                                </td>

                                               
                                                <td data-title="Pick Up">
                                                    @if (item.PickUp > 0)
                                                    {
                                                        <p style="color:#337ab7;"><a href="javascript:void(0);" pic_count="@item.PickUp" onclick="pickupCountClick(this);" class="pickup_count" style="color:#337ab7;text-decoration:underline;">@item.PickUp</a></p>
                                                    }
                                                    else
                                                    {

                                                        <p style="color:#337ab7;"><a href="javascript:void(0);" pic_count="@item.PickUp" class="pickup_count" style="color:#337ab7;text-decoration:none;cursor:default;">@item.PickUp</a></p>

                                                    }
                                                </td>
                                                <td data-title="Drop Off">
                                                    @if (item.Drop > 0)
                                                    {
                                                        <p style="color:#337ab7;"><a href="javascript:void(0);" dro_count="@item.Drop" onclick="dropOffClick(this);" class="dropoff_count" style="color:#337ab7;text-decoration:underline;">@item.Drop</a></p>
                                                    }
                                                    else
                                                    {
                                                        <p style="color:#337ab7;"><a href="javascript:void(0);" dro_count="@item.Drop" class="dropoff_count" style="color:#337ab7;text-decoration:none;cursor:default;">@item.Drop</a></p>

                                                    }
                                                </td>
                                            </tr>
                                    }

                                    <tr style="height: 10px;"></tr>
                                        <tr>
                                            <td data-title="Center Name">
                                                <p style="text-align: left;color:#337ab7;"><strong>Total</strong></p>
                                            </td>
                                          
                                            <td data-title="Pick Up">
                                                <p style="color:#337ab7;"><strong>@Model.AnalysisTotal.PickUpTotal</strong></p>
                                            </td>
                                            <td data-title="Drop Off">
                                                <p style="color:#337ab7;"><strong>@Model.AnalysisTotal.DropOffTotal</strong></p>
                                            </td>
                                        </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">
                                            <p style="text-decoration:underline;cursor:pointer;">No data found</p>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="riders_transportationDiv" class="col-xs-12 no-padding" style="display:none;">
                    <div class="col-xs-12 analysis-detl-title" style="position: relative;">
                        <h2 id="rider_centerName">Center A Rider</h2>
                        <div class="analysis_ovr"><img src="/images/text-bdr.png" class="img-responsive"></div>
                        <div class="analysis-bt-al">
                            <div class="analysis-btn">
                                <a href="javascript:void(0);" class="back_button">Back</a>
                            </div>
                        </div>
                    </div>
                    <div id="no-more-tables-transporation1" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                        <div class="col-xs-12" style="border-radius: 10px;background: #f1f5f8;padding: 10px;width: 98%;margin:20px 1%;">
                            <table class="col-md-12 table-striped table-condensed cf table-change transportation-table1">
                                <thead class="table-hd scroll-thead">
                                    <tr>
                                        <th>Children Name</th>
                                        <th>Address</th>
                                        <th>Phone No</th>
                                        <th class="clear_pickup">Pick Up</th>
                                        <th class="clear_dropoff">Drop Off</th>
                                        <th>Disability</th>
                                        <th>Allergy</th>

                                    </tr>
                                </thead>
                                <tbody class="transportation-table-head1 riders_table_body scroll-tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="pickUp_transportationDiv" class="col-xs-12 no-padding" style="display:none">
                    <div class="col-xs-12 analysis-detl-title" style="position: relative;">
                        <h2 id="pickup_centerName">Center A Pickup</h2>
                        <div class="analysis_ovr"><img src="/images/text-bdr.png" class="img-responsive"></div>
                        <div class="analysis-bt-al">
                            <div class="analysis-btn">
                                <a href="javascript:void(0);" class="back_button">Back</a>
                            </div>
                        </div>
                    </div>
                    <div id="no-more-tables-transporation1" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                        <div class="col-xs-12" style="border-radius: 10px;background: #f1f5f8;padding: 10px;width: 98%;margin:20px 1%;">
                            <table class="col-md-12 table-striped table-condensed cf table-change transportation-table1">
                                <thead class="table-hd scroll-thead">
                                    <tr>
                                        <th>Route Name</th>
                                        <th>Bus Driver</th>
                                        <th>Bus Monitor</th>
                                        <th>No of Stops</th>
                                    </tr>
                                </thead>
                                <tbody class="transportation-table-head1 pickupTableBody scroll-tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="dropoff_transportationDiv" class="col-xs-12 no-padding" style="display:none">

                    <div class="col-xs-12 analysis-detl-title" style="position: relative;">
                        <h2 id="dropoff_centerName">Center A Dropoff</h2>
                        <div class="analysis_ovr"><img src="/images/text-bdr.png" class="img-responsive"></div>
                        <div class="analysis-bt-al">
                            <div class="analysis-btn">
                                <a href="javascript:void(0);" class="back_button">Back</a>
                            </div>
                        </div>
                    </div>
                    <div id="no-more-tables-transporation1" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                        <div class="col-xs-12" style="border-radius: 10px;background: #f1f5f8;padding: 10px;width: 98%;margin:20px 1%;">
                            <table class="col-md-12 table-striped table-condensed cf table-change transportation-table1">
                                <thead class="table-hd  scroll-thead">
                                    <tr>
                                        <th>Route Name</th>
                                        <th>Bus Driver</th>
                                        <th>Bus Monitor</th>
                                        <th style="text-transform: none;">No of Stops</th>
                                    </tr>
                                </thead>
                                <tbody class="transportation-table-head1 dropoffTableBody scroll-tbody"></tbody>
                            </table>
                        </div>
                    </div>


                </div>

            </div>

        </div>

        <!----HTML PAGE END-->
    </div>
</div>


    <script>
        var centerID = '';
        var centerName = '';
        var routeType = '';
        var isZero = '0';

        $(function () {
            changeSizeOfWindow();
        })
        function getCenter_Name_ID(ele) {            
            centerID = $(ele).closest('tr').find('td').eq(0).attr('enc_id');
            routeType = $(ele).closest('tr').find('td').eq(0).attr('RouteType');
            centerName = $(ele).closest('tr').find('td').eq(0).children('p').html();
        }
        

        function pickupCountClick(pickup) {
            var centerID = $(pickup).closest('tr').find('td').eq(0).attr('enc_id')

            getCenter_Name_ID(pickup);
            getAssignedChildrenForPickup(centerID, 1);
        }

        function dropOffClick(dropOff) {
            var centerID = $(dropOff).closest('tr').find('td').eq(0).attr('enc_id')

            getCenter_Name_ID(dropOff);
            getAssignedChildrenForPickup(centerID, 2);

        }

       

        $('.back_button').on('click', function () {

            $('#no-more-tables-transporation').show();
            $('#pickUp_transportationDiv,#riders_transportationDiv,#dropoff_transportationDiv').hide();

        });
       



        function getAssignedChildrenForPickup(centerID, route) {

            $.ajax({
                url: '/BusMonitor/GetBusRiderChildren',
                datatype: 'json',
                type: 'post',
                data: { centerId: centerID, routetype: route },
                success: function (data) {
                    console.log(data);
                    var arr = ["0", "Home", "Mobile", "Work"];
                    var bindTemp = '';
                    console.log(data);
                    if (data.length > 0) {
                        $.each(data, function (i, riderChild) {
                            bindTemp += '<tr>' +
                                        '<td style="line-height: 25px;" data-title="Children Name"><p>' + riderChild.ClientName + '</p></td>';
                            bindTemp += '<td data-title="Address" style="text-align:left;"><p style="font-size:14px;">' + riderChild.Address + '</p></td>';
                            var phone = '<p>';

                            $.each(riderChild.PhoneList, function (j, phoneNo) {
                                phone += '<dl><dt>' + arr[phoneNo.Text] + '</dt><dd>' + phoneNo.Value + '</dd></dl>';
                            });
                            phone += '</p>';

                            if (route == 1)
                            {
                                $('.clear_pickup').removeClass('hidden');
                                $('.clear_dropoff').addClass('hidden');                                
                                bindTemp += '<td data-title="Phone No" >' + phone + '</td>' +
                                       '<td data-title="Pick Up"><p  style="font-size:14px;">' + riderChild.PickUpAddress + '</p></td>' +
                                       '<td class="hidden" data-title="Drop Off"><p style="font-size:14px;"> ' + riderChild.DropAddress + '</p></td>' +
                                       '<td data-title="Disability"><p>' + riderChild.Disability + '</p></td>' +
                                       '<td data-title="Allergy"><p>' + riderChild.Allergy + '</p></td>' +                                       
                                   '</tr>';

                            }
                            else
                            {                               
                                
                                $('.clear_dropoff').removeClass('hidden');
                                $('.clear_pickup').addClass('hidden');                              
                                bindTemp += '<td data-title="Phone No" >' + phone + '</td>' +
                                     '<td class="hidden" data-title="Pick Up"><p  style="font-size:14px;">' + riderChild.PickUpAddress + '</p></td>' +
                                      '<td data-title="Drop Off"><p style="font-size:14px;"> ' + riderChild.DropAddress + '</p></td>' +
                                      '<td data-title="Disability"><p>' + riderChild.Disability + '</p></td>' +
                                      '<td data-title="Allergy"><p>' + riderChild.Allergy + '</p></td>' +
                                      //'<td data-title="Comments"><p>' + riderChild.Allergy + '</p></td>' +
                                  '</tr>';

                            }
                          
                        });

                    }
                    else {
                        bindTemp = '<tr style="line-height:51px;font-size:15px;"><td colspan="7" style="margin-top:20px;text-align:center;margin-top:20px;">No Results Found</td></tr>';
                    }
                    $('#riders_transportationDiv').find('.riders_table_body').html(bindTemp);
                    $('#riders_transportationDiv').find('#rider_centerName').html(centerName + ' Rider');

                    $('#riders_transportationDiv').show();
                    $('#pickUp_transportationDiv,#no-more-tables-transporation,#dropoff_transportationDiv').hide();

                },
                error: function (data) {

                }
            });
        }


        function changeSizeOfWindow() {
            $(window).bind("load resize", function () {

                topOffset = 50;
                width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
                if (width < 768) {
                    topOffset = 100; // 2-row-menu
                }

                height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
                console.log(height + 'height');
                height = height - topOffset;
                if (height < 1) height = 1;
                if (height > topOffset) {
                    var fileHeight = height - 25;
                    console.log(fileHeight + 'client');
                    $('.right-side-container-ch').css('min-height', (fileHeight - 5) + 'px');
                }

            });
        }






    </script>




    }